{
  "openapi": "3.0.2",
  "info": {
    "title": "Core API Reference",
    "version": "1.0",
    "description": "The Counterbalance Core API provides powerful, programmatic access to the Counterbalance platform and powers its feature-rich building management UI. Everything that is possible via the Counterbalance System Console is powered by this API.\n\nThis documentation walks through the API endpoints and their usage.\n\n## Supported HTTP Operations\nOur APIs supports the `GET`,`POST`,`PUT`,`PATCH`,`DELETE`, & `OPTIONS` verbs. General usage of these verbs is outlined in the following table.\n\nVerb | Description\n-----|------------\n`GET`     | Retrieves existing resources\n`POST`    | Creates a new resource and returns it\n`PUT`     | Creates a new resource within or attached to an existing resource and returns the new resource\n`PATCH`   | Updates an existing resource and returns the updated resource\n`DELETE`  | Removes an existing resource and returns nothing\n`OPTIONS` | List available verbs against a resource\n\n## Status Codes\n\nOur APIs return standard HTTP status codes. All status codes used are outlined below. \n\n### Success Codes\n\nCode | Response | Description\n-----|----------|---------\n**200** | `Ok` | The request was completed successfully. Response body will vary.\n**201** | `Created` | In response to a PUT or POST request, the resource was created successfully. The new resource's ID will be returned in the response body.\n**204** | `No Content` | The request was completed successfully and there is no response body to return. Such as when an object has been deleted. The response body will be _null_.\n\n### Error Codes\n\nCode | Response | Description\n-----|----------|---------\n**400** | `Bad Request` | The request was malformed, provided incorrect/incomplete/conflicting parameters, or the requested endpoint does not exist. The response body will contain additional information about why the error has occurred. Do not repeat the request without modifying it first.\n**401** | `Unauthorized` | The request requires an Authorization header and a valid token but either neither was provided or the provided token has expired. Refer to the error message provided to determine the proper course of action. \n**403** | `Forbidden` | The API authentication was successful but the user does not have adequate permissions to satisfy the request or the tenant account is locked.\n**404** | `Not Found` | The resource requested does not exist or was not found.\n**409** | `Conflict` | The provided combination of parameters results in a conflict and the resource cannot be updated. The error message output will provide additional information as to why the call cannot be completed.\n**5XX** | _`varies`_ | The API encountered an internal error when processing the request. The error message provided may provide additional information. Retrying the request after a few minutes may be successful.\n\n## Authenticating Requests\nThe authentication requirement for each API varies, but in general, most endpoints will require authentication. \n\nTo authenticate, add an `Authorization` header with a valid **Bearer** token.\n```\nAuthorization: Bearer eyJg...fw5c\n```\n\n### Obtaining an Access Token\nFollow the steps below to obtain an access token for use with these docs.\n1. Open [Counterbalance Single Sign-On](https://sso.counterbalance.io) and login when prompted\n2. Click **Copy Token** to copy an access token to your clipboard\n\n### Request Authorization\nSome API endpoints require a paid subscription. If a request is made to a paid feature that is not available, a `403 Forbidden` response will be returned. \n\nAdditionally, some platform resources and features are measured against a licensed quota limit. If an attempt is made to add additional resources once a quota limit has been reached, a `403 Forbidden` response will be returned.\n\n## Submitting Data\nWhen submitting non-binary data via a `POST`, `PUT`, or `PATCH` endpoint, the data payload must be in JSON.\n\nProcedures for submitting other types of data to platform APIs are documented on a per-endpoint basis. \n\n## Handling Errors\nAll API errors will return a common error response format. The response will provide an \n\n### Error Logging\n\nMost errors are automatically logged and reported. These errors will return a `logging_hash` entry ID in the error response body.\n\n```json\n{\n    \"error\": {\n        ...\n    },\n    \"logging_hash\": \"034dd6ad00770337bb07e906d919ed50f8884e86\"\n}\n```\n\nThis entry ID is also added as a header in the response.\n\n```\nX-Counterbalance-Log-Hash: 034dd6ad00770337bb07e906d919ed50f8884e86\n```\n",
    "termsOfService": "https://www.counterbalance.io/legal/api-terms",
    "contact": {
      "name": "Counterbalance Support",
      "email": "support@counterbalance.io"
    }
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/controller": {
      "get": {
        "summary": "Retrieve Controller",
        "tags": [
          "Controller"
        ],
        "responses": {},
        "operationId": "get-controller"
      },
      "post": {
        "summary": "Register Controller",
        "operationId": "register-controller",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Controller"
        ]
      }
    },
    "/site": {
      "get": {
        "summary": "List Sites",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Sites"
          }
        },
        "operationId": "list-sites",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve a list of site objects\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:list`\n\n### Filtering Results\nA combination of one or more query parameters may be used to filter returned data. Query parameters are stacked such that using multiple parameters will result in a narrower data set.\n\nWildcard searches are permitted on all query parameters. Wildcard searches are case insensitive and all data is forced to lowercase for matching purposes. See usage examples below.\n\n<!--\ntitle: \"Site Code Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/site?code=*MN*\n```\n<!--\ntitle: \"Site Name Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/site?name=*elementary*\n```",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "code",
            "description": "Filter results by site code. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by site name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter sites by description. Accepts * wildcard searches."
          }
        ],
        "tags": [
          "Site"
        ]
      },
      "post": {
        "summary": "Create Site",
        "operationId": "create-site",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Site"
          }
        },
        "description": "Create a new site object\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:create`\n\n> **Heads Up** This endpoint is subject to `site` quota availabilty\n\n### Defining Building Category & Type\nNew sites must be defined with a building `category` and `type`. In some cases, a type will have additional sub-types, in which case, the `sub_type` paramater must also be provided. \n\nCategory, type, and sub_type are all defined using an index ID. The various indexes and their values can be found in [this support article](https://counterbalance.zendesk.com/hc/en-us/articles/5405264196499).",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Site"
        },
        "tags": [
          "Site"
        ]
      }
    },
    "/site/{siteId}": {
      "get": {
        "summary": "Retrieve a Site",
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Retrieve-Site"
          }
        },
        "operationId": "get-site",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ]
    },
    "/site/address": {
      "parameters": [],
      "put": {
        "summary": "Add Address to Site",
        "operationId": "create-address",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                },
                "examples": {
                  "Response": {
                    "$ref": "#/components/examples/Address-Object"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Address-Already-Exists"
          },
          "404": {
            "$ref": "#/components/responses/404-Site-Not-Found"
          }
        },
        "description": "Create a new address object and attach it to a site\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:update`\n\n### Address Geocoding\nBy default, new addresses are geocoded to determine their GPS coordinates, timezone, and to fill-in various extended properties such as the locality, country, and ZIP or postcode. \n\nGeocoding is an optional process and can be skipped by setting `geocode` to `false` in the request body. If geocoding is skipped, the following additional body parameters become required: `county`, `country`, `postcode`, `timezone`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@site",
            "description": "A valid site UUID for which to assign this address"
          },
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Address"
        },
        "tags": [
          "Address"
        ]
      }
    },
    "/site/address/{addressId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/addressId"
        }
      ],
      "get": {
        "summary": "Retrieve Address",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Address"
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "operationId": "get-address",
        "description": "### Synopsis\nRetrieve the details for the specified address\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:address:*`,`sites:address:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Address"
        ]
      },
      "patch": {
        "summary": "Update Address",
        "operationId": "update-address",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Address"
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "description": "Update an address object\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:address:*`,`sites:address:update`",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Address"
        },
        "tags": [
          "Address"
        ]
      },
      "delete": {
        "summary": "Delete Address",
        "operationId": "delete-address",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "description": "Delete an address object\n\n**Required Permissions:** `*`,`sites:*`,`sites:address:*`,`sites:address:delete`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Address"
        ]
      }
    },
    "/site/address/{addressId}/operation": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "addressId",
          "in": "path",
          "required": true,
          "description": "A valid address UUID"
        }
      ],
      "post": {
        "summary": "Perform Address Operations",
        "operationId": "address-operations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Address"
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "description": "Perform operations on an address\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:address:*`,`sites:address:update`\n\n### Supported Operations\nThe following operations are currently supported:\n\n#### Address Normalization\nAn existing address object can be normalized or re-normalized by specifying the operation as `normalize`. The address' existing lines, city, and state values are used to generate a normalization query and updates are performed based on these values. If normalization data is incorrect, try adjusting these parameters and re-normalizing. \n\nWhen an address is normalized, the following properties are looked up and overridden: `city`,`state`,`latitude`,`longitude`,`postcode`,`locality`,`county`,`country`,`timezone`\n",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "string",
                    "enum": [
                      "normalize"
                    ],
                    "description": "The operation to perform"
                  }
                },
                "required": [
                  "operation"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "operation": "normalize"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Address"
        ]
      }
    },
    "/site/floor": {
      "get": {
        "summary": "List Floors",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Floors"
          }
        },
        "operationId": "list-floors",
        "description": "Retrieve a list of floors\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/@siteId"
          }
        ],
        "tags": [
          "Floor"
        ]
      },
      "post": {
        "summary": "Create Floor",
        "operationId": "create-floor",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Floor"
          },
          "404": {
            "$ref": "#/components/responses/404-Site-Not-Found"
          }
        },
        "description": "Create a new floor and assign it to a site\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:create`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Floor"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Floor"
        }
      },
      "parameters": []
    },
    "/site/floor/{floorId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/floorId"
        }
      ],
      "get": {
        "summary": "Retrieve Floor",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Floor"
          },
          "404": {
            "$ref": "#/components/responses/404-Floor-Not-Found"
          }
        },
        "operationId": "get-floor",
        "description": "Retrieve a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Floor"
        ]
      },
      "patch": {
        "summary": "Update Floor",
        "operationId": "update-floor",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Floor"
          },
          "404": {
            "$ref": "#/components/responses/404-Floor-Not-Found"
          }
        },
        "description": "Update a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Floor"
        },
        "tags": [
          "Floor"
        ]
      },
      "delete": {
        "summary": "Delete Floor",
        "operationId": "delete-floor",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Floor-Not-Empty"
          },
          "404": {
            "$ref": "#/components/responses/404-Floor-Not-Found"
          }
        },
        "description": "Delete a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:delete`\n\n<!-- theme: danger -->\n> **Danger** This cannot be undone!",
        "tags": [
          "Floor"
        ]
      }
    },
    "/site/room": {
      "get": {
        "summary": "List Rooms",
        "operationId": "list-rooms",
        "description": "Retrieve a list of rooms\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/@siteId"
          },
          {
            "$ref": "#/components/parameters/@floorId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Rooms"
          }
        },
        "tags": [
          "Room"
        ]
      },
      "post": {
        "summary": "Create Room",
        "operationId": "create-room",
        "description": "Create a new room and assign it to a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:create`\n\n### Defining Room Occupancy\nThe room occupancy classification must be specifid in the `occupancy` body parameter. One of the [International Building Code (IBC)](https://buildingcodetrainer.com/building-occupancy-classification-occupancy-types-explained/) occupancy codes is required and all occupancies are considered valid values.\n\n### Defining Room Area\nThe `area` body parameter is required and should contain the net area of the room in localized units (square meters or square feet). Only integer values are permitted.\n\n### Defining Room Volume\nThe room volume can be explicitly provided in the `volume` body parameter. The volume should be expressed in the same localized units as the room area. Only integer values are permitted.\n\nIf the volume is not defined, the `ceiling_height` body parameter, if provided, is used to calculate the room volume using the area specified. ",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Room"
          },
          "404": {
            "$ref": "#/components/responses/404-Floor-Not-Found"
          }
        },
        "tags": [
          "Room"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Room"
        }
      }
    },
    "/site/room/{roomId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/roomId"
        }
      ],
      "get": {
        "summary": "Retrieve Room",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Room"
          },
          "404": {
            "$ref": "#/components/responses/404-Room-Not-Found"
          }
        },
        "operationId": "get-room",
        "description": "Retrieve a room\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Room"
        ]
      },
      "patch": {
        "summary": "Update Room",
        "operationId": "update-room",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Room"
          },
          "404": {
            "$ref": "#/components/responses/404-Room-Not-Found"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Update a room\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:room:*`,`sites:room:update`",
        "tags": [
          "Room"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Room"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ]
      },
      "delete": {
        "summary": "Delete Room",
        "operationId": "delete-room",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Room-Not-Found"
          }
        },
        "description": "Delete a room\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:delete`\n\n<!-- theme: danger -->\n> _**Heads Up** This cannot be undone!_",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Room"
        ]
      }
    },
    "/site/utilities/geocode": {
      "get": {
        "summary": "Retrieve Geocoding by Query",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Geocode-Search"
          }
        },
        "operationId": "get-geocode",
        "description": "Geocode a search query\n\n**Required Permissions:** `*`,`view:console*`\n\n### Accepted Queries\n*coming soon*",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "query",
            "required": true,
            "description": "A geocode search query"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Site"
        ]
      }
    },
    "/site/utilities/timezone": {
      "get": {
        "summary": "Retrieve Timezone Details",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Timezone-Object"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either an IANA timezone ID, coordinates, or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid parameter combination",
                        "console": "Parameters timezone, coordinates, and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID ... is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-timezone",
        "description": "### Synopsis\nRetrieve timezone details including the current time\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:utilities:*`,`sites:utilities:timezone`\n* Licensed Feature: `sites_base`\n\n### Specifying Coordinates or Address ID\nTimezone details can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n### Specifying am IANA Timezone ID\nTimezone details can be obtained for any Timezone by specifying the IANA timezone ID\n\n<!-- theme: warning-->\n> _Parameters `timezone`, `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error_\n",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "timezone",
            "description": "An IANA timezone ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "coordinates",
            "description": "Get the timezone for the specified coordinates"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@address",
            "description": "Get the timezone for the specified address ID"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Site"
        ]
      }
    },
    "/tenant": {
      "get": {
        "summary": "Retrieve Tenant Account",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Tenant-Account"
          }
        },
        "operationId": "get-tenant",
        "description": "Retrieve the tenant account for the authenticated user\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Tenant"
        ]
      },
      "post": {
        "summary": "Create Tenant Account",
        "operationId": "create-tenant",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success_message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "success_message": "The new tenant account was created! Email confirmation required."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/503-Tenant-Create-Error"
          }
        },
        "description": "Create a new tenant account (aka, account signup)\n\n__Required Permissions:__ _none_\n\n### Accepting the Terms of Service\nThe [Terms of Service](https://www.counterbalance.io/terms) must be accepted before the account can be created. The `accept_terms` body field must be set to `true` in order for the request to be completed successfully.\n\n### Account Confirmation\nNew tenant accounts created via this endpoint must be confirmed before they will be activated. The user will be emailed a confirmation code and the account must be confirmed using the __Confirm Tenant Account__ operations endpoint.\n\n### Password Strength\nThe password specified must meet the following requirements:\n\n* Must be at least 8-characters in length\n* Lower case (a-z), upper case (A-Z) and numbers (0-9)\n* Special characters (!@#$%^&*)\n* No more than 2 identical characters in a row\n\nNIST recommends a minimum character length of 8, and suggests that length is a better indicator of strength than complexity.\n\n<!-- theme: warning -->\n> **Heads Up:** A password will be rejected if it contains common dictionary phrases or the user's first name, last name, or shortname.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "given_name": {
                    "type": "string",
                    "description": "The tenant owner's given (first) name"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "The tenant owner's sur (last) name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The tenant owner's email address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "The tenant owner's desired login password"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "The name of the new tenant account"
                  },
                  "accept_terms": {
                    "type": "boolean",
                    "description": "Set to `true` to indicate acceptance of the Counterbalance Terms of Service"
                  }
                },
                "required": [
                  "given_name",
                  "family_name",
                  "email",
                  "password",
                  "company_name",
                  "accept_terms"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "given_name": "Taylor",
                    "family_name": "Vick",
                    "email": "hello@counterbalance.io",
                    "password": "Se@ttle1!",
                    "company_name": "Counterbalance Software",
                    "accept_terms": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type"
          }
        ],
        "tags": [
          "Tenant"
        ]
      },
      "patch": {
        "summary": "Update Tenant Account",
        "operationId": "update-tenant",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Tenant-Account"
          }
        },
        "description": "Update the tenant account for the authenticated user\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 240,
                    "description": "The company or organization name for the tenant",
                    "minLength": 1
                  },
                  "primary_contact": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the user designated as the primary contact for the tenant account"
                  }
                }
              },
              "examples": {
                "Example": {
                  "$ref": "#/components/examples/Update-Tenant-Body"
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type"
          }
        ],
        "tags": [
          "Tenant"
        ]
      },
      "delete": {
        "summary": "Delete Tenant Account",
        "operationId": "delete-tenant",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Delete the tenant account of the authenticated user\n\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:delete`\n\n### Immediate Account Termination",
        "tags": [
          "Tenant"
        ]
      }
    },
    "/tenant/confirm": {
      "post": {
        "summary": "Confirm Tenant Account",
        "operationId": "post-v1-tenant-confirm",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success_message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success_message": "Tenant account has been successfully confirmed!"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Confirm a newly-created tenant account\n\nThe following prerequisites are required for this endpoint:\n* The tenant account confirmation code _(emailed to the new user)_\n* Permissions _(at least one):_ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`\n\n> **Please Note:** A confirm operation can only be completed by the user who created the tenant acccount",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "A six-digit confirmation code",
                    "minLength": 6,
                    "maxLength": 6,
                    "default": "645881"
                  }
                },
                "required": [
                  "code"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "code": "645881"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Tenant"
        ]
      }
    },
    "/tenant/deletion-pin": {
      "post": {
        "summary": "Set Deletion PIN",
        "operationId": "post-v1-tenant-deletion-pin",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant-Deletion-PIN"
                }
              }
            }
          }
        },
        "description": "Set a deletion PIN that allows Counterbalance Support to permanently delete a tenant account",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Tenant"
        ]
      }
    },
    "/tenant/onboarding": {
      "parameters": [],
      "post": {
        "summary": "Complete Tenant Onboarding",
        "operationId": "complete-tenant-onboarding",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Complete-Onboarding"
          }
        },
        "description": "Mark the tenant account for the authenticated user as having completed onboarding\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "null"
              },
              "examples": {
                "Example": {
                  "value": null
                }
              }
            }
          },
          "description": "*No request body is necesssary for this request*"
        },
        "tags": [
          "Tenant"
        ]
      }
    },
    "/tenant/preferences": {
      "get": {
        "summary": "RetrieveTenant Preferences",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Tenant-Preferences"
          }
        },
        "operationId": "get-tenant-preferences",
        "description": "Retrieve platform preferences set for the authenticated user's tenant account\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "application/json"
          }
        ],
        "tags": [
          "Preferences"
        ]
      },
      "patch": {
        "summary": "Update Tenant Preferences",
        "operationId": "update-tenant-preferences",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Tenant-Preferences"
          }
        },
        "description": "Update platform preferences set for the authenticated user's tenant account\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "Application-json"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tenant-Preferences"
              }
            }
          }
        },
        "tags": [
          "Preferences"
        ]
      }
    },
    "/tenant/quota": {
      "get": {
        "summary": "RetrieveTenant Quota Summary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Tenant-Quota-Summary"
          }
        },
        "operationId": "get-tenant-quota",
        "description": "Retrieve a list of authorized platform features and a summary of metered tenant objects and their usage for the authenticated user's tenant account\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:quota:*`,`tenant:quota:read`\n\n> **Please Note:** This endpoint will return all the features and quotas for the tenant account, regardless of the authenticated user's ability to use or access them",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "features_only",
            "description": "Only return the authorized features, excludes quota summary and usage details"
          }
        ],
        "tags": [
          "Quota"
        ]
      }
    },
    "/weather/air-quality/current": {
      "get": {
        "summary": "Get Air Quality Conditions",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-airquality-current",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Get current air quality\n\n**Required Permissions:** `*`,`wx:*`,`wx:airquality:*`,`wx:airquality:read`\n\n### Specifying the Location\nAir quality data can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "tags": [
          "Weather"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/@addressId"
        },
        {
          "$ref": "#/components/parameters/coordinates"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/weather/air-quality/forecast": {
      "get": {
        "summary": "Get Air Quality Forecast",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-AQ-Forecast"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-airquality-forecast",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Get forecasted daily air quality\n\n**Required Permissions:** `*`,`wx:*`,`wx:airquality:*`,`wx:airquality:read`\n\n### Specifying the Location\nAir quality data can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "schema": {
              "type": "integer",
              "default": 5,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7
              ]
            },
            "in": "query",
            "name": "duration",
            "description": "The number of forecast outlook days to return"
          }
        ],
        "tags": [
          "Weather"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "47.620506,-122.349277"
          },
          "in": "query",
          "name": "coordinates",
          "description": "Get air quality for the specified lat/lon position"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "in": "query",
          "name": "@address",
          "description": "Get air quality for the specified address ID"
        },
        {
          "schema": {
            "type": "string"
          },
          "in": "query",
          "name": "language",
          "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
        }
      ]
    },
    "/weather/alerts": {
      "get": {
        "summary": "Get Severe Weather Alerts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Weather-Alerts"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 1,
                      "effective_coordinates": {
                        "latitude": 47.8877148,
                        "longitude": -124.6237354
                      },
                      "data": [
                        {
                          "id": 2203972,
                          "category": "FLOOD",
                          "description": "High Surf Advisory",
                          "source": "U.S. National Weather Service",
                          "areas": [
                            {
                              "name": "North Coast",
                              "summary": "High Surf Advisory in effect from 10:00 PM PST until Wednesday, 10:00 PM PST.  Source: U.S. National Weather Service",
                              "status": "New",
                              "span": {
                                "start": "2021-04-13T14:00:00+0000",
                                "end": "2021-04-13T14:00:00+0000"
                              },
                              "details": "...HIGH SURF ADVISORY IN EFFECT FROM 10 PM THIS EVENING TO 10 PM\nPST WEDNESDAY...\n\n* WHAT...Large breaking waves of 18 to 21 feet expected in the\n  surf zone.\n\n* WHERE...North Coast and Central Coast.\n\n* WHEN...From 10 PM this evening to 10 PM PST Wednesday.\n\n* IMPACTS...Dangerous conditions along the coast and in the surf\n  zone. Localized beach erosion may also occur due to large waves.\n\nPRECAUTIONARY/PREPAREDNESS ACTIONS...\n\nLarge waves may break and run up beaches farther than usual. Keep\nyour distance from the coastline and never turn your back on the\nocean.\n\nInexperienced swimmers should remain out of the water due to\ndangerous surf conditions.\n\n&&"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-weather-alerts",
        "description": "Retrieve current severe weather alerts and advisories\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:weather:*`,`sites:weather:alerts`\n* Licensed Feature: `weather_alerts`\n\n### Specifying the Location\nWeather alerts and advisories can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code.\n\n<!-- theme: warning-->\n> _The API supports any valid IETF language code but alert data may not be available in the specified language_",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Weather"
        ]
      },
      "parameters": []
    },
    "/weather/current": {
      "get": {
        "summary": "Get Current Weather Conditions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Current-Conditions"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-current-conditions",
        "description": "Retrieve detailed current weather conditions\n\n**Required Permissions:** `*`,`wx:*`,`wx:conditions:*`,`wx:conditions:read`\n\n### Specifying the Location\nWeather conditions can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Units\nBy default, data is returned in Imperial units. To return data in Metric units, pass the `metric` query parameter and set it to _true_. \n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/metric"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Weather"
        ]
      },
      "parameters": []
    },
    "/weather/forecast": {
      "get": {
        "summary": "Get Forecast",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Daily-Forecast"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Too Many Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID, but not both",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  },
                  "Not Enough Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Duration": {
                    "value": {
                      "error": {
                        "message": "9 is not a valid duration",
                        "console": "Invalid duration value. Allowed value(s): 1, 5, 10, or 15",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-weather-forecast",
        "description": "Retrieve a detailed daily weather forecast\n\n **Required Permissions:** `*`,`wx:*`,`wx:forecast:*`,`wx:forecast:read` \n\n ### Specifying the Location\nWeather forecasts can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Units\nBy default, data is returned in Imperial units. To return data in Metric units, pass the `metric` query parameter and set it to _true_. \n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/metric"
          },
          {
            "schema": {
              "type": "integer",
              "default": 5,
              "enum": [
                1,
                5,
                10,
                15
              ]
            },
            "in": "query",
            "name": "duration",
            "description": "The number of forecast outlook days to return"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Weather"
        ]
      },
      "parameters": []
    },
    "/weather/indices": {
      "get": {
        "summary": "Get Activity Indices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Activity-Indices"
          }
        },
        "operationId": "get-weather-indices",
        "description": "Get activity indices and recommendations based on current weather conditions\n\n**Required Permissions:** `*`,`wx:*`,`wx:conditions:*`,`wx:conditions:read`\n\n### Specifying the Location\nWeather indices can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Weather"
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Retrieve-Tenant-Account": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tenant-Account"
            }
          }
        }
      },
      "Retrieve-Site": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Site"
            }
          }
        }
      },
      "404-Site-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Site not found",
                    "console": "The site ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "404-Floor-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Floor not found",
                    "console": "The floor ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "404-Room-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Room not found",
                    "console": "The room ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "400-Site-Not-Empty": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Site is not empty",
                    "console": "The site ID ... cannot be deleted while it contains floors. Delete the associated floorsand try again.",
                    "code": 400
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "400-Floor-Not-Empty": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Floor not empty",
                    "console": "The floor ID ... cannot be deleted while it contains rooms. Delete the associated rooms and try again.",
                    "code": 400
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "200-Get-Floor": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Floor"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Floor-Object"
              }
            }
          }
        }
      },
      "200-Get-Room": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Room"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Room-Object"
              }
            }
          }
        }
      },
      "200-Get-Site": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Site"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Site-Object"
              }
            }
          }
        }
      },
      "200-Get-Address": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Address-Object"
              }
            }
          }
        }
      },
      "404-Address-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Address not found",
                    "console": "The address ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "400-Address-Already-Exists": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Site already has an address",
                    "console": "Update or delete the existing address",
                    "code": 400
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "409-No-Address-Geocoding": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Invalid Geocoding": {
                "value": {
                  "error": {
                    "message": "Invalid address geocoding",
                    "console": "The address ID ... is not geocoded and we have no coordinates to check",
                    "code": 409
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "200-Get-Timezone-Object": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Time-Zone"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Timezone-Object"
              }
            }
          }
        }
      },
      "200-List-Sites": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "number",
                  "description": "The number of site objects returned"
                },
                "index": {
                  "type": "array",
                  "description": "An array of the returned site object UUIDs",
                  "items": {
                    "type": "string"
                  }
                },
                "data": {
                  "type": "array",
                  "uniqueItems": true,
                  "description": "An array of site objects",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Site-Object-List"
              }
            }
          }
        }
      },
      "200-List-Floors": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "number",
                  "description": "The number of floor objects returned"
                },
                "index": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "data": {
                  "type": "array",
                  "description": "An array of floor objects",
                  "items": {
                    "$ref": "#/components/schemas/Floor"
                  }
                }
              }
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Floor-Object-List"
              }
            }
          }
        }
      },
      "200-List-Rooms": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of room objects returned"
                },
                "index": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "string"
                  }
                },
                "data": {
                  "type": "array",
                  "description": "An array of room objects",
                  "items": {
                    "$ref": "#/components/schemas/Room"
                  }
                }
              }
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Room-Object-List"
              }
            }
          }
        }
      },
      "200-Geocode-Search": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Geocode-Search"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Geocode-Search"
              }
            }
          }
        }
      },
      "200-Tenant-Account": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tenant-Account"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Tenant-Account"
              }
            }
          }
        }
      },
      "201-Create-Tenant": {
        "description": "Created",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Generic-Response"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Create-Tenant-Account"
              }
            }
          }
        }
      },
      "200-Tenant-Quota-Summary": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tenant-Quota-Summary"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Tenant-Quota-Summary"
              }
            }
          }
        }
      },
      "200-Tenant-Confirmed": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success_message": {
                  "type": "string"
                }
              }
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Confirm-Tenant-Account"
              }
            }
          }
        }
      },
      "503-Tenant-Create-Error": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "We are unable to process your request right now. Please try again later.",
                    "console": "There was an error while creating your account. Please try again later. If the issue persists, please contact support and provide the loggin hash provided.",
                    "code": 503
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "200-Complete-Onboarding": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Generic-Response"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Onboard-Tenant-Account"
              }
            }
          }
        }
      },
      "200-Tenant-Preferences": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tenant-Preferences"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Tenant-Preferences"
              }
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Application/json"
          }
        }
      },
      "200-Get-Daily-Forecast": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Weather-Forecast"
            }
          }
        }
      },
      "200-Get-Current-Conditions": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Weather-Current-Conditions"
            },
            "examples": {
              "Response (Imperial Units)": {
                "$ref": "#/components/examples/Response (Imperial Units)"
              },
              "Response (Metric Units)": {
                "$ref": "#/components/examples/Response (Metric Units)"
              }
            }
          }
        }
      },
      "200-Get-Activity-Indices": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Weather-Indices"
            }
          }
        }
      },
      "200-Get-Current-AQ": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Air-Quality-Current"
            }
          }
        }
      },
      "200-Get-AQ-Forecast": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "string"
                },
                "effective_coordinates": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    }
                  }
                },
                "forecasts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Air-Quality-Forecast"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Address": {
        "description": "",
        "type": "object",
        "title": "Address",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "@site": {
            "type": "string",
            "format": "uuid"
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "locality": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "number"
          },
          "country": {
            "type": "string"
          },
          "formatted": {
            "type": "string"
          },
          "geolocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "timezone": {
            "type": "string"
          },
          "designations": {
            "type": "object",
            "properties": {
              "primary_mailing": {
                "type": "boolean"
              },
              "primary_billing": {
                "type": "boolean"
              }
            }
          }
        },
        "x-tags": [
          "Address"
        ]
      },
      "Air-Quality-Current": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "effective_coordinates": {
              "latitude": "47.55355",
              "longitude": "-122.04792"
            },
            "timestamp": "2022-02-22T21:00:00+0000",
            "description": "The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.",
            "index": {
              "local": 27.5,
              "global": 30.9
            },
            "status": "Fair",
            "status_color": "#FFC300",
            "dominant_pollutant": "Ozone",
            "pollutants": [
              {
                "type": "NO2",
                "name": "Nitrogen Dioxide",
                "index": {
                  "local": 2.7,
                  "global": 2.6
                },
                "concentration": {
                  "value": 5,
                  "unit": "µg/m³"
                }
              }
            ]
          }
        },
        "title": "Air Quality Object",
        "x-tags": [
          "Air Quality"
        ],
        "properties": {
          "effective_coordinates": {
            "type": "object",
            "description": "An array of coordinates",
            "properties": {
              "latitude": {
                "type": "string",
                "description": "The effective latitude of this request"
              },
              "longitude": {
                "type": "string",
                "description": "The effective longitude of this request"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "A textual explanation of this air quality result in the requested language.",
            "readOnly": true
          },
          "index": {
            "type": "object",
            "properties": {
              "local": {
                "type": "number",
                "description": "Air quality rating on a scale set by local regulating bodies. Scales can vary widely based on location. See [Wikipedia](https://en.wikipedia.org/wiki/Air_quality_index) for more information.",
                "readOnly": true
              },
              "global": {
                "type": "number",
                "description": "Internationally normalized air quality rating on a scale from 0 to 300 and up, with higher numbers representing worse air quality.",
                "readOnly": true
              }
            }
          },
          "status": {
            "type": "string",
            "description": "One-word description of the air quality in the requested language. For example, \"Excellent\".",
            "readOnly": true
          },
          "status_color": {
            "type": "string",
            "description": "A unique color corresponding to the category of this air quality result.",
            "readOnly": true
          },
          "dominant_pollutant": {
            "type": "string",
            "description": "The pollutant with the highest concentration.",
            "readOnly": true
          },
          "pollutants": {
            "type": "array",
            "uniqueItems": true,
            "description": "Information about individual pollutants.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of pollutant. Please note that more may be added at any time.",
                  "readOnly": true
                },
                "name": {
                  "type": "string",
                  "description": "The name of the pollutant in English.",
                  "readOnly": true
                },
                "index": {
                  "type": "object",
                  "properties": {
                    "local": {
                      "type": "number",
                      "description": "Air quality rating on a scale set by local regulating bodies. Scales can vary widely based on location. See [Wikipedia](https://en.wikipedia.org/wiki/Air_quality_index) for more information.",
                      "readOnly": true
                    },
                    "global": {
                      "type": "number",
                      "description": "Internationally normalized air quality rating on a scale from 0 to 300 and up, with higher numbers representing worse air quality.",
                      "readOnly": true
                    }
                  }
                },
                "concentration": {
                  "type": "object",
                  "description": "An object containing the number of pollutant particles per volume of air.",
                  "properties": {
                    "value": {
                      "type": "number",
                      "readOnly": true
                    },
                    "unit": {
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            },
            "readOnly": true
          }
        }
      },
      "Air-Quality-Forecast": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "timestamp": "2022-02-23T08:00:00+0000",
            "description": "The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.",
            "index": {
              "local": 33.7,
              "global": 35.7
            },
            "status": "Fair",
            "status_color": "#FFC300",
            "dominant_pollutant": "Ozone"
          }
        },
        "title": "Air Quality Forecast Object",
        "x-tags": [
          "Air Quality"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "A textual explanation of this air quality result in the requested language.",
            "readOnly": true
          },
          "index": {
            "type": "object",
            "properties": {
              "local": {
                "type": "number",
                "description": "Air quality rating on a scale set by local regulating bodies. Scales can vary widely based on location. See [Wikipedia](https://en.wikipedia.org/wiki/Air_quality_index) for more information.",
                "readOnly": true
              },
              "global": {
                "type": "number",
                "description": "Internationally normalized air quality rating on a scale from 0 to 300 and up, with higher numbers representing worse air quality.",
                "readOnly": true
              }
            },
            "readOnly": true
          },
          "status": {
            "type": "string",
            "description": "One-word description of the air quality in the requested language. *For example, \"Excellent\"*.",
            "readOnly": true
          },
          "status_color": {
            "type": "string",
            "description": "A unique color corresponding to the category of this air quality result.",
            "readOnly": true
          },
          "dominant_pollutant": {
            "type": "string",
            "description": "The pollutant with the highest concentration.",
            "readOnly": true
          }
        }
      },
      "Floor": {
        "description": "",
        "type": "object",
        "title": "Floor",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "@site": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "below_grade": {
                "type": "boolean"
              },
              "gross_floor_area": {
                "type": "number",
                "readOnly": true
              },
              "room_count": {
                "type": "number",
                "readOnly": true
              },
              "net_room_area": {
                "type": "number",
                "readOnly": true
              }
            }
          }
        },
        "x-tags": [
          "Floor"
        ]
      },
      "Error": {
        "title": "Typical Error Response",
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error that occurred"
              },
              "console": {
                "type": "string",
                "description": "Additional error output and further instruction"
              },
              "code": {
                "type": "number",
                "description": "The HTTP error code"
              }
            },
            "required": [
              "message",
              "console",
              "code"
            ]
          },
          "logging_hash": {
            "type": [
              "string",
              "null"
            ],
            "description": "A logging entry ID for debugging"
          }
        }
      },
      "Geocode-Search": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Example": {
            "$ref": "#/components/examples/Geocode-Search"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "geolocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "geometry": {
            "type": "string",
            "format": "uuid"
[...]
