{
  "openapi": "3.0.2",
  "info": {
    "title": "Counterbalance API",
    "version": "1.0",
    "description": "Welcome to the Counterbalance API! \n\n# Welcome!",
    "termsOfService": "https://www.counterbalance.io/legal/api-terms",
    "contact": {
      "name": "Counterbalance Support",
      "email": "support@counterbalance.io"
    }
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/tenant": {
      "get": {
        "summary": "Retrieve Tenant Account",
        "tags": [
          "Tenant Account"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Get-Tenant-Account"
          }
        },
        "operationId": "get-tenant",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Tenant Account",
        "operationId": "update-tenant",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update a tenant account",
        "tags": [
          "Tenant Account"
        ]
      }
    },
    "/controller": {
      "get": {
        "summary": "Retrieve Controller",
        "tags": [
          "Controller"
        ],
        "responses": {},
        "operationId": "get-controller"
      },
      "post": {
        "summary": "Register Controller",
        "operationId": "register-controller",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Controller"
        ]
      }
    },
    "/site/{siteId}": {
      "get": {
        "summary": "Retrieve a Site",
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Retrieve-Site"
          }
        },
        "operationId": "get-site",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Retrieve-Tenant-Account": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tenant-Account"
            }
          }
        }
      },
      "Retrieve-Site": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Site"
            }
          }
        }
      }
    },
    "schemas": {
      "Tenant-Account": {
        "description": "",
        "type": "object",
        "title": "Tenant Account Object",
        "x-examples": {
          "Example": {
            "id": "d6797ebf-5b00-4a59-b3e5-19711b4c55bb",
            "name": "Figgis Agency",
            "flags": {
              "active": true,
              "has_subscription": true,
              "has_billing_account": true,
              "locked": false,
              "confirmed": true,
              "deleted": false
            },
            "billing_id": "cus_GZBdOM86hQZldD",
            "locale": "en-us",
            "primary_contact": {
              "id": "1b17e73b-4cf7-4b47-a0f8-46f878ef7bf1",
              "name": {
                "given": "Cyril",
                "family": "Figgis",
                "full": "Cyril Figgis"
              },
              "email": "cyril@figgisagency.com",
              "phone": {
                "primary": {
                  "type": null,
                  "number": null
                }
              }
            },
            "subscription": {
              "tier": 3,
              "sku": "plan_GvzroFXIrnFYdH",
              "active": true
            },
            "trial": {
              "status": "Never Started",
              "used": false,
              "active": false,
              "expired": false,
              "expires": 0
            },
            "addresses": {
              "mailing": "f3643601-d122-47c5-893c-1f108c07d840",
              "billing": null
            },
            "milestones": {
              "account_created": {
                "status": true,
                "timestamp": 1517451002
              },
              "account_deleted": {
                "status": false,
                "timestamp": 0
              },
              "account_confirmation": {
                "status": true,
                "timestamp": 1580183430
              },
              "onboarded": {
                "status": true,
                "timestamp": 1580183430
              },
              "accepted_terms": {
                "status": false,
                "timestamp": 0
              },
              "accepted_billing_terms": {
                "status": false,
                "timestamp": 0
              },
              "accepted_subscription_terms": {
                "status": false,
                "timestamp": 0
              }
            }
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the tenant account"
          },
          "name": {
            "type": "string"
          },
          "flags": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "has_billing_account": {
                "type": "boolean"
              },
              "locked": {
                "type": "boolean"
              },
              "confirmed": {
                "type": "boolean"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          },
          "tier": {
            "default": 1,
            "type": "integer",
            "readOnly": true
          },
          "billing_id": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string"
          },
          "primary_contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "object",
                "properties": {
                  "given": {
                    "type": "string"
                  },
                  "family": {
                    "type": "string"
                  },
                  "full": {
                    "type": "string"
                  }
                }
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "object",
                "properties": {
                  "primary": {
                    "type": "object",
                    "properties": {
                      "type": {},
                      "number": {}
                    }
                  }
                }
              }
            }
          },
          "addresses": {
            "type": "object",
            "properties": {
              "mailing": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "billing": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              }
            }
          },
          "milestones": {
            "type": "object",
            "properties": {
              "account_created": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "account_deleted": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "account_confirmation": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "onboarded": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "accepted_terms": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "accepted_billing_terms": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "accepted_subscription_terms": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "x-tags": [
          "Tenant Account"
        ]
      },
      "Site": {
        "description": "",
        "type": "object",
        "title": "Site Object",
        "x-tags": [
          "Site"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The site object UUID",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp the site object was created",
            "readOnly": true
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp the site object was last modified",
            "nullable": true,
            "readOnly": true
          },
          "code": {
            "type": "string",
            "description": "A unique site code or abbreviation",
            "maxLength": 32
          },
          "name": {
            "type": "string",
            "description": "The name of the site object",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "maxLength": 300
          },
          "@address": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "classification": {
            "type": "object",
            "properties": {
              "category": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "type": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "sub_type": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "occupancy": {
            "type": "object",
            "properties": {
              "default": {
                "type": "string",
                "enum": [
                  "A-1",
                  "A-2",
                  "A-3",
                  "A-4",
                  "A-5",
                  "B",
                  "E",
                  "F-1",
                  "F-2",
                  "H-1",
                  "H-2",
                  "H-3",
                  "H-4",
                  "H-5",
                  "I-1",
                  "I-2",
                  "I-3",
                  "I-4",
                  "M",
                  "R-1",
                  "R-2",
                  "R-3",
                  "R-3.1",
                  "R-4",
                  "S-1",
                  "S-2",
                  "U"
                ]
              },
              "allowed": {
                "type": "array",
                "description": "If set, room objects must be one of the occupancies in the given array",
                "items": {
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 27
                },
                "enum": [
                  "A-1",
                  "A-2",
                  "A-3",
                  "A-4",
                  "A-5",
                  "B",
                  "E",
                  "F-1",
                  "F-2",
                  "H-1",
                  "H-2",
                  "H-3",
                  "H-4",
                  "H-5",
                  "I-1",
                  "I-2",
                  "I-3",
                  "I-4",
                  "M",
                  "R-1",
                  "R-2",
                  "R-3",
                  "R-3.1",
                  "R-4",
                  "S-1",
                  "S-2",
                  "U"
                ]
              }
            }
          },
          "attributes": {
            "type": "object",
            "properties": {
              "year_built": {
                "type": "string"
              },
              "floor_count": {
                "type": "integer",
                "readOnly": true
              },
              "room_count": {
                "type": "integer",
                "readOnly": true
              },
              "gross_floor_area": {
                "type": "integer"
              },
              "net_room_area": {
                "type": "integer",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "parameters": {
      "siteId": {
        "name": "siteId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid site object UUID"
      }
    }
  },
  "tags": [
    {
      "name": "Controller"
    },
    {
      "name": "Floor"
    },
    {
      "name": "Gateway"
    },
    {
      "name": "Room"
    },
    {
      "name": "Site"
    },
    {
      "name": "Tenant Account"
    },
    {
      "name": "Trend Plot"
    }
  ]
}