{
    "openapi": "3.0.2",
    "info": {
        "title": "Counterbalance API",
        "version": "1.0",
        "description": "Welcome to the Counterbalance API! \n\n# Welcome!",
        "termsOfService": "https://www.counterbalance.io/legal/api-terms",
        "contact": {
            "name": "Counterbalance Support",
            "email": "support@counterbalance.io"
        }
    },
    "servers": [
        {
            "url": "https://api.counterbalance.io/v1",
            "description": "Production API"
        }
    ],
    "paths": {
        "/controller": {
            "get": {
                "summary": "Retrieve Controller",
                "tags": [
                    "Controller"
                ],
                "responses": {},
                "operationId": "get-controller"
            },
            "post": {
                "summary": "Register Controller",
                "operationId": "register-controller",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "description": "",
                "tags": [
                    "Controller"
                ]
            }
        },
        "/site": {
            "get": {
                "summary": "List Sites",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-List-Sites"
                    }
                },
                "operationId": "list-sites",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "description": "Retrieve a list of site objects\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:list`\n\n### Filtering Results\nA combination of one or more query parameters may be used to filter returned data. Query parameters are stacked such that using multiple parameters will result in a narrower data set.\n\nWildcard searches are permitted on all query parameters. Wildcard searches are case insensitive and all data is forced to lowercase for matching purposes. See usage examples below.\n\n<!--\ntitle: \"Site Code Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/site?code=*MN*\n```\n<!--\ntitle: \"Site Name Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/site?name=*elementary*\n```",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "code",
                        "description": "Filter results by site code. Accepts * wildcard searches."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "name",
                        "description": "Filter results by site name. Accepts * wildcard searches."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "description",
                        "description": "Filter sites by description. Accepts * wildcard searches."
                    }
                ],
                "tags": [
                    "Site"
                ]
            },
            "post": {
                "summary": "Create Site",
                "operationId": "create-site",
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/200-Get-Site"
                    }
                },
                "description": "Create a new site object\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:create`\n\n> **Heads Up** This endpoint is subject to `site` quota availabilty\n\n### Defining Building Category & Type\nNew sites must be defined with a building `category` and `type`. In some cases, a type will have additional sub-types, in which case, the `sub_type` paramater must also be provided. \n\nCategory, type, and sub_type are all defined using an index ID. The various indexes and their values can be found in [this support article](https://counterbalance.zendesk.com/hc/en-us/articles/5405264196499).",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "in": "header",
                        "name": "Content-Type",
                        "required": true
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Create-Site"
                },
                "tags": [
                    "Site"
                ]
            }
        },
        "/site/{siteId}": {
            "get": {
                "summary": "Retrieve a Site",
                "tags": [
                    "Site"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Retrieve-Site"
                    }
                },
                "operationId": "get-site",
                "parameters": [],
                "security": [
                    {
                        "Bearer Token": []
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/siteId"
                }
            ]
        },
        "/site/address": {
            "parameters": [],
            "put": {
                "summary": "Add Address to Site",
                "operationId": "create-address",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                },
                                "examples": {
                                    "Response": {
                                        "$ref": "#/components/examples/Address-Object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400-Address-Already-Exists"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Site-Not-Found"
                    }
                },
                "description": "Create a new address object and attach it to a site\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:update`\n\n### Address Geocoding\nBy default, new addresses are geocoded to determine their GPS coordinates, timezone, and to fill-in various extended properties such as the locality, country, and ZIP or postcode. \n\nGeocoding is an optional process and can be skipped by setting `geocode` to `false` in the request body. If geocoding is skipped, the following additional body parameters become required: `county`, `country`, `postcode`, `timezone`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "in": "query",
                        "name": "@site",
                        "description": "A valid site UUID for which to assign this address"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "in": "header",
                        "name": "Content-Type",
                        "required": true
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Create-Address"
                },
                "tags": [
                    "Address"
                ]
            }
        },
        "/site/address/{addressId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/addressId"
                }
            ],
            "get": {
                "summary": "Retrieve Address",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Address"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Address-Not-Found"
                    }
                },
                "operationId": "get-address",
                "description": "### Synopsis\nRetrieve the details for the specified address\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:address:*`,`sites:address:read`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Address"
                ]
            },
            "patch": {
                "summary": "Update Address",
                "operationId": "update-address",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Address"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Address-Not-Found"
                    }
                },
                "description": "Update an address object\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:address:*`,`sites:address:update`",
                "parameters": [],
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Update-Address"
                },
                "tags": [
                    "Address"
                ]
            },
            "delete": {
                "summary": "Delete Address",
                "operationId": "delete-address",
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "null"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Address-Not-Found"
                    }
                },
                "description": "Delete an address object\n\n**Required Permissions:** `*`,`sites:*`,`sites:address:*`,`sites:address:delete`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Address"
                ]
            }
        },
        "/site/address/{addressId}/operation": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "addressId",
                    "in": "path",
                    "required": true,
                    "description": "A valid address UUID"
                }
            ],
            "post": {
                "summary": "Perform Address Operations",
                "operationId": "address-operations",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Address"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Address-Not-Found"
                    }
                },
                "description": "Perform operations on an address\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:address:*`,`sites:address:update`\n\n### Supported Operations\nThe following operations are currently supported:\n\n#### Address Normalization\nAn existing address object can be normalized or re-normalized by specifying the operation as `normalize`. The address' existing lines, city, and state values are used to generate a normalization query and updates are performed based on these values. If normalization data is incorrect, try adjusting these parameters and re-normalizing. \n\nWhen an address is normalized, the following properties are looked up and overridden: `city`,`state`,`latitude`,`longitude`,`postcode`,`locality`,`county`,`country`,`timezone`\n",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "operation": {
                                        "type": "string",
                                        "enum": [
                                            "normalize"
                                        ],
                                        "description": "The operation to perform"
                                    }
                                },
                                "required": [
                                    "operation"
                                ]
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "operation": "normalize"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Address"
                ]
            }
        },
        "/site/floor": {
            "get": {
                "summary": "List Floors",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-List-Floors"
                    }
                },
                "operationId": "list-floors",
                "description": "Retrieve a list of floors\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:list`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/@siteId"
                    }
                ],
                "tags": [
                    "Floor"
                ]
            },
            "post": {
                "summary": "Create Floor",
                "operationId": "create-floor",
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/200-Get-Floor"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Site-Not-Found"
                    }
                },
                "description": "Create a new floor and assign it to a site\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:create`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Floor"
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Create-Floor"
                }
            },
            "parameters": []
        },
        "/site/floor/{floorId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/floorId"
                }
            ],
            "get": {
                "summary": "Retrieve Floor",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Floor"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Floor-Not-Found"
                    }
                },
                "operationId": "get-floor",
                "description": "Retrieve a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:read`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Floor"
                ]
            },
            "patch": {
                "summary": "Update Floor",
                "operationId": "update-floor",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Floor"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Floor-Not-Found"
                    }
                },
                "description": "Update a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:update`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Update-Floor"
                },
                "tags": [
                    "Floor"
                ]
            },
            "delete": {
                "summary": "Delete Floor",
                "operationId": "delete-floor",
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "null"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400-Floor-Not-Empty"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Floor-Not-Found"
                    }
                },
                "description": "Delete a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:floor:*`,`sites:floor:delete`\n\n<!-- theme: danger -->\n> **Danger** This cannot be undone!",
                "tags": [
                    "Floor"
                ]
            }
        },
        "/site/room": {
            "get": {
                "summary": "List Rooms",
                "operationId": "list-rooms",
                "description": "Retrieve a list of rooms\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:list`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/@siteId"
                    },
                    {
                        "$ref": "#/components/parameters/@floorId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-List-Rooms"
                    }
                },
                "tags": [
                    "Room"
                ]
            },
            "post": {
                "summary": "Create Room",
                "operationId": "create-room",
                "description": "Create a new room and assign it to a floor\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:create`\n\n### Defining Room Occupancy\nThe room occupancy classification must be specifid in the `occupancy` body parameter. One of the [International Building Code (IBC)](https://buildingcodetrainer.com/building-occupancy-classification-occupancy-types-explained/) occupancy codes is required and all occupancies are considered valid values.\n\n### Defining Room Area\nThe `area` body parameter is required and should contain the net area of the room in localized units (square meters or square feet). Only integer values are permitted.\n\n### Defining Room Volume\nThe room volume can be explicitly provided in the `volume` body parameter. The volume should be expressed in the same localized units as the room area. Only integer values are permitted.\n\nIf the volume is not defined, the `ceiling_height` body parameter, if provided, is used to calculate the room volume using the area specified. ",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "in": "header",
                        "name": "Content-Type",
                        "required": true
                    }
                ],
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/200-Get-Room"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Floor-Not-Found"
                    }
                },
                "tags": [
                    "Room"
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Create-Room"
                }
            }
        },
        "/site/room/{roomId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/roomId"
                }
            ],
            "get": {
                "summary": "Retrieve Room",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Room"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Room-Not-Found"
                    }
                },
                "operationId": "get-room",
                "description": "Retrieve a room\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:read`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Room"
                ]
            },
            "patch": {
                "summary": "Update Room",
                "operationId": "update-room",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Room"
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Room-Not-Found"
                    }
                },
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "description": "Update a room\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:room:*`,`sites:room:update`",
                "tags": [
                    "Room"
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Update-Room"
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "in": "header",
                        "name": "Content-Type",
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete Room",
                "operationId": "delete-room",
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "null"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Room-Not-Found"
                    }
                },
                "description": "Delete a room\n\n**Required Permissions:** `*`,`sites:*`,`sites:room:*`,`sites:room:delete`\n\n<!-- theme: danger -->\n> _**Heads Up** This cannot be undone!_",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Room"
                ]
            }
        },
        "/site/utilities/geocode": {
            "get": {
                "summary": "Retrieve Geocoding by Query",
                "tags": [
                    "Utilities"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Geocode-Search"
                    }
                },
                "operationId": "get-geocode",
                "description": "Geocode a search query\n\n**Required Permissions:** `*`,`view:console*`\n\n### Accepted Queries\n*coming soon*",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "query",
                        "required": true,
                        "description": "A geocode search query"
                    }
                ],
                "security": [
                    {
                        "Bearer Token": []
                    }
                ]
            }
        },
        "/site/utilities/timezone": {
            "get": {
                "summary": "Retrieve Timezone Details",
                "tags": [
                    "Utilities"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Get-Timezone-Object"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "No Parameters": {
                                        "value": {
                                            "error": {
                                                "message": "Invalid request",
                                                "console": "Specify either an IANA timezone ID, coordinates, or an address ID",
                                                "code": 400
                                            },
                                            "logging_hash": null
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404-Address-Not-Found"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "Invalid Parameter Combination": {
                                        "value": {
                                            "error": {
                                                "message": "Invalid parameter combination",
                                                "console": "Parameters timezone, coordinates, and address are mutually exclusive. Specify only one.",
                                                "code": 409
                                            },
                                            "logging_hash": null
                                        }
                                    },
                                    "Invalid Address Geocoding": {
                                        "value": {
                                            "error": {
                                                "message": "Invalid address geocoding",
                                                "console": "The address ID ... is not geocoded and we have no coordinates to check",
                                                "code": 409
                                            },
                                            "logging_hash": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-timezone",
                "description": "### Synopsis\nRetrieve timezone details including the current time\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:utilities:*`,`sites:utilities:timezone`\n* Licensed Feature: `sites_base`\n\n### Specifying Coordinates or Address ID\nTimezone details can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n### Specifying am IANA Timezone ID\nTimezone details can be obtained for any Timezone by specifying the IANA timezone ID\n\n<!-- theme: warning-->\n> _Parameters `timezone`, `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error_\n",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "timezone",
                        "description": "An IANA timezone ID"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "coordinates",
                        "description": "Get the timezone for the specified coordinates"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "in": "query",
                        "name": "@address",
                        "description": "Get the timezone for the specified address ID"
                    }
                ],
                "security": [
                    {
                        "Bearer Token": []
                    }
                ]
            }
        },
        "/tenant": {
            "get": {
                "summary": "Retrieve Tenant Account",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Tenant-Account"
                    }
                },
                "operationId": "get-tenant",
                "description": "Retrieve the tenant account for the authenticated user\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:read`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Tenant"
                ]
            },
            "post": {
                "summary": "Create Tenant Account",
                "operationId": "create-tenant",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success_message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "Response": {
                                        "value": {
                                            "success_message": "The new tenant account was created! Email confirmation required."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/503-Tenant-Create-Error"
                    }
                },
                "description": "Create a new tenant account (aka, account signup)\n\n__Required Permissions:__ _none_\n\n### Accepting the Terms of Service\nThe [Terms of Service](https://www.counterbalance.io/terms) must be accepted before the account can be created. The `accept_terms` body field must be set to `true` in order for the request to be completed successfully.\n\n### Account Confirmation\nNew tenant accounts created via this endpoint must be confirmed before they will be activated. The user will be emailed a confirmation code and the account must be confirmed using the __Confirm Tenant Account__ operations endpoint.\n\n### Password Strength\nThe password specified must meet the following requirements:\n\n* Must be at least 8-characters in length\n* Lower case (a-z), upper case (A-Z) and numbers (0-9)\n* Special characters (!@#$%^&*)\n* No more than 2 identical characters in a row\n\nNIST recommends a minimum character length of 8, and suggests that length is a better indicator of strength than complexity.\n\n<!-- theme: warning -->\n> **Heads Up:** A password will be rejected if it contains common dictionary phrases or the user's first name, last name, or shortname.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "given_name": {
                                        "type": "string",
                                        "description": "The tenant owner's given (first) name"
                                    },
                                    "family_name": {
                                        "type": "string",
                                        "description": "The tenant owner's sur (last) name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "The tenant owner's email address"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "description": "The tenant owner's desired login password"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "description": "The name of the new tenant account"
                                    },
                                    "accept_terms": {
                                        "type": "boolean",
                                        "description": "Set to `true` to indicate acceptance of the Counterbalance Terms of Service"
                                    }
                                },
                                "required": [
                                    "given_name",
                                    "family_name",
                                    "email",
                                    "password",
                                    "company_name",
                                    "accept_terms"
                                ]
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "given_name": "Taylor",
                                        "family_name": "Vick",
                                        "email": "hello@counterbalance.io",
                                        "password": "Se@ttle1!",
                                        "company_name": "Counterbalance Software",
                                        "accept_terms": true
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "in": "header",
                        "name": "Content-Type"
                    }
                ],
                "tags": [
                    "Account"
                ]
            },
            "patch": {
                "summary": "Update Tenant Account",
                "operationId": "update-tenant",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Tenant-Account"
                    }
                },
                "description": "Update the tenant account for the authenticated user\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 240,
                                        "description": "The company or organization name for the tenant",
                                        "minLength": 1
                                    },
                                    "primary_contact": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "UUID of the user designated as the primary contact for the tenant account"
                                    }
                                }
                            },
                            "examples": {
                                "Example": {
                                    "$ref": "#/components/examples/Update-Tenant-Body"
                                }
                            }
                        }
                    },
                    "description": ""
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "in": "header",
                        "name": "Content-Type"
                    }
                ],
                "tags": [
                    "Account"
                ]
            },
            "delete": {
                "summary": "Delete Tenant Account",
                "operationId": "delete-tenant",
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "description": "Delete the tenant account of the authenticated user\n\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:delete`\n\n### Immediate Account Termination",
                "tags": [
                    "Account"
                ]
            }
        },
        "/tenant/quota": {
            "get": {
                "summary": "RetrieveTenant Quota Summary",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Tenant-Quota-Summary"
                    }
                },
                "operationId": "get-tenant-quota",
                "description": "Retrieve a list of authorized platform features and a summary of metered tenant objects and their usage for the authenticated user's tenant account\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:quota:*`,`tenant:quota:read`\n\n> **Please Note:** This endpoint will return all the features and quotas for the tenant account, regardless of the authenticated user's ability to use or access them",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "boolean",
                            "default": "false"
                        },
                        "in": "query",
                        "name": "features_only",
                        "description": "Only return the authorized features, excludes quota summary and usage details"
                    }
                ],
                "tags": [
                    "Quota"
                ]
            }
        },
        "/tenant/confirm": {
            "post": {
                "summary": "Confirm Tenant Account",
                "operationId": "post-v1-tenant-confirm",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success_message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "success_message": "Tenant account has been successfully confirmed!"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Confirm a newly-created tenant account\n\nThe following prerequisites are required for this endpoint:\n* The tenant account confirmation code _(emailed to the new user)_\n* Permissions _(at least one):_ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`\n\n> **Please Note:** A confirm operation can only be completed by the user who created the tenant acccount",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "description": "A six-digit confirmation code",
                                        "minLength": 6,
                                        "maxLength": 6,
                                        "default": "645881"
                                    }
                                },
                                "required": [
                                    "code"
                                ]
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "code": "645881"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tenant"
                ]
            }
        },
        "/tenant/onboarding": {
            "parameters": [],
            "post": {
                "summary": "Complete Tenant Onboarding",
                "operationId": "complete-tenant-onboarding",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Complete-Onboarding"
                    }
                },
                "description": "Mark the tenant account for the authenticated user as having completed onboarding\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "null"
                            },
                            "examples": {
                                "Example": {
                                    "value": null
                                }
                            }
                        }
                    },
                    "description": "*No request body is necesssary for this request*"
                },
                "tags": [
                    "Tenant"
                ]
            }
        },
        "/tenant/preferences": {
            "get": {
                "summary": "RetrieveTenant Preferences",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Tenant-Preferences"
                    }
                },
                "operationId": "get-tenant-preferences",
                "description": "Retrieve platform preferences set for the authenticated user's tenant account\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:read`",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "name": "Content-Type",
                        "description": "application/json"
                    }
                ],
                "tags": [
                    "Preferences"
                ]
            },
            "patch": {
                "summary": "Update Tenant Preferences",
                "operationId": "update-tenant-preferences",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200-Tenant-Preferences"
                    }
                },
                "description": "Update platform preferences set for the authenticated user's tenant account\n\n__Required Permissions:__ `*`,`tenant:*`,`tenant:account:*`,`tenant:account:update`",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "name": "Content-Type",
                        "description": "Application-json"
                    }
                ],
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Tenant-Preferences"
                            }
                        }
                    }
                },
                "tags": [
                    "Preferences"
                ]
            }
        },
        "/tenant/deletion-pin": {
            "post": {
                "summary": "Set Deletion PIN",
                "operationId": "post-v1-tenant-deletion-pin",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tenant-Deletion-PIN"
                                }
                            }
                        }
                    }
                },
                "description": "Set a deletion PIN that allows Counterbalance Support to permanently delete a tenant account",
                "security": [
                    {
                        "Bearer Token": []
                    }
                ],
                "tags": [
                    "Tenant"
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "Bearer Token": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "responses": {
            "Retrieve-Tenant-Account": {
                "description": "Example response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Tenant-Account"
                        }
                    }
                }
            },
            "Retrieve-Site": {
                "description": "",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Site"
                        }
                    }
                }
            },
            "404-Site-Not-Found": {
                "description": "Not Found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Site not found",
                                        "console": "The site ID ... could not be found in the database",
                                        "code": 404
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "404-Floor-Not-Found": {
                "description": "Not Found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Floor not found",
                                        "console": "The floor ID ... could not be found in the database",
                                        "code": 404
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "404-Room-Not-Found": {
                "description": "Not Found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Room not found",
                                        "console": "The room ID ... could not be found in the database",
                                        "code": 404
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "400-Site-Not-Empty": {
                "description": "Bad Request",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Site is not empty",
                                        "console": "The site ID ... cannot be deleted while it contains floors. Delete the associated floorsand try again.",
                                        "code": 400
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "400-Floor-Not-Empty": {
                "description": "Bad Request",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Floor not empty",
                                        "console": "The floor ID ... cannot be deleted while it contains rooms. Delete the associated rooms and try again.",
                                        "code": 400
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "200-Get-Floor": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Floor"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Floor-Object"
                            }
                        }
                    }
                }
            },
            "200-Get-Room": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Room"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Room-Object"
                            }
                        }
                    }
                }
            },
            "200-Get-Site": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Site"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Site-Object"
                            }
                        }
                    }
                }
            },
            "200-Get-Address": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Address"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Address-Object"
                            }
                        }
                    }
                }
            },
            "404-Address-Not-Found": {
                "description": "Not Found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Address not found",
                                        "console": "The address ID ... could not be found in the database",
                                        "code": 404
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "400-Address-Already-Exists": {
                "description": "Bad Request",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "Site already has an address",
                                        "console": "Update or delete the existing address",
                                        "code": 400
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "409-No-Address-Geocoding": {
                "description": "Conflict",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Invalid Geocoding": {
                                "value": {
                                    "error": {
                                        "message": "Invalid address geocoding",
                                        "console": "The address ID ... is not geocoded and we have no coordinates to check",
                                        "code": 409
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "200-Get-Timezone-Object": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Time-Zone"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Timezone-Object"
                            }
                        }
                    }
                }
            },
            "200-List-Sites": {
                "description": "OK",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "number",
                                    "description": "The number of site objects returned"
                                },
                                "index": {
                                    "type": "array",
                                    "description": "An array of the returned site object UUIDs",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "data": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "description": "An array of site objects",
                                    "items": {
                                        "$ref": "#/components/schemas/Site"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Site-Object-List"
                            }
                        }
                    }
                }
            },
            "200-List-Floors": {
                "description": "OK",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "number",
                                    "description": "The number of floor objects returned"
                                },
                                "index": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "data": {
                                    "type": "array",
                                    "description": "An array of floor objects",
                                    "items": {
                                        "$ref": "#/components/schemas/Floor"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Floor-Object-List"
                            }
                        }
                    }
                }
            },
            "200-List-Rooms": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "description": "The number of room objects returned"
                                },
                                "index": {
                                    "type": "array",
                                    "description": "",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "data": {
                                    "type": "array",
                                    "description": "An array of room objects",
                                    "items": {
                                        "$ref": "#/components/schemas/Room"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Room-Object-List"
                            }
                        }
                    }
                }
            },
            "200-Geocode-Search": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Geocode-Search"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Geocode-Search"
                            }
                        }
                    }
                }
            },
            "200-Tenant-Account": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Tenant-Account"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Tenant-Account"
                            }
                        }
                    }
                }
            },
            "201-Create-Tenant": {
                "description": "Created",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Generic-Response"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Create-Tenant-Account"
                            }
                        }
                    }
                }
            },
            "200-Tenant-Quota-Summary": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Tenant-Quota-Summary"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Tenant-Quota-Summary"
                            }
                        }
                    }
                }
            },
            "200-Tenant-Confirmed": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success_message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Confirm-Tenant-Account"
                            }
                        }
                    }
                }
            },
            "503-Tenant-Create-Error": {
                "description": "Service Unavailable",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "examples": {
                            "Response": {
                                "value": {
                                    "error": {
                                        "message": "We are unable to process your request right now. Please try again later.",
                                        "console": "There was an error while creating your account. Please try again later. If the issue persists, please contact support and provide the loggin hash provided.",
                                        "code": 503
                                    },
                                    "logging_hash": "..."
                                }
                            }
                        }
                    }
                }
            },
            "200-Complete-Onboarding": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Generic-Response"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Onboard-Tenant-Account"
                            }
                        }
                    }
                }
            },
            "200-Tenant-Preferences": {
                "description": "Ok",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Tenant-Preferences"
                        },
                        "examples": {
                            "Response": {
                                "$ref": "#/components/examples/Tenant-Preferences"
                            }
                        }
                    }
                },
                "headers": {
                    "Content-Type": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Application/json"
                    }
                }
            }
        },
        "schemas": {
            "Address": {
                "description": "",
                "type": "object",
                "title": "Address",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "last_modified": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "readOnly": true
                    },
                    "@site": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "locality": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "county": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postcode": {
                        "type": "number"
                    },
                    "country": {
                        "type": "string"
                    },
                    "formatted": {
                        "type": "string"
                    },
                    "geolocation": {
                        "type": "object",
                        "properties": {
                            "latitude": {
                                "type": "number"
                            },
                            "longitude": {
                                "type": "number"
                            }
                        }
                    },
                    "timezone": {
                        "type": "string"
                    },
                    "designations": {
                        "type": "object",
                        "properties": {
                            "primary_mailing": {
                                "type": "boolean"
                            },
                            "primary_billing": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "x-tags": [
                    "Address"
                ]
            },
            "Floor": {
                "description": "",
                "type": "object",
                "title": "Floor",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "last_modified": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "readOnly": true
                    },
                    "@site": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "code": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "below_grade": {
                                "type": "boolean"
                            },
                            "gross_floor_area": {
                                "type": "number",
                                "readOnly": true
                            },
                            "room_count": {
                                "type": "number",
                                "readOnly": true
                            },
                            "net_room_area": {
                                "type": "number",
                                "readOnly": true
                            }
                        }
                    }
                },
                "x-tags": [
                    "Floor"
                ]
            },
            "Error": {
                "title": "Typical Error Response",
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string",
                                "description": "The error that occurred"
                            },
                            "console": {
                                "type": "string",
                                "description": "Additional error output and further instruction"
                            },
                            "code": {
                                "type": "number",
                                "description": "The HTTP error code"
                            }
                        },
                        "required": [
                            "message",
                            "console",
                            "code"
                        ]
                    },
                    "logging_hash": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "A logging entry ID for debugging"
                    }
                }
            },
            "Geocode-Search": {
                "description": "",
                "type": "object",
                "x-examples": {
                    "Example": {
                        "$ref": "#/components/examples/Geocode-Search"
                    }
                },
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "geolocation": {
                        "type": "object",
                        "properties": {
                            "latitude": {
                                "type": "number"
                            },
                            "longitude": {
                                "type": "number"
                            }
                        }
                    },
                    "geometry": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "title": "Geocode Search",
                "x-tags": [
                    "Utilities"
                ]
            },
            "Tenant-Account": {
                "description": "",
                "type": "object",
                "title": "Tenant Account Object",
                "x-examples": {
                    "Example": {
                        "id": "d6797ebf-5b00-4a59-b3e5-19711b4c55bb",
                        "name": "Figgis Agency",
                        "flags": {
                            "active": true,
                            "has_subscription": true,
                            "has_billing_account": true,
                            "locked": false,
                            "confirmed": true,
                            "deleted": false
                        },
                        "billing_id": "cus_GZBdOM86hQZldD",
                        "locale": "en-us",
                        "primary_contact": {
                            "id": "1b17e73b-4cf7-4b47-a0f8-46f878ef7bf1",
                            "name": {
                                "given": "Cyril",
                                "family": "Figgis",
                                "full": "Cyril Figgis"
                            },
                            "email": "cyril@figgisagency.com",
                            "phone": {
                                "primary": {
                                    "type": null,
                                    "number": null
                                }
                            }
                        },
                        "subscription": {
                            "tier": 3,
                            "sku": "plan_GvzroFXIrnFYdH",
                            "active": true
                        },
                        "trial": {
                            "status": "Never Started",
                            "used": false,
                            "active": false,
                            "expired": false,
                            "expires": 0
                        },
                        "addresses": {
                            "mailing": "f3643601-d122-47c5-893c-1f108c07d840",
                            "billing": null
                        },
                        "milestones": {
                            "account_created": {
                                "status": true,
                                "timestamp": 1517451002
                            },
                            "account_deleted": {
                                "status": false,
                                "timestamp": 0
                            },
                            "account_confirmation": {
                                "status": true,
                                "timestamp": 1580183430
                            },
                            "onboarded": {
                                "status": true,
                                "timestamp": 1580183430
                            },
                            "accepted_terms": {
                                "status": false,
                                "timestamp": 0
                            },
                            "accepted_billing_terms": {
                                "status": false,
                                "timestamp": 0
                            },
                            "accepted_subscription_terms": {
                                "status": false,
                                "timestamp": 0
                            }
                        }
                    }
                },
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The UUID of the tenant account"
                    },
                    "name": {
                        "type": "string"
                    },
                    "flags": {
                        "type": "object",
                        "properties": {
                            "active": {
                                "type": "boolean"
                            },
                            "has_billing_account": {
                                "type": "boolean"
                            },
                            "locked": {
                                "type": "boolean"
                            },
                            "confirmed": {
                                "type": "boolean"
                            },
                            "deleted": {
                                "type": "boolean"
                            }
                        }
                    },
                    "tier": {
                        "default": 1,
                        "type": "integer",
                        "readOnly": true
                    },
                    "billing_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "locale": {
                        "type": "string"
                    },
                    "primary_contact": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "name": {
                                "type": "object",
                                "properties": {
                                    "given": {
                                        "type": "string"
                                    },
                                    "family": {
                                        "type": "string"
                                    },
                                    "full": {
                                        "type": "string"
                                    }
                                }
                            },
                            "email": {
                                "type": "string"
                            },
                            "phone": {
                                "type": "object",
                                "properties": {
                                    "primary": {
                                        "type": "object",
                                        "properties": {
                                            "type": {},
                                            "number": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "addresses": {
                        "type": "object",
                        "properties": {
                            "mailing": {
                                "type": "string",
                                "format": "uuid",
                                "nullable": true
                            },
                            "billing": {
                                "type": "string",
                                "format": "uuid",
                                "nullable": true
                            }
                        }
                    },
                    "milestones": {
                        "type": "object",
                        "properties": {
                            "account_created": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                }
                            },
                            "account_deleted": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                }
                            },
                            "account_confirmation": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                }
                            },
                            "onboarded": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                }
                            },
                            "accepted_terms": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                }
                            },
                            "accepted_billing_terms": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                }
                            },
                            "accepted_subscription_terms": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "boolean"
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                }
                            }
                        }
                    }
                },
                "x-tags": [
                    "Account"
                ]
            },
            "Tenant-Quota-Object": {
                "description": "",
                "type": "object",
                "x-examples": {},
                "title": "Tenant Quota Object",
                "x-internal": false,
                "x-tags": [
                    "Quota"
                ],
                "properties": {
                    "usage": {
                        "type": "object",
                        "properties": {
                            "collector": {
                                "type": "number"
                            },
                            "controller": {
                                "type": "number"
                            },
                            "equipment": {
                                "type": "number"
                            },
                            "fdd_rule": {
                                "type": "number"
                            },
                            "gateway": {
                                "type": "number"
                            },
                            "kiosk": {
                                "type": "number"
                            },
                            "meter": {
                                "type": "number"
                            },
                            "point": {
                                "type": "number"
                            },
                            "record_user": {
                                "type": "number"
                            },
                            "reset": {
                                "type": "number"
                            },
                            "routine": {
                                "type": "number"
                            },
                            "seat": {
                                "type": "number"
                            },
                            "site": {
                                "type": "number"
                            },
                            "trigger": {
                                "type": "number"
                            },
                            "user": {
                                "type": "number"
                            }
                        }
                    },
                    "tenant": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "minLength": 1
                            },
                            "billing_id": {
                                "type": "string",
                                "minLength": 1
                            },
                            "tier": {
                                "type": "number"
                            },
                            "account_type": {
                                "type": "string",
                                "minLength": 1
                            }
                        }
                    },
                    "quotas": {
                        "type": "object",
                        "properties": {
                            "collector": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "controller": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "equipment": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "fdd_rule": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "gateway": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "kiosk": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "meter": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "point": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "record_user": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "report_schedule": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "reset": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "routine": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "seat": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "site": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "trigger": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            },
                            "user": {
                                "$ref": "#/components/schemas/Tenant-Quota-Item-Object"
                            }
                        }
                    },
                    "composition": {
                        "type": "object",
                        "properties": {
                            "base": {
                                "type": "object",
                                "properties": {
                                    "included_quotas": {
                                        "type": "object",
                                        "properties": {
                                            "controller": {
                                                "type": "number"
                                            },
                                            "gateway": {
                                                "type": "number"
                                            },
                                            "meter": {
                                                "type": "number"
                                            },
                                            "point": {
                                                "type": "number"
                                            },
                                            "seat": {
                                                "type": "number"
                                            },
                                            "site": {
                                                "type": "number"
                                            },
                                            "record_user": {}
[...]
