{
  "openapi": "3.0.2",
  "info": {
    "title": "Core API",
    "version": "1.0",
    "description": "",
    "termsOfService": "https://www.counterbalance.io/legal/api-terms",
    "contact": {
      "name": "Counterbalance Support",
      "email": "support@counterbalance.io"
    }
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/tenant": {
      "get": {
        "summary": "Get Tenant Account",
        "tags": [
          "Tenant Account"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Get-Tenant-Account"
          }
        },
        "operationId": "get-tenant",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Tenant Account",
        "operationId": "update-tenant",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update a tenant account"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer-Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Get-Tenant-Account": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tenant-Account"
            }
          }
        }
      }
    },
    "schemas": {
      "Tenant-Account": {
        "description": "",
        "type": "object",
        "title": "Tenant Account Object",
        "x-examples": {
          "Example": {
            "id": "d6797ebf-5b00-4a59-b3e5-19711b4c55bb",
            "name": "Figgis Agency",
            "flags": {
              "active": true,
              "has_subscription": true,
              "has_billing_account": true,
              "locked": false,
              "confirmed": true,
              "deleted": false
            },
            "billing_id": "cus_GZBdOM86hQZldD",
            "locale": "en-us",
            "primary_contact": {
              "id": "1b17e73b-4cf7-4b47-a0f8-46f878ef7bf1",
              "name": {
                "given": "Cyril",
                "family": "Figgis",
                "full": "Cyril Figgis"
              },
              "email": "cyril@figgisagency.com",
              "phone": {
                "primary": {
                  "type": null,
                  "number": null
                }
              }
            },
            "subscription": {
              "tier": 3,
              "sku": "plan_GvzroFXIrnFYdH",
              "active": true
            },
            "trial": {
              "status": "Never Started",
              "used": false,
              "active": false,
              "expired": false,
              "expires": 0
            },
            "addresses": {
              "mailing": "f3643601-d122-47c5-893c-1f108c07d840",
              "billing": null
            },
            "milestones": {
              "account_created": {
                "status": true,
                "timestamp": 1517451002
              },
              "account_deleted": {
                "status": false,
                "timestamp": 0
              },
              "account_confirmation": {
                "status": true,
                "timestamp": 1580183430
              },
              "onboarded": {
                "status": true,
                "timestamp": 1580183430
              },
              "accepted_terms": {
                "status": false,
                "timestamp": 0
              },
              "accepted_billing_terms": {
                "status": false,
                "timestamp": 0
              },
              "accepted_subscription_terms": {
                "status": false,
                "timestamp": 0
              }
            }
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the tenant account"
          },
          "name": {
            "type": "string"
          },
          "flags": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "has_billing_account": {
                "type": "boolean"
              },
              "locked": {
                "type": "boolean"
              },
              "confirmed": {
                "type": "boolean"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          },
          "tier": {
            "default": 1,
            "type": "integer",
            "readOnly": true
          },
          "billing_id": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string"
          },
          "primary_contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "object",
                "properties": {
                  "given": {
                    "type": "string"
                  },
                  "family": {
                    "type": "string"
                  },
                  "full": {
                    "type": "string"
                  }
                }
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "object",
                "properties": {
                  "primary": {
                    "type": "object",
                    "properties": {
                      "type": {},
                      "number": {}
                    }
                  }
                }
              }
            }
          },
          "addresses": {
            "type": "object",
            "properties": {
              "mailing": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "billing": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              }
            }
          },
          "milestones": {
            "type": "object",
            "properties": {
              "account_created": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "account_deleted": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "account_confirmation": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "onboarded": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "accepted_terms": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "accepted_billing_terms": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              },
              "accepted_subscription_terms": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "x-tags": [
          "Account"
        ]
      }
    }
  }
}