{
  "openapi": "3.0.2",
  "info": {
    "title": "Core API Reference",
    "version": "1.0",
    "description": "The Counterbalance Core API provides powerful, programmatic access to the Counterbalance platform and powers its feature-rich building management UI. Everything that is possible via the Counterbalance System Console is powered by this API.\n\nThis documentation walks through the API endpoints and their usage.\n\n## Supported HTTP Operations\nOur APIs supports the `GET`,`POST`,`PUT`,`PATCH`,`DELETE`, & `OPTIONS` verbs. General usage of these verbs is outlined in the following table.\n\nVerb | Description\n-----|------------\n`GET`     | Retrieves existing resources\n`POST`    | Creates a new resource and returns it\n`PUT`     | Creates a new resource within or attached to an existing resource and returns the new resource\n`PATCH`   | Updates an existing resource and returns the updated resource\n`DELETE`  | Removes an existing resource and returns nothing\n`OPTIONS` | List available verbs against a resource\n\n## Status Codes\n\nOur APIs return standard HTTP status codes. All status codes used are outlined below. \n\n### Success Codes\n\nCode | Response | Description\n-----|----------|---------\n**200** | `Ok` | The request was completed successfully. Response body will vary.\n**201** | `Created` | In response to a PUT or POST request, the resource was created successfully. The new resource's ID will be returned in the response body.\n**204** | `No Content` | The request was completed successfully and there is no response body to return. Such as when an object has been deleted. The response body will be _null_.\n\n### Error Codes\n\nCode | Response | Description\n-----|----------|---------\n**400** | `Bad Request` | The request was malformed, provided incorrect/incomplete/conflicting parameters, or the requested endpoint does not exist. The response body will contain additional information about why the error has occurred. Do not repeat the request without modifying it first.\n**401** | `Unauthorized` | The request requires an Authorization header and a valid token but either neither was provided or the provided token has expired. Refer to the error message provided to determine the proper course of action. \n**403** | `Forbidden` | The API authentication was successful but the user does not have adequate permissions to satisfy the request or the tenant account is locked.\n**404** | `Not Found` | The resource requested does not exist or was not found.\n**409** | `Conflict` | The provided combination of parameters results in a conflict and the resource cannot be updated. The error message output will provide additional information as to why the call cannot be completed.\n**5XX** | _`varies`_ | The API encountered an internal error when processing the request. The error message provided may provide additional information. Retrying the request after a few minutes may be successful.\n\n## Authenticating Requests\nThe authentication requirement for each API varies, but in general, most endpoints will require authentication. \n\nTo authenticate, add an `Authorization` header with a valid **Bearer** token.\n```\nAuthorization: Bearer eyJg...fw5c\n```\n\n### Obtaining an Access Token\nFollow the steps below to obtain an access token for use with these docs.\n1. Open [Counterbalance Single Sign-On](https://sso.counterbalance.io) and login when prompted\n2. Click **Copy Token** to copy an access token to your clipboard\n\n### Request Authorization\nSome API endpoints require a paid subscription. If a request is made to a paid feature that is not available, a `403 Forbidden` response will be returned. \n\nAdditionally, some platform resources and features are measured against a licensed quota limit. If an attempt is made to add additional resources once a quota limit has been reached, a `403 Forbidden` response will be returned.\n\n## Submitting Data\nWhen submitting non-binary data via a `POST`, `PUT`, or `PATCH` endpoint, the data payload must be in JSON.\n\nProcedures for submitting other types of data to platform APIs are documented on a per-endpoint basis. \n\n## Handling Errors\nAll API errors will return a common error response format. The response will provide an \n\n### Error Logging\n\nMost errors are automatically logged and reported. These errors will return a `logging_hash` entry ID in the error response body.\n\n```json\n{\n    \"error\": {\n        ...\n    },\n    \"logging_hash\": \"034dd6ad00770337bb07e906d919ed50f8884e86\"\n}\n```\n\nThis entry ID is also added as a header in the response.\n\n```\nX-Counterbalance-Log-Hash: 034dd6ad00770337bb07e906d919ed50f8884e86\n```\n",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io/v1",
      "description": "Production API"
    },
    {
      "description": "Staging",
      "url": "https://api-staging.counterbalance.io/v1"
    }
  ],
  "paths": {
    "/billing/account": {
      "get": {
        "summary": "Get Billing Account",
        "tags": [
          "Billing Account"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Billing-Account"
          }
        },
        "operationId": "get-billing-account",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve tenant billing account\n\n**Required Permissions:** `*`,`billing:*`,`billing:account:*`,`billing:account:read`"
      },
      "post": {
        "summary": "Create Billing Account",
        "operationId": "create-billing-account",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create tenant billing account\n\n**Required Permissions:** `*`,`billing:*`,`billing:account:*`,`billing:account:create`",
        "tags": [
          "Billing Account"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [],
      "patch": {
        "summary": "Update Billing Account",
        "operationId": "update-billing-account",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Billing Account"
        ],
        "description": "Update tenant billing account\n\n**Required Permissions:** `*`,`billing:*`,`billing:account:*`,`billing:account:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Billing Account",
        "operationId": "delete-billing-account",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Billing Account"
        ],
        "description": "Delete/remove tenant billing account\n\n**Required Permissions:** `*`,`billing:*`,`billing:account:*`,`billing:account:delete`"
      }
    },
    "/billing/account/sources": {
      "get": {
        "summary": "List Payment Sources",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Payment-Sources"
          }
        },
        "operationId": "list-payment-sources",
        "description": "List payment sources\n\n**Required Permissions:** `*`,`billing:*`,`billing:sources:*`,`billing:sources:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Payment Source"
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create Payment Source",
        "operationId": "create-payment-source",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create a new payment source\n\n**Required Permissions:** `*`,`billing:*`,`billing:sources:*`,`billing:sources:create`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Payment Source"
        ]
      }
    },
    "/billing/account/sources/{sourceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/sourceId"
        }
      ],
      "get": {
        "summary": "Get Payment Source",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Payment-Source"
          }
        },
        "operationId": "get-payment-source",
        "description": "Retrieve a payment source\n\n**Required Permissions:** `*`,`billing:*`,`billing:sources:*`,`billing:sources:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Payment Source"
        ]
      },
      "patch": {
        "summary": "Update Payment Source",
        "operationId": "update-payment-source",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Payment Source"
        ],
        "description": "Update a payment source\n\n**Required Permissions:** `*`,`billing:*`,`billing:sources:*`,`billing:sources:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Payment Source",
        "operationId": "delete-payment-source",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Payment Source"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Delete a payment source\n\n**Required Permissions:** `*`,`billing:*`,`billing:sources:*`,`billing:sources:delete`"
      }
    },
    "/billing/invoice": {
      "get": {
        "summary": "List Invoices",
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-invoices",
        "description": "List invoices\n\n**Required Permissions:** `*`,`billing:*`,`billing:invoice:*`,`billing:invoice:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/billing/invoice/{invoiceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/invoiceId"
        }
      ],
      "get": {
        "summary": "Get Invoice",
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-invoice",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve an invoice\n\n**Required Permissions:** `*`,`billing:*`,`billing:invoice:*`,`billing:invoice:read`"
      }
    },
    "/billing/subscription": {
      "get": {
        "summary": "List Subscriptions",
        "tags": [
          "Subscription"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Subscriptions"
          }
        },
        "operationId": "list-subscriptions",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve a list of subscriptions\n\n**Required Permissions:** `*`,`billing:*`,`billing:subscription:*`,`billing:subscription:read`"
      },
      "post": {
        "summary": "Create Subscription",
        "operationId": "create-subscription",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Create a new subscription\n\n**Required Permissions:** `*`,`billing:*`,`billing:subscription:*`,`billing:subscription:create`",
        "tags": [
          "Subscription"
        ]
      }
    },
    "/billing/subscription/{subscriptionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "get": {
        "summary": "Get Subscription",
        "tags": [
          "Subscription"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Subscription"
          }
        },
        "operationId": "get-subscription",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve a subscription\n\n**Required Permissions:** `*`,`billing:*`,`billing:subscription:*`,`billing:subscription:read`"
      },
      "patch": {
        "summary": "Update Subscription",
        "operationId": "update-subscription",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update a subscription\n\n**Required Permissions:** `*`,`billing:*`,`billing:subscription:*`,`billing:subscription:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      },
      "delete": {
        "summary": "Delete Subscription",
        "operationId": "delete-subscription",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Delete a subscription\n\n**Required Permissions:** `*`,`billing:*`,`billing:subscription:*`,`billing:subscription:delete`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      }
    },
    "/billing/subscription/{subscriptionId}/upcoming-invoice": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "get": {
        "summary": "Get Upcoming Invoice",
        "tags": [
          "Subscription"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-subscription-upcoming-invoice",
        "description": "Get upcoming invoice\n\n**Required Permissions:** `*`,`billing:*`,`billing:invoice:*`,`billing:invoice:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/collector": {
      "post": {
        "summary": "Create Collector",
        "operationId": "create-collector",
        "responses": {
          "201": {
            "$ref": "#/components/responses/201-Create-Collector"
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "description": "Create a point collector\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:create`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@point": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the point to be collected"
                  },
                  "interval": {
                    "type": "number",
                    "format": "double",
                    "default": 300,
                    "enum": [
                      300,
                      900,
                      1800,
                      3600
                    ],
                    "description": "The frequency in which to sample the point"
                  }
                },
                "required": [
                  "@point"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "@point": "52aa66de-e553-4383-9e16-52bfcd0efb0f",
                    "interval": 300
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Collector"
        ]
      },
      "get": {
        "summary": "List Collectors",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Collector-Listing"
          }
        },
        "operationId": "list-collectors",
        "description": "Retrieve a list of point collectors\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/@controller"
          },
          {
            "$ref": "#/components/parameters/@gateway"
          },
          {
            "$ref": "#/components/parameters/@site"
          },
          {
            "$ref": "#/components/parameters/@point"
          }
        ],
        "tags": [
          "Collector"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Collector"
        }
      },
      "parameters": []
    },
    "/collector/{collectorId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/collectorId"
        }
      ],
      "get": {
        "summary": "Retrieve Collector",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Collector"
          },
          "404": {
            "$ref": "#/components/responses/404-Collector-Not-Found"
          }
        },
        "operationId": "get-collector",
        "description": "Retreieve a point collector\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "tags": [
          "Collector"
        ]
      },
      "delete": {
        "summary": "Delete Collector",
        "operationId": "delete-collector",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true
                },
                "examples": {}
              }
            }
          }
        },
        "description": "Delete a point collector\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:delete`",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Collector"
        ]
      },
      "patch": {
        "summary": "Update Collector",
        "operationId": "update-collector",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Collector"
          },
          "404": {
            "$ref": "#/components/responses/404-Collector-Not-Found"
          }
        },
        "tags": [
          "Collector"
        ],
        "description": "Update a point collector\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Collector"
        }
      }
    },
    "/collector/{collectorId}/sample": {
      "parameters": [
        {
          "$ref": "#/components/parameters/collectorId"
        }
      ],
      "get": {
        "summary": "Sample Collector Data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Collector-Samples"
          },
          "404": {
            "$ref": "#/components/responses/404-Collector-Not-Found"
          }
        },
        "operationId": "get-collector-samples",
        "description": "Retrieve data samples for the specified collector \n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:sample`\n\n### Adjusting the Sample Window\nBy default, if no query parameters are specified, the last 12 hours of sample data is returned. \n\nThe starting point and ending point of the sample window can be adjust with query parameters in two ways. \n\n#### Using a Fixed Date Range\nTo retrieve sample data for a fixed period of time (between two dates), pass both the `start` and `end` parameters as the unix timestamps for the desired dates.\n\nFor example, for sample data between 8AM on March 1st, 2021 to 8PM on March 5th, 2021, convert these dates and times to their corresponding UNIX timestamps and pass them in the corresponding parameter.\n\n```\nHTTP/1.1 https://api.counterbalance.io/.../sample?start=1614700800&end=1615005120\n```\n\n#### Using a Relative Date Range\n\nTo retrieve sample data for a relative period of time _(last 7 days, last 2 hours, etc)_, the `duration` parameter is used to dynamically set the window start or end point.\n\nWhen `duration` is passed, the `start` and `end` parameters become mutually exclusive. The relative range can only be set by specifying one or the other (or neither). If neither `start` nor `end` are passed, the starting point is set relative to the current date and time.\n\nIf `end` is specified, the relative start is calculated and samples _up to_ the specified end date are returned.\n\nIf `start` is specified, the relative end is calculated and samples _since_ the specified start date are returned\n\nFor example, for sample data for the 24 hours ending at 8AM on March 1st, 2021, convert the end date and time to a UNIX timestamp and specify the desired duration.\n\n```\nHTTP/1.1 https://api.counterbalance.io/.../sample?start=1614700800\n```\n\n#### Using Start Only\nTo retrieve sample data for a relative period of time _(last 7 days, last 2 hours, etc)_, the `duration` parameter is used to dynamically set a window start or end point.\n\nWhen `duration` is passwed, the `start` and `end` parameters become mutually exclusive and the relative range can only be set by specifying one or the other (or neither).\n\nThe `end` paramater is optional. The current date and time will be used if no end is explicitly set.\n\nFor example, for sample data for the 24 hours ending at 8AM on March 1st, 2021, convert the end date and time to a UNIX timestamp and specify the desired duration.\n\n```\nHTTP/1.1 https://api.counterbalance.io/.../sample?start=1614700800\n```\n",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "start",
            "description": "Specify the timestamp for the historic point in time where a sample window begins (left side of the X-axis)"
          },
          {
            "schema": {
              "type": "number",
              "default": "now"
            },
            "in": "query",
            "name": "end",
            "description": "Specify the timestamp where a sample window ends (right side of the X-axis)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "duration",
            "description": "The length of a relative sample window in seconds"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "schema": {
              "type": "array",
              "enum": [
                "data",
                "health",
                "statistics"
              ]
            },
            "in": "query",
            "name": "include",
            "description": "Specify which sample components to return with the response"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Collector"
        ]
      }
    },
    "/collector/{collectorId}/stats": {
      "parameters": [
        {
          "$ref": "#/components/parameters/collectorId"
        }
      ],
      "get": {
        "summary": "Retrieve Collector Sample Statistics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Collector-Sample-Stats"
          },
          "404": {
            "$ref": "#/components/responses/404-Collector-Not-Found"
          }
        },
        "operationId": "get-collector-stats",
        "description": "Retrieve sample statistics for a collector\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:collector:*`,`telemetry:collector:read`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Collector"
        ]
      }
    },
    "/controller": {
      "get": {
        "summary": "List Controllers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Controller-Listing"
          }
        },
        "operationId": "get-controller-list",
        "description": "Retrieve a list of controllers\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/@gateway"
          },
          {
            "$ref": "#/components/parameters/@site"
          }
        ],
        "tags": [
          "Controller"
        ]
      },
      "post": {
        "summary": "Register Controller",
        "operationId": "create-controller",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Controller"
          }
        },
        "description": "Register a new BACnet controller\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:register`\n\n### Compatible BACnet Field Controllers\nMost BACnet automation devices are compatible with Counterbalance. The complete list of compatible devices is available in the support portal.\n\n* [Compatible BACnet Devices](https://counterbalance.zendesk.com/hc/en-us/articles/360063269913)",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Controller"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Controller"
        }
      },
      "parameters": []
    },
    "/controller/{controllerId}": {
      "parameters": [
        {
          "name": "controllerId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "A valid controller UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Controller",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Controller"
          },
          "404": {
            "$ref": "#/components/responses/404-Controller-Not-Found"
          }
        },
        "operationId": "get-controller",
        "description": "Retrieve a controller\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "bacnet",
            "description": "Include online and BACnet data"
          }
        ],
        "tags": [
          "Controller"
        ]
      },
      "patch": {
        "summary": "Update Controller",
        "operationId": "update-controller",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Controller"
          },
          "404": {
            "$ref": "#/components/responses/404-Controller-Not-Found"
          }
        },
        "description": "Update a field controller\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:update`",
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Controller"
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Controller"
        ]
      },
      "delete": {
        "summary": "Delete Field Controller",
        "operationId": "delete-controller",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Controller-Not-Found"
          }
        },
        "description": "### Synopsis\nDelete a controller\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:delete`\n\n<!-- theme: danger -->\n> **Danger!** Deleting a field controller will also remove its associated telemetry (points, schedules, etc) and all associated meters and collectors",
        "tags": [
          "Controller"
        ]
      }
    },
    "/department": {
      "get": {
        "summary": "List Departments",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-departments",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create New Department",
        "operationId": "create-department",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "tags": [
          "Department"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": []
    },
    "/department/{departmentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "departmentId",
          "in": "path",
          "required": true,
          "description": "A valid department UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Department",
        "tags": [
          "Department"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-department",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Department",
        "operationId": "update-department",
        "tags": [
          "Departments"
        ],
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete Department",
        "operationId": "delete-department",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "tags": [
          "Departments"
        ],
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/gateway": {
      "get": {
        "summary": "List Gateways",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway-Listing"
          }
        },
        "operationId": "get-gateway-list",
        "description": "Retrieve a list of gateway devices\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Gateway"
        ]
      },
      "post": {
        "summary": "Activate Gateway",
        "operationId": "create-gateway",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Gateway"
          }
        },
        "description": "Activate a gateway device and register it with a tenant account\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:register`\n\n> **Heads Up** This endpoint is subject to `gateway` quota availabilty\n\n### Prerequisite Setup\nThe target gateway device must be fully configured on a network with Internet access before it can be registered. Registration will fail if the device cannot be contacted. \n\n##### Helpful Support Articles\n* [How to Purchase a Gateway Device]()\n* [Configure Gateway Networking & BACnet](https://counterbalance.zendesk.com/hc/en-us/articles/360063269293)\n* [Gateway Architecture & Specifications]()\n\n### Gateway Serial Number\nThe gateway serial number is required in order to activate it. The serial number is found on the bottom of the device or by loading the local web GUI of the gateway.",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Gateway"
        },
        "tags": [
          "Gateway"
        ]
      },
      "parameters": []
    },
    "/gateway/{gatewayId}": {
      "parameters": [
        {
          "name": "gatewayId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "539fea81-d151-46e1-b1f6-36e3864ebeff"
          },
          "description": "A valid gateway UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Gateway",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "operationId": "get-gateway",
        "description": "Retrieve a gateway device by ID\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:read`",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Gateway"
        ]
      },
      "patch": {
        "summary": "Update Gateway",
        "operationId": "update-gateway",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "description": "Update a gateway device\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "application/json",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Gateway"
        },
        "tags": [
          "Gateway"
        ]
      },
      "delete": {
        "summary": "Delete Gateway",
        "operationId": "delete-gateway",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "description": "Delete a gateway device\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:delete`\n\n### Connected Controllers\nWhen a gateway is deleted, the connected controllers are retained but all data collection activities will stop, building intelligence rules will be unavailable, and any associated meters will be in fault. \n\nA controller can be re-associated with an active gateway via the [Update Controller](/reference/Infrastructure.v1.json/paths/~1v1~1infrastructure~1gateway~1%7BgatewayId%7D/patch) endpoint.\n\n### Deleting an Offline Gateway\nBy default, when a gateway is deleted, the system will attempt to contact and initialize it. If the gateway cannot be contacted, the delete operation will fail. \n\nTo override this default action, set the `force` query parameter to `true`. This will require an additional manual reset in the local web GUI of the gateway device before the device can be registered again.\n\nRefer to support article [Manually Resetting a Gateway Device]() for additional information.",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "force",
            "description": "Force the delete of a gateway that is offline"
          }
        ],
        "tags": [
          "Gateway"
        ]
      }
    },
    "/gateway/{gatewayId}/status": {
      "parameters": [
        {
          "name": "gatewayId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "539fea81-d151-46e1-b1f6-36e3864ebeff"
          },
          "description": "A valid gateway UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Gateway Status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway-Status"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "operationId": "get-gateway-status",
        "description": "Retrieve a gateway device status details\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:read`",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Gateway"
        ]
      }
    },
    "/gateway/{gatewayId}/devices": {
      "parameters": [
        {
          "name": "gatewayId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "539fea81-d151-46e1-b1f6-36e3864ebeff"
          },
          "description": "A valid gateway UUID"
        }
      ],
      "get": {
        "summary": "List Available Controllers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway-Devices"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "operationId": "get-gateway-devices",
        "description": "Retrieve a list of available controllers connected via the specified gateway\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:query`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Gateway"
        ]
      }
    },
    "/gateway/{gatewayId}/whois": {
      "parameters": [
        {
          "name": "gatewayId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "539fea81-d151-46e1-b1f6-36e3864ebeff"
          },
          "description": "A valid gateway UUID"
        }
      ],
      "post": {
        "summary": "Send BACnet Who-Is",
        "operationId": "send-whois",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Whois"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "description": "Send a BACnet Who-Is to the network and review responsive field controllers\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:query`\n",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "BACnet"
        ]
      }
    },
    "/gateway/{gatewayId}/admin/service": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "put": {
        "summary": "Start/Stop Gateway Service",
        "operationId": "toggle-gateway-service",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Generic-Operation"
          }
        },
        "tags": [
          "Gateway"
        ],
        "description": "Start and stop gateway services\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:service`\n\n > **Note:** *This endpoint is intended for advanced troubleshooting and **should not be used** without advice from Counterbalance support.*\n <!-- theme: danger -->\n > **Warning:** *Improper use of this endpoint may sever communication to the device and may require the gateway to be reset to factory defaults.*\n\n## Services Available\n\n| Service ID | Name | Description |\n|:-|:-|:-|\n| `bacnet` | **BACnet Middleware** | Toggles the BACnet middleware daemon for communicating with the BACnet network\n| `ssh` | **Secure Shell (SSH)** | Toggles SSH access to the device locally. By default, SSH is enabled.\n| `tunnel` | **Tunnel Middleware** | Toggles the secure tunnel service for remote device access <br>***Caution:** Stopping this service will sever remote access to the gateway from the cloud. This can be restarted using the local GUI of the gateway.*\n",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cycle-Gateway-Service"
        }
      }
    },
    "/gateway/{gatewayId}/admin/ethernet": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "put": {
        "summary": "Configure Gateway Network",
        "operationId": "config-gateway-network",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Generic-Operation"
          }
        },
        "tags": [
          "Gateway"
        ],
        "description": "Configure a gateway network interfce IP address, DNS servers, and DHCP\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:network`\n\n## Specifying the Interface\nYou must specify which interface to update by setting the `interface` request body parameter to one of the values in the following table.\n\n| Interface | Description |\n|:-|:-|\n| **`eth0`** | Primary ethernet port\n\n## Supported Network Configurations\nThe gateway device currently supports one ethernet interface, `eth0`, and can be configured for dynamic addressing with DHCP, or a static IP address (recommended). \n\n### Configuring a Static IP Address\nTo configure an interface with a static IP address, set the `address`, `mask`, and `gateway` request body parameters, set the `dhcp` request body parameter to `false`, and provide at least one DNS server address.\n\n```json\n{\n  \"interface\": \"eth0\",\n  \"dhcp\": false,\n  \"address\": \"192.168.1.100\",\n  \"mask\": \"255.255.255.0\",\n  \"gateway\": \"192.168.1.254\",\n  \"dns\": [\n    \"1.1.1.1\"\n  ]\n}\n``` \n\n### Configuring DHCP\nTo configure the interface to use DHCP, set the `dhcp` request body parameter to `true`. You can provide up to four DNS servers with the `dns` paramater to overwrite the DNS servers provided from the DHCP server. In this mode, all other address parameters are ignored.\n\n```json\n{\n  \"interface\": \"eth0\",\n  \"dhcp\": true\n}\n```\n",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Gateway-Network"
        }
      }
    },
    "/gateway/{gatewayId}/admin/hostname": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "put": {
        "summary": "Configure Gateway Hostname",
        "operationId": "config-gateway-hostname",
        "tags": [
          "Gateway"
        ],
        "description": "Configure a gateway hostname\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:hostname`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Gateway-Hostname"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Generic-Operation"
          }
        }
      }
    },
    "/gateway/{gatewayId}/admin/restart": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "put": {
        "summary": "Restart Gateway",
        "operationId": "restart-gateway",
        "tags": [
          "Gateway"
        ],
        "description": "Restart a gateway device\n\n**Required Permissions:** `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:manage`\n\nThere is no request body for this endpoint.",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Generic-Operation"
          }
        }
      }
    },
    "/group": {
      "get": {
        "summary": "List User Groups",
        "tags": [
          "User Group"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Groups"
          }
        },
        "operationId": "list-groups",
        "description": "List groups\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:read`\n\n### Filtering Results\nA combination of one or more query parameters may be used to filter returned data. Query parameters are stacked such that using multiple parameters will result in a narrower data set.\n\nWildcard searches are permitted on the `name` and `description` query parameters. Wildcard searches are case insensitive and all data is forced to lowercase for matching purposes. See usage examples below.\n\n<!--\ntitle: \"Group Name Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/group?name=*engineer*\n```",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "A list of comma-separated group IDs to return"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by group name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string",
              "example": "*engineers*"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by group descrption. Accepts * wildcard searches."
          }
        ]
      },
      "post": {
        "summary": "Create User Group",
        "operationId": "create-group",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Group"
          }
        },
        "tags": [
          "User Group"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Create a new group\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:create`",
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-User-Group"
        }
      },
      "parameters": []
    },
    "/group/{groupId}": {
      "get": {
        "summary": "Retrieve User Group",
        "tags": [
          "User Group"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Group"
          }
        },
        "operationId": "get-group",
        "description": "Retreieve a group\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "groupId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "A valid group UUID"
        }
      ],
      "patch": {
        "summary": "Update User Group",
        "operationId": "update-group",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Group"
          }
        },
        "tags": [
          "User Group"
        ],
        "description": "Update a group\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:update`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-User-Group"
        }
      },
      "delete": {
        "summary": "Delete Group",
        "operationId": "delete-group",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "User Group"
        ],
        "description": "Delete a group\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:delete`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/group/{groupId}/members": {
      "get": {
        "summary": "Retrieve User Group Members",
        "tags": [
          "User Group"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Group"
          }
        },
        "operationId": "get-group",
        "description": "Retreieve a group's members\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "groupId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "A valid group UUID"
        }
      ],
      "delete": {
        "summary": "Remove Group Members",
        "operationId": "delete-group",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "User Group"
        ],
        "description": "Delete a group\n\n**Required Permissions:** `*`,`user:*`,`user:group:*`,`user:group:delete`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "put": {
        "summary": "Add Group Members",
        "operationId": "put-v1-group-groupId-members",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User Group"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/network": {
      "get": {
        "summary": "List Networks",
        "tags": [
          "Network"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-networks",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create Network",
        "operationId": "create-network",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "Network"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": []
    },
    "/network/{networkId}": {
      "parameters": [
        {
          "name": "networkId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "A valid network UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Network",
        "tags": [
          "Network"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-network",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Network",
        "operationId": "update-network",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Network"
        ],
        "description": ""
      },
      "delete": {
        "summary": "Delete Network",
        "operationId": "delete-network",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Network"
        ],
        "description": ""
      }
    },
    "/point": {
      "get": {
        "summary": "List Points",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Point-Listing"
          }
        },
        "operationId": "list-points",
        "description": "Retrieve a list of points\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:read`\n\n### Retrieving BACnet Data for Point Lists\nYou can retrieve a limited amount of online BACnet data for each point in a point listing by specifying a controller ID using the `@controller` query parameter, and setting the `bacnet` query parameter to `true`.",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/@site"
          },
          {
            "$ref": "#/components/parameters/@controller"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results by a comma-separated list of object UUIDs"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            },
            "in": "query",
            "name": "bacnet",
            "description": "Used in conjunction with `@controller` parameter to retrieve BACnet data for the points returned"
          }
        ],
        "tags": [
          "Point"
        ]
      },
      "post": {
        "summary": "Create Point",
        "operationId": "create-point",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Point-Offline"
          },
          "400": {
            "$ref": "#/components/responses/400-Invalid-Scope"
          },
          "404": {
            "$ref": "#/components/responses/404-Controller-Not-Found"
          }
        },
        "description": "Create a new point definition\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:create`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Point"
        },
        "tags": [
          "Point"
        ]
      },
      "parameters": []
    },
    "/point/{pointId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/pointId"
        }
      ],
      "get": {
        "summary": "Retrieve Point",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Point"
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "operationId": "get-point",
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "online",
            "description": "Fetch the latest BACnet data for the point <br> ***Use of this parameter is deprecated as of V1.4.0** Use the `/bacnet` endpoint to retrieve BACnet data.*",
            "deprecated": true
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve a point\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:read`\n\n### Online BACnet Data\nEach BACnet object type will return a variable BACnet response body depending on the parameters present and supported by the target field controller. \n\nSeveral response examples are provided to illustrate the variety of parameters available.",
        "tags": [
          "Point"
        ]
      },
      "delete": {
        "summary": "Delete Point",
        "operationId": "delete-point",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "description": "Delete a point\n\n**Required Permissions** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:delete`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Point"
        ]
      },
      "patch": {
        "summary": "Update Point",
        "operationId": "update-point",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Point"
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "description": "Update a point\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:update`\n\n<!-- theme: info -->\n> **Heads Up** This endpoint will only update the Counterbalance definition of a defined point. This will not update the BACnet definition on the device. \n> \n> _Future endpoints are planned to permit online BACnet updates._",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the point"
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the point"
                  },
                  "resolution": {
                    "type": "string",
                    "description": "The display and collection resolution for analog points (decimal places)"
                  },
                  "@site": {
                    "type": "string",
                    "format": "uuid",
                    "description": "A valid site UUID to assign the point to"
                  },
                  "instance_id": {
                    "type": "number",
                    "description": "The BACnet object instance ID"
                  },
                  "units": {
                    "type": "string",
                    "description": "A valid BACnet units ID"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "SEA.RMT",
                    "description": "ROOM TEMP",
                    "site": "82478e3a-a212-41bf-9e2b-7522a1504a6b"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "tags": [
          "Point"
        ]
      }
    },
    "/point/{pointId}/bacnet": {
      "parameters": [
        {
          "name": "pointId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "168a3e32-996f-410a-a06c-c4cdc10fa362"
          },
          "description": "A valid point UUID"
        }
      ],
      "get": {
        "summary": "Retrieve BACnet Point Details",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-BACnet-Point"
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "operationId": "get-point-bacnet",
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve the BACnet details for a point\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:read`\n\n### Online BACnet Data\nEach BACnet object type will return a variable BACnet response body depending on the parameters present and supported by the target field controller. ",
        "tags": [
          "Point"
        ]
      }
    },
    "/point/{pointId}/command": {
      "parameters": [
        {
          "$ref": "#/components/parameters/pointId"
        }
      ],
      "put": {
        "summary": "Command Point",
        "operationId": "command-point",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Command-Point"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid Parameters": {
                    "value": {
                      "error": {
                        "message": "One or more required parameters are missing",
                        "console": "Check the request body and try again",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  },
                  "Invalid Operation": {
                    "value": {
                      "error": {
                        "message": "Invalid operation requested",
                        "console": "Only command and relinquish are supported",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  },
                  "Point Not Commandable": {
                    "value": {
                      "error": {
                        "message": "Datapoint not commandable",
                        "console": "This datapoint is not commandable",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "description": "Command or release a point\n\n**Required Permisions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:command`\n\n### Commandable Points\nThe table below defines the BACnet object types compatible with this endpoint. Support for enumerated values is planned for a future release.\n\n| Object Type | Description |\n|:-|:-|\n| `1` | Analog Output |\n| `2` | Analog Value |\n| `4` | Binary Output |\n| `5` | Binary Value |\n\n### Supported Command Priorities\nAll sixteen BACnet command priorities are supported. \n\n### Command vs Relinquish\nThe `operation` body parameter accepts two values: `command` or `relinquish`. These operations are described below.\n\n#### Command a New Value\nTo command a data point to a new value, set `operation` to `command` in the request body and include the desired priority and new value. The new value will be added to the command priority array at the requested priority and any previous value at the same priority is overwritten. \n\n#### Relinqush a Set Value\nTo relinquish a command priority, set `operation` to `relinquish` in the request body and include the desired priority. The requested priority will be set to _null_ in the command priority array.\n\n### Automatically Release a Command\nA user may opt to have a command be automatically released at a later date. This is useful for temporary setpoint adjustments or system testing and can contribute to improved overall system health. \n\nTo schedule an automatic release, include the `scheduled_release` configuration in the request body of the command. This will trigger the creation of a [Scheduled Release Job](https://docs.counterbalance.io/docs/core-api/b3A6NDIyNzg5MTU) for tracking the release request.",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "tags": [
          "Point"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Command-Point"
        }
      }
    },
    "/reporting/report": {
      "get": {
        "summary": "List Reports",
        "tags": [
          "Report"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-reports",
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create Report",
        "operationId": "create-report",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "## Report Types\n### Telemetry Report\n**Type:** `telemetry`",
        "tags": [
          "Report"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Report"
        }
      }
    },
    "/reporting/report/{reportId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        }
      ],
      "get": {
        "summary": "Retrieve Report",
        "tags": [
          "Report"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-report",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "summary": "Update Report",
        "operationId": "update-report",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Report"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Report"
        }
      },
      "delete": {
        "summary": "Delete Report",
        "operationId": "delete-report",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Report"
        ],
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/reporting/plot": {
      "get": {
        "summary": "List Trend Plots",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Plots"
          }
        },
        "operationId": "list-plots",
        "description": "Retrieve a list of trend plot objects\n\n**Required Permissions:** `*`,`reporting:*`,`reporting:plot:*`,`reporting:plot:read`\n\n### Filtering Results\nA combination of one or more query parameters may be used to filter returned data. Query parameters are stacked such that using multiple parameters will result in a narrower data set.\n\nWildcard searches are permitted on all query parameters. Wildcard searches are case insensitive and all data is forced to lowercase for matching purposes. See usage examples below.\n\n<!--\ntitle: \"Plot Name Wildcard Search\"\nlineNumbers: false\n-->\n```Name\nhttps://api.counterbalance.io/reporting/plot?name=*MN*\n```\n<!--\ntitle: \"Plot Description Wildcard Search\"\nlineNumbers: false\n-->\n```Description\nhttps://api.counterbalance.io/v1/reporting/plot?description=*MN*\n```",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results with a comma-separated list of plot IDs"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@owner",
            "description": "Filter results by owner UUID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Filter results by plot object name. Accepts * wildcard searches.",
            "name": "name"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by plot object description. Accepts * wildcard searches."
          }
        ],
        "tags": [
          "Trend Plot"
        ]
      },
      "post": {
        "summary": "Create Trend Plot",
        "operationId": "create-plot",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Plot"
          }
        },
        "description": "Create a trend plot object\n\n**Required Permissions:** `*`,`reporting:*`,`reporting:plot:*`,`reporting:plot:create`",
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Plot"
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "tags": [
          "Trend Plot"
        ]
      },
      "parameters": []
    },
    "/reporting/plot/{plotId}": {
      "parameters": [
        {
          "name": "plotId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "A valid plot UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Trend Plot",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Plot"
          },
          "404": {
            "$ref": "#/components/responses/404-Plot-Not-Found"
          }
        },
        "operationId": "get-plot",
        "description": "Retrieve a trend plot object\n\n**Required Permissions:** `*`,`reporting:*`,`reporting:plot:*`,`reporting:plot:read`",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Trend Plot"
        ]
      },
      "patch": {
        "summary": "Update Trend Plot",
        "operationId": "update-plot",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Plot"
          },
          "404": {
            "$ref": "#/components/responses/404-Plot-Not-Found"
          }
        },
        "description": "Update a trend plot object\n\n**Required Permissions:** `*`,`reporting:*`,`reporting:plot:*`,`reporting:plot:update`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "example": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Plot"
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Trend Plot"
        ]
      },
      "delete": {
        "summary": "Delete Trend Plot",
        "operationId": "delete-plot",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/404-Plot-Not-Found"
          }
        },
        "description": "Delete a trend plot object\n\n**Required Permissions:** `*`,`reporting:*`,`reporting:plot:*`,`reporting:plot:delete`",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Trend Plot"
        ]
      }
    },
    "/reporting/group": {
      "get": {
        "summary": "List Report Groups",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Report-Groups"
          }
        },
        "operationId": "list-groups",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Report Group"
        ],
        "description": ""
      },
      "post": {
        "summary": "Create Report Group",
        "operationId": "create-group",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Report-Group"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Report Group"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Report-Group"
        }
      },
      "parameters": []
    },
    "/reporting/group/{groupId}": {
      "parameters": [
        {
          "name": "groupId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "A valid report group UUID"
        }
      ],
      "get": {
        "summary": "Retrieve Report Group",
        "tags": [
          "Report Group"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Report-Group"
          }
        },
        "operationId": "get-group",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "summary": "Update Report Group",
        "operationId": "update-group",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Report-Group"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Report Group"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Report-Group"
        }
      },
      "delete": {
        "summary": "Delete Report Group",
        "operationId": "delete-group",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "",
        "tags": [
          "Report Group"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/reporting/schedule": {
      "get": {
        "summary": "List Report Schedules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Report-Schedules"
          }
        },
        "operationId": "list-report-schedules",
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Report Schedule"
        ]
      },
      "post": {
        "summary": "Create Report Schedule",
        "operationId": "create-report-schedule",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Report-Schedule"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Report Schedule"
        ],
        "description": "",
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Report-Schedule"
        }
      }
    },
    "/reporting/schedule/{scheduleId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/scheduleId"
        }
      ],
      "get": {
        "summary": "Retrieve Report Schedule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Report-Schedule"
          }
        },
        "operationId": "get-report-schedule",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Report Schedule"
        ],
        "description": ""
      },
      "patch": {
        "summary": "Update Report Schedule",
        "operationId": "update-report-schedule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Report-Schedule"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "tags": [
          "Report Schedule"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Report-Schedule"
        }
      },
      "delete": {
        "summary": "Delete Report Schedule",
        "operationId": "delete-report-schedule",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "tags": [
          "Report Schedule"
        ]
      }
    },
    "/release": {
      "get": {
        "summary": "List Scheduled Release Jobs",
        "tags": [
          "Scheduled Release"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Release-Listing"
          }
        },
        "operationId": "list-releases",
        "description": "Retrieve a list of scheduled release jobs\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/@point"
          },
          {
            "$ref": "#/components/parameters/@controller"
          },
          {
            "$ref": "#/components/parameters/@gateway"
          },
          {
            "$ref": "#/components/parameters/@site"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@owner",
            "description": "Filter results by their associated owner UUID"
          }
        ]
      }
    },
    "/release/{releaseId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/releaseId"
        }
      ],
      "get": {
        "summary": "Retrieve Scheduled Release Job",
        "tags": [
          "Scheduled Release"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Release"
          },
          "404": {
            "$ref": "#/components/responses/404-Release-Not-Found"
          }
        },
        "operationId": "get-release",
        "description": "Retrieve a scheduled release job\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Scheduled Release Job",
        "operationId": "update-release",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Release"
          },
          "404": {
            "$ref": "#/components/responses/404-Release-Not-Found"
          }
        },
        "description": "Update a scheduled release job\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:command`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Release"
        },
        "tags": [
          "Scheduled Release"
        ]
      },
      "delete": {
        "summary": "Delete Scheduled Release Job",
        "operationId": "delete-release",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/404-Release-Not-Found"
          }
        },
        "tags": [
          "Scheduled Release"
        ],
        "description": "Delete a scheduled release job\n\n**Required Permissions:** `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:command`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/reset": {
      "get": {
        "summary": "List Resets",
        "tags": [
          "Setpoint Reset"
        ],
        "responses": {},
        "operationId": "list-resets",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results with a comma-separated list of reset IDs"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by reset object name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by reset object description. Accepts * wildcard searches."
          }
        ]
      },
      "post": {
        "summary": "Create Reset",
        "operationId": "create-reset",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Setpoint Reset"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/reset/{resetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resetId"
        }
      ],
      "get": {
        "summary": "Retrieve Reset",
        "tags": [
          "Setpoint Reset"
        ],
        "responses": {},
        "operationId": "get-reset",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Reset",
        "operationId": "update-reset",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Setpoint Reset"
        ]
      },
      "delete": {
        "summary": "Delete Reset",
        "operationId": "delete-reset",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Setpoint Reset"
        ]
      }
    },
    "/routine": {
      "get": {
        "summary": "List Routines",
        "tags": [
          "Routine"
        ],
        "responses": {},
        "operationId": "list-routines",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results with a comma-separated list of routine IDs"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by routine object name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by routine object description. Accepts * wildcard searches."
          }
        ]
      },
      "post": {
        "summary": "Create Routine",
        "operationId": "create-routine",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Routine"
        ]
      }
    },
    "/routine/{routineId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/routineId"
        }
      ],
      "get": {
        "summary": "Retrieve Routine",
        "tags": [
          "Routine"
        ],
        "responses": {},
        "operationId": "get-routine",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Routine",
        "operationId": "update-routine",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Routine"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Routine",
        "operationId": "delete-routine",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Routine"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": ""
      }
    },
    "/schedule": {
      "get": {
        "summary": "List Schedules",
        "tags": [
          "Schedule"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-schedules",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create Schedule",
        "operationId": "create-schedule",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "Schedule"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/schedule/{scheduleId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/scheduleId"
        }
      ],
      "get": {
        "summary": "Retrieve Schedule",
        "tags": [
          "Schedule"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-schedule",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Schedule",
        "operationId": "update-schedule",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Schedule"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Schedule",
        "operationId": "delete-schedule",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Schedule"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "put": {
        "summary": "Update Schedule Object",
        "operationId": "update-schedule-object",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Schedule"
        ],
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/site": {
      "get": {
        "summary": "List Sites",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-List-Sites"
          }
        },
        "operationId": "list-sites",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve a list of site objects\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:list`\n\n### Filtering Results\nA combination of one or more query parameters may be used to filter returned data. Query parameters are stacked such that using multiple parameters will result in a narrower data set.\n\nWildcard searches are permitted on all query parameters. Wildcard searches are case insensitive and all data is forced to lowercase for matching purposes. See usage examples below.\n\n<!--\ntitle: \"Site Code Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/site?code=*MN*\n```\n<!--\ntitle: \"Site Name Wildcard Search\"\nlineNumbers: false\n-->\n```text\nhttps://api.counterbalance.io/v1/site?name=*elementary*\n```",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "code",
            "description": "Filter results by site code. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by site name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter sites by description. Accepts * wildcard searches."
          }
        ],
        "tags": [
          "Site"
        ]
      },
      "post": {
        "summary": "Create Site",
        "operationId": "create-site",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Get-Site"
          }
        },
        "description": "Create a new site object\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:create`\n\n> **Heads Up** This endpoint is subject to `site` quota availabilty\n\n### Defining Building Category & Type\nNew sites must be defined with a building `category` and `type`. In some cases, a type will have additional sub-types, in which case, the `sub_type` paramater must also be provided. \n\nCategory, type, and sub_type are all defined using an index ID. The various indexes and their values can be found in [this support article](https://counterbalance.zendesk.com/hc/en-us/articles/5405264196499).",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Site"
        },
        "tags": [
          "Site"
        ]
      }
    },
    "/site/{siteId}": {
      "get": {
        "summary": "Retrieve a Site",
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Retrieve-Site"
          }
        },
        "operationId": "get-site",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ]
    },
    "/site/address": {
      "parameters": [],
      "put": {
        "summary": "Add Address to Site",
        "operationId": "create-address",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                },
                "examples": {
                  "Response": {
                    "$ref": "#/components/examples/Address"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Address-Already-Exists"
          },
          "404": {
            "$ref": "#/components/responses/404-Site-Not-Found"
          }
        },
        "description": "Create a new address object and attach it to a site\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:site:update`\n\n### Address Geocoding\nBy default, new addresses are geocoded to determine their GPS coordinates, timezone, and to fill-in various extended properties such as the locality, country, and ZIP or postcode. \n\nGeocoding is an optional process and can be skipped by setting `geocode` to `false` in the request body. If geocoding is skipped, the following additional body parameters become required: `county`, `country`, `postcode`, `timezone`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@site",
            "description": "A valid site UUID for which to assign this address"
          },
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Address"
        },
        "tags": [
          "Address"
        ]
      }
    },
    "/site/address/{addressId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/addressId"
        }
      ],
      "get": {
        "summary": "Retrieve Address",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Address"
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "operationId": "get-address",
        "description": "### Synopsis\nRetrieve the details for the specified address\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:address:*`,`sites:address:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Address"
        ]
      },
      "patch": {
        "summary": "Update Address",
        "operationId": "update-address",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Address"
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "description": "Update an address object\n\n**Required Permissions:** `*`,`sites:*`,`sites:site:*`,`sites:address:*`,`sites:address:update`",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Address"
        },
        "tags": [
          "Address"
        ]
      },
      "delete": {
        "summary": "Delete Address",
        "operationId": "delete-address",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          }
        },
        "description": "Delete an address object\n\n**Required Permissions:** `*`,`sites:*`,`sites:address:*`,`sites:address:delete`",
        "security": [
          {
[...]
