{
  "openapi": "3.1.0",
  "info": {
    "title": "Automation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/automation/reset": {
      "get": {
        "summary": "List Resets",
        "tags": [
          "Setpoint Reset"
        ],
        "responses": {},
        "operationId": "list-resets",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results with a comma-separated list of reset IDs"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by reset object name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by reset object description. Accepts * wildcard searches."
          }
        ]
      },
      "post": {
        "summary": "Create Reset",
        "operationId": "create-reset",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Setpoint Reset"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/automation/reset/{resetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resetId"
        }
      ],
      "get": {
        "summary": "Get Reset",
        "tags": [
          "Setpoint Reset"
        ],
        "responses": {},
        "operationId": "get-reset",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Reset",
        "operationId": "update-reset",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Setpoint Reset"
        ]
      },
      "delete": {
        "summary": "Delete Reset",
        "operationId": "delete-reset",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Setpoint Reset"
        ]
      }
    },
    "/automation/routine": {
      "get": {
        "summary": "List Routines",
        "tags": [
          "Routine"
        ],
        "responses": {},
        "operationId": "list-routines",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results with a comma-separated list of routine IDs"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by routine object name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by routine object description. Accepts * wildcard searches."
          }
        ]
      },
      "post": {
        "summary": "Create Routine",
        "operationId": "create-routine",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Routine"
        ]
      }
    },
    "/automation/routine/{routineId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/routineId"
        }
      ],
      "get": {
        "summary": "Get Routine",
        "tags": [
          "Routine"
        ],
        "responses": {},
        "operationId": "get-routine",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Routine",
        "operationId": "update-routine",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Routine"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Routine",
        "operationId": "delete-routine",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Routine"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": ""
      }
    },
    "/automation/trigger": {
      "get": {
        "summary": "List Triggers",
        "tags": [
          "Trigger"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-triggers",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Filter results with a comma-separated list of trigger IDs"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by trigger object name. Accepts * wildcard searches."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "description",
            "description": "Filter results by trigger object description. Accepts * wildcard searches."
          }
        ]
      },
      "post": {
        "summary": "Create Trigger",
        "operationId": "create-trigger",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Trigger"
        ],
        "description": ""
      }
    },
    "/automation/trigger/{triggerId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/triggerId"
        }
      ],
      "get": {
        "summary": "Get Trigger",
        "tags": [
          "Trigger"
        ],
        "responses": {},
        "operationId": "get-trigger",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Trigger",
        "operationId": "update-trigger",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Trigger"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Trigger",
        "operationId": "delete-trigger",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Trigger"
        ],
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Setpoint-Reset-Object": {
        "title": "Setpoint Reset Object",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-tags": [
          "Setpoint Reset"
        ],
        "description": ""
      },
      "Trigger-Object": {
        "title": "Trigger Object",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-tags": [
          "Trigger"
        ],
        "description": ""
      },
      "Routine-Object": {
        "title": "Routine Object",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-tags": [
          "Routine"
        ]
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "resetId": {
        "name": "resetId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid reset UUID"
      },
      "routineId": {
        "name": "routineId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid routine UUID"
      },
      "triggerId": {
        "name": "triggerId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid trigger UUID"
      }
    }
  },
  "tags": [
    {
      "name": "Routine"
    },
    {
      "name": "Setpoint Reset"
    },
    {
      "name": "Trigger"
    }
  ]
}