{
  "openapi": "3.0.0",
  "info": {
    "title": "Equipment",
    "version": "1.0",
    "description": "The Equipment API provides endpoints for equipment and asset management, including:\n* Creating & managing site equipment nodes\n* Defining equipment hierarchy & node relationships\n* Attaching & managing equipment telemetry\n\n### Understanding Equipment Nodes \n An **Equipment Node** is a platform representation of a piece of physical equipment on-site, such as an air handler, chiller, or pump.\n\nEquipment node definition and taxonomy in Counterbalance is defined by the guidelines in [Project Haystack](https://project-haystack.org/).\n\n The top-level Haystack equipment tags currently supported are: `ahu`, `chilledWaterPlant`, `chiller`, `coolingTower`, `boiler`, `fan`, `heatExchanger`, `heatPump`, `hotWaterPlant`, `pump`, `vav`\n\n#### Equipment & Marker Tags\nEquipment nodes are defined using a top-level equipment tag and a variety of marker tags.  \n\n#### Parent/Child Relationships\nEquipment nodes can be defined to create a parent/child relationship that follows-that of the actual equipment onsite. Examples include an air handler that serves multiple VAV boxes or chilled water plant and its associated chillers, pumps, cooling towers, etc.\n\nThe permitted parent/child taxonomy is shown in the following table.\n\n| Parent Equipment Tag | Permitted Children Equipment Tags |\n|---|---|\n| `ahu` | `fan`, `vav`, `zone` |\n| `chilledWaterPlant` | `chiller`, `heatExchanger`, `pump`, `coolingTower` |\n| `hotWaterPlant` | `boiler`, `heatExchanger`, `pump` |\n\n#### Dependent Relationships\nEquipment nodes can also define dependent relationships between nodes. A dependent node is attached via a Haystack system reference (such as `chilledWaterPlantRef`, `hotWaterPlantRef`, etc). The available references for a particular equipment node are dictated by the Haystack tags assigned to the node.\n\nFor example, let's say you define an AHU with a `chilledWaterCool` marker tag. When this tag is assigned, the `chilledWaterPlantRef` reference also becomes available. If this references is attached to a chilled water plant node, this AHU will become dependent on the chilled water plant.\n\n> **Remember** Parent/child and dependent relationships are critical for accurate fault detectionand building intelligence routines. We highly recommend being as thorough and complete with these relationship definitions as possible.\n\n"
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    },
    {
      "description": "Dev API",
      "url": "https://api-dev.counterbalance.io"
    }
  ],
  "paths": {
    "/v1/equipment/node": {
      "get": {
        "summary": "List Equipment Nodes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Equipment-Node-List"
          }
        },
        "operationId": "list-equipment",
        "description": "Retreieve a list of equipment nodes\n\n**Required Permissions:** `*`,`equipment:*`,`equipment:node:*`,`equipment:node:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Equipment"
        ]
      },
      "post": {
        "summary": "Create Equipment Node",
        "operationId": "create-equipment-node",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create a new equipment node\n\n**Required Permissions:** `*`,`equipment:*`,`equipment:node:*`,`equipment:node:read`\n\n> **Heads Up** This endpoint is subject to `equipment` quota availabilty",
        "tags": [
          "Equipment"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A name for the new node"
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the equipment"
                  },
                  "tag": {
                    "type": "string",
                    "description": "A top-level Haystack equipment tag"
                  },
                  "markers": {
                    "type": "string",
                    "description": "A space-seperated list of marker tags"
                  },
                  "@parent": {
                    "type": "string",
                    "description": "The parent equipment node of this node",
                    "format": "uuid"
                  },
                  "@site": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "User-defined JSON data for this node"
                  },
                  "notes": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "tag"
                ]
              },
              "examples": {
                "Example": {
                  "$ref": "#/components/examples/Equipment-Node-Body"
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/v1/equipment/node/{nodeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeId"
        }
      ],
      "get": {
        "summary": "Get Equipment Node",
        "tags": [
          "Equipment"
        ],
        "operationId": "get-equipment-node",
        "description": "Retrieve an equipment node\n\n**Required Permissions:** `*`,`equipment:*`,`equipment:node:*`,`equipment:node:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Equipment-Node-Object"
          },
          "404": {
            "$ref": "#/components/responses/404-Equipment-Node-Not-Found"
          }
        }
      },
      "patch": {
        "summary": "Update Equipment Node",
        "operationId": "update-equipment-node",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Equipment"
        ]
      },
      "delete": {
        "summary": "Delete Equipment Node",
        "operationId": "delete-equipment-node",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete an equipment node\n\n**Required Permissions:** `*`,`equipment:*`,`equipment:node:*`,`equipment:node:delete`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Equipment"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Equipment-Node-Object": {
        "description": "",
        "type": "object",
        "x-examples": {},
        "title": "Equipment Node Object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "@site": {
            "type": "string",
            "nullable": true
          },
          "@floor": {
            "type": "string",
            "nullable": true
          },
          "@room": {
            "type": "string",
            "nullable": true
          },
          "@parent": {
            "type": "string",
            "nullable": true
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "haystack": {
            "type": "object",
            "properties": {
              "equipment": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string",
                    "description": "The Haystack equipment tag that defines the node"
                  },
                  "name": {
                    "type": "string",
                    "description": "The Haystack equipment type name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The Haystack description of the node"
                  },
                  "parent_ref": {
                    "type": "string",
                    "description": "Indicates that children nodes can be attached via the Haystack equipment reference provided",
                    "enum": [
                      "ahuRef",
                      "chilledWaterPlantRef",
                      "hotWaterPlantRef",
                      "steamPlantRef"
                    ],
                    "nullable": true
                  },
                  "permitted_children_equipment": {
                    "type": "array",
                    "description": "The permitted children node types that can be attached to this node. *Only present if `parent_ref` is not null.*",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "marker": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags_string": {
                    "type": "string"
                  },
                  "tag_definitions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag-Definition-Object"
                    }
                  }
                }
              },
              "available_references": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "metadata": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "telemetry": {
            "type": "object",
            "properties": {
              "relationship_count": {
                "type": "number"
              },
              "base": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "via_markers": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "all": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "Tag-Definition-Object": {
        "description": "",
        "type": "object",
        "x-examples": {},
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telemetry": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "references",
          "telemetry"
        ],
        "title": "Tag Definition Object"
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "nodeId": {
        "name": "nodeId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid equipment node UUID"
      },
      "@ref": {
        "name": "@ref",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "74c8d53f-d657-49ab-8240-532645628839"
        },
        "description": "Filter results by their parent or dependent node UUID"
      },
      "@siteId": {
        "name": "@site",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "0fa60c71-a611-418a-93a0-0bdf2dfa5ac3"
        },
        "description": "Filter results by their associated site UUID"
      },
      "tag": {
        "name": "tag",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Filter results by their Haystack equipment tag"
      }
    },
    "responses": {
      "200-Equipment-Node-Object": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Equipment-Node-Object"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Equipment-Node-Object"
              }
            }
          }
        }
      },
      "404-Equipment-Node-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Equipment node not found",
                    "console": "Please check the node ID and try your request again",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "201-Equipment-Node-Created": {
        "description": "Created",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Equipment-Node-Object"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Equipment-Node-Object"
              }
            }
          }
        }
      },
      "200-Equipment-Node-List": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "number",
                  "description": "The number of equipment nodes returned",
                  "format": "double",
                  "readOnly": true
                },
                "index": {
                  "type": "array",
                  "description": "An array of node IDs in the order returned",
                  "items": {
                    "type": "string",
                    "format": "uuid",
                    "readOnly": true
                  }
                },
                "data": {
                  "type": "array",
                  "description": "An array of equipment nodes",
                  "items": {
                    "$ref": "#/components/schemas/Equipment-Node-Object"
                  }
                }
              }
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Equipment-Node-List"
              }
            }
          }
        }
      }
    },
    "examples": {
      "Equipment-Node-Object": {
        "value": {
          "id": "60ec71bc-5a72-4e29-9db8-87bb2097047c",
          "created": "2021-07-10T23:37:36+0000",
          "last_modified": null,
          "name": "AHU S2",
          "description": "Air Handler S2 - Low-Rise North",
          "@site": "723a9c16-1790-4386-b17b-54bc9ed6d901",
          "@floor": null,
          "@room": null,
          "@parent": null,
          "references": {
            "hotWaterPlantRef": null,
            "chilledWaterPlantRef": "74c8d53f-d657-49ab-8240-532645628839"
          },
          "haystack": {
            "equipment": {
              "tag": "ahu",
              "name": "Air Handler",
              "description": "An enclosure with a fan that delivers air to a space via ductwork and performs one or more of the functions of cleaning, heating, cooling, humidifying, dehumidifying, ventilating or circulating the air",
              "parent_ref": "ahuRef",
              "permitted_children_equipment": [
                "fan",
                "vav",
                "zone"
              ]
            },
            "marker": {
              "tags": [
                "hotWaterHeat",
                "chilledWaterCool",
                "variableVolume",
                "vavZone",
                "dualDuct"
              ],
              "tags_string": "hotWaterHeat chilledWaterCool variableVolume vavZone dualDuct",
              "tag_definitions": [
                {
                  "id": "hotWaterHeat",
                  "name": "Hot Water Heat",
                  "description": "The AHU utilizes a hot water heating coil",
                  "references": [
                    "hotWaterPlantRef"
                  ],
                  "telemetry": [
                    "heat valve cmd",
                    "heat valve sensor",
                    "heat circ pump cmd",
                    "heat circ pump sensor"
                  ]
                },
                {
                  "id": "chilledWaterCool",
                  "name": "Chilled Water Cooling",
                  "description": "The AHU utilizes a chilled water coil",
                  "references": [
                    "chilledWaterPlantRef"
                  ],
                  "telemetry": [
                    "cool valve cmd",
                    "cool valve sensor"
                  ]
                },
                {
                  "id": "variableVolume",
                  "name": "Variable Volume",
                  "description": "The AHU supplies a variable volume of air",
                  "references": [],
                  "telemetry": [
                    "discharge air fan speed cmd",
                    "discharge air fan speed sensor"
                  ]
                },
                {
                  "id": "vavZone",
                  "name": "VAV Zone",
                  "description": "The AHU supplies air to VAV terminal units",
                  "references": [],
                  "telemetry": []
                },
                {
                  "id": "dualDuct",
                  "name": "Dual Duct",
                  "description": "The AHU uses two ducts which is some combination of hotDeck, coldDeck, or neutralDeck",
                  "references": [],
                  "telemetry": [
                    "hotDeck air temp sensor",
                    "hotDeck air humidity sensor",
                    "hotDeck air pressure sensor",
                    "hotDeck air flow sensor",
                    "hotDeck air fan cmd",
                    "hotDeck air fan sensor",
                    "coldDeck air temp sensor",
                    "coldDeck air humidity sensor",
                    "coldDeck air pressure sensor",
                    "coldDeck air flow sensor",
                    "coldDeck air fan cmd",
                    "coldDeck air fan sensor",
                    "neutralDeck air temp sensor",
                    "neutralDeck air humidity sensor",
                    "neutralDeck air pressure sensor",
                    "neutralDeck air flow sensor",
                    "neutralDeck air fan cmd",
                    "neutralDeck air fan sensor"
                  ]
                }
              ]
            },
            "available_references": [
              "hotWaterPlantRef",
              "chilledWaterPlantRef"
            ]
          },
          "metadata": [],
          "telemetry": {
            "relationship_count": 0,
            "base": [
              "return air temp sensor",
              "return air humidity sensor",
              "return air pressure sensor",
              "return air flow sensor",
              "return air co2 sensor",
              "return air fan cmd",
              "return air damper cmd",
              "mixed air temp sensor",
              "outside air temp sensor",
              "outside air humidity sensor",
              "outside air pressure sensor",
              "outside air flow sensor",
              "outside air flow sp",
              "outside air damper cmd",
              "exhaust air fan cmd",
              "exhaust air damper cmd",
              "humidifier cmd",
              "filter sensor",
              "freezeStat sensor",
              "heatWheel cmd",
              "faceBypass cmd",
              "bypass damper cmd"
            ],
            "via_markers": [
              "heat valve cmd",
              "heat valve sensor",
              "heat circ pump cmd",
              "heat circ pump sensor",
              "cool valve cmd",
              "cool valve sensor",
              "discharge air fan speed cmd",
              "discharge air fan speed sensor",
              "hotDeck air temp sensor",
              "hotDeck air humidity sensor",
              "hotDeck air pressure sensor",
              "hotDeck air flow sensor",
              "hotDeck air fan cmd",
              "hotDeck air fan sensor",
              "coldDeck air temp sensor",
              "coldDeck air humidity sensor",
              "coldDeck air pressure sensor",
              "coldDeck air flow sensor",
              "coldDeck air fan cmd",
              "coldDeck air fan sensor",
              "neutralDeck air temp sensor",
              "neutralDeck air humidity sensor",
              "neutralDeck air pressure sensor",
              "neutralDeck air flow sensor",
              "neutralDeck air fan cmd",
              "neutralDeck air fan sensor"
            ],
            "all": [
              "return air temp sensor",
              "return air humidity sensor",
              "return air pressure sensor",
              "return air flow sensor",
              "return air co2 sensor",
              "return air fan cmd",
              "return air damper cmd",
              "mixed air temp sensor",
              "outside air temp sensor",
              "outside air humidity sensor",
              "outside air pressure sensor",
              "outside air flow sensor",
              "outside air flow sp",
              "outside air damper cmd",
              "exhaust air fan cmd",
              "exhaust air damper cmd",
              "humidifier cmd",
              "filter sensor",
              "freezeStat sensor",
              "heatWheel cmd",
              "faceBypass cmd",
              "bypass damper cmd",
              "heat valve cmd",
              "heat valve sensor",
              "heat circ pump cmd",
              "heat circ pump sensor",
              "cool valve cmd",
              "cool valve sensor",
              "discharge air fan speed cmd",
              "discharge air fan speed sensor",
              "hotDeck air temp sensor",
              "hotDeck air humidity sensor",
              "hotDeck air pressure sensor",
              "hotDeck air flow sensor",
              "hotDeck air fan cmd",
              "hotDeck air fan sensor",
              "coldDeck air temp sensor",
              "coldDeck air humidity sensor",
              "coldDeck air pressure sensor",
              "coldDeck air flow sensor",
              "coldDeck air fan cmd",
              "coldDeck air fan sensor",
              "neutralDeck air temp sensor",
              "neutralDeck air humidity sensor",
              "neutralDeck air pressure sensor",
              "neutralDeck air flow sensor",
              "neutralDeck air fan cmd",
              "neutralDeck air fan sensor"
            ]
          }
        }
      },
      "Equipment-Node-Body": {
        "value": {
          "name": "AHU-01",
          "description": "Air Handler 1 - Main Penthouse",
          "tag": "ahu",
          "markers": "dxCool variableVolume vavZone multiZone singleDuct",
          "@site": "451f769d-1122-4c11-a645-7d2ed505aa0b",
          "metadata": {
            "manufacturer": "Carrier",
            "model": "XGV-75-R-14"
          }
        }
      },
      "Equipment-Node-List": {
        "value": {
          "count": 6,
          "index": [
            "16de136d-6ed0-4337-96a0-e07c36d093ff",
            "2f87c296-fc78-41d7-8ad2-32d5f6bb128a",
            "474d3408-3ab9-459a-9bf8-13f139c3eae8",
            "6a945fe1-387a-4fca-871c-75d303afa440",
            "c50d92f9-384b-47a8-9574-ade06fcb01cc",
            "dfec65a2-268b-4eb2-a2de-9bf916389450"
          ],
          "data": [
            {
              "id": "16de136d-6ed0-4337-96a0-e07c36d093ff",
              "created": "2021-07-20T18:20:52+0000",
              "last_modified": null,
              "name": "AHU-01",
              "description": "Main air handler",
              "@site": "82478e3a-a212-41bf-9e2b-7522a1504a6b",
              "@floor": null,
              "@room": null,
              "@parent": null,
              "references": [],
              "haystack": {
                "equipment": {
                  "tag": "ahu",
                  "name": "Air Handler",
                  "description": "An enclosure with a fan that delivers air to a space via ductwork and performs one or more of the functions of cleaning, heating, cooling, humidifying, dehumidifying, ventilating or circulating the air",
                  "parent_ref": "ahuRef",
                  "permitted_children_equipment": [
                    "fan",
                    "vav",
                    "zone"
                  ]
                },
                "marker": {
                  "tags": [
                    "dxCool",
                    "variableVolume",
                    "vavZone",
                    "multiZone",
                    "singleDuct"
                  ],
                  "tags_string": "dxCool variableVolume vavZone multiZone singleDuct",
                  "tag_definitions": [
                    {
                      "id": "dxCool",
                      "name": "Direct Expansion (DX) Cooling",
                      "description": "The AHU utilizes a direct expansion (DX) cooling coil",
                      "references": [],
                      "telemetry": [
                        "cool stage cmd",
                        "cool stage sensor"
                      ]
                    },
                    {
                      "id": "variableVolume",
                      "name": "Variable Volume",
                      "description": "The AHU supplies a variable volume of air",
                      "references": [],
                      "telemetry": [
                        "discharge air fan speed cmd",
                        "discharge air fan speed sensor"
                      ]
                    },
                    {
                      "id": "vavZone",
                      "name": "VAV Zone",
                      "description": "The AHU supplies air to VAV terminal units",
                      "references": [],
                      "telemetry": []
                    },
                    {
                      "id": "multiZone",
                      "name": "Multi Zone",
                      "description": "The AHU supplies air to multiple zones",
                      "references": [],
                      "telemetry": []
                    },
                    {
                      "id": "singleDuct",
                      "name": "Single Duct",
                      "description": "The AHU uses a single supply duct",
                      "references": [],
                      "telemetry": [
                        "discharge air temp sensor",
                        "discharge air humidity sensor",
                        "discharge air pressure sensor",
                        "discharge air flow sensor",
                        "discharge air fan cmd",
                        "discharge air fan sensor"
                      ]
                    }
                  ]
                },
                "available_references": []
              },
              "metadata": [],
              "telemetry": {
                "relationship_count": 0,
                "base": [
                  "return air temp sensor",
                  "return air humidity sensor",
                  "return air pressure sensor",
                  "return air flow sensor",
                  "return air co2 sensor",
                  "return air fan cmd",
                  "return air damper cmd",
                  "mixed air temp sensor",
                  "outside air temp sensor",
                  "outside air humidity sensor",
                  "outside air pressure sensor",
                  "outside air flow sensor",
                  "outside air flow sp",
                  "outside air damper cmd",
                  "exhaust air fan cmd",
                  "exhaust air damper cmd",
                  "humidifier cmd",
                  "filter sensor",
                  "freezeStat sensor",
                  "heatWheel cmd",
                  "faceBypass cmd",
                  "bypass damper cmd"
                ],
                "via_markers": [
                  "cool stage cmd",
                  "cool stage sensor",
                  "discharge air fan speed cmd",
                  "discharge air fan speed sensor",
                  "discharge air temp sensor",
                  "discharge air humidity sensor",
                  "discharge air pressure sensor",
                  "discharge air flow sensor",
                  "discharge air fan cmd",
                  "discharge air fan sensor"
                ],
                "all": [
                  "return air temp sensor",
                  "return air humidity sensor",
                  "return air pressure sensor",
                  "return air flow sensor",
                  "return air co2 sensor",
                  "return air fan cmd",
                  "return air damper cmd",
                  "mixed air temp sensor",
                  "outside air temp sensor",
                  "outside air humidity sensor",
                  "outside air pressure sensor",
                  "outside air flow sensor",
                  "outside air flow sp",
                  "outside air damper cmd",
                  "exhaust air fan cmd",
                  "exhaust air damper cmd",
                  "humidifier cmd",
                  "filter sensor",
                  "freezeStat sensor",
                  "heatWheel cmd",
                  "faceBypass cmd",
                  "bypass damper cmd",
                  "cool stage cmd",
                  "cool stage sensor",
                  "discharge air fan speed cmd",
                  "discharge air fan speed sensor",
                  "discharge air temp sensor",
                  "discharge air humidity sensor",
                  "discharge air pressure sensor",
                  "discharge air flow sensor",
                  "discharge air fan cmd",
                  "discharge air fan sensor"
                ]
              }
            },
            {
              "id": "2f87c296-fc78-41d7-8ad2-32d5f6bb128a",
              "created": "2021-07-10T23:37:36+0000",
              "last_modified": null,
              "name": "CH-2",
              "description": "Chiller #2",
              "@site": "82478e3a-a212-41bf-9e2b-7522a1504a6b",
              "@floor": null,
              "@room": null,
              "@parent": "c50d92f9-384b-47a8-9574-ade06fcb01cc",
              "references": {
                "chilledWaterPlantRef": "c50d92f9-384b-47a8-9574-ade06fcb01cc"
              },
              "haystack": {
                "equipment": {
                  "tag": "chiller",
                  "name": "Chiller",
                  "description": "Equipment to remove heat from a liquid. Chillers typically use a vapor compression or an absorption refrigeration cycle",
                  "parent_ref": null,
                  "permitted_children_equipment": []
                },
                "marker": {
                  "tags": [
                    "waterCooled",
                    "centrifugal"
                  ],
                  "tags_string": "waterCooled centrifugal",
                  "tag_definitions": [
                    {
                      "id": "waterCooled",
                      "name": "Water Cooled",
                      "description": "The chiller is cooled by a condenser water system",
                      "references": [],
                      "telemetry": []
                    },
                    {
                      "id": "centrifugal",
                      "name": "Centrifugal",
                      "description": "",
                      "references": [],
                      "telemetry": []
                    }
                  ]
                },
                "available_references": [
                  "chilledWaterPlantRef"
                ]
              },
              "metadata": {
                "manufacturer": "Trane"
              },
              "telemetry": {
                "relationship_count": 0,
                "base": [
                  "run cmd",
                  "run sensor",
                  "enable cmd",
                  "load cmd",
                  "load sensor",
                  "efficiency sensor",
                  "power sensor",
                  "energy sensor",
                  "chilled water leaving temp sensor",
                  "chilled water leaving temp sp",
                  "chilled water leaving flow sensor",
                  "chilled water leaving pressure sensor",
                  "chilled water entering temp sensor",
                  "chilled water entering flow sensor",
                  "chilled water entering pressure sensor",
                  "chilled water delta temp sensor",
                  "chilled water delta flow sensor",
                  "chilled water delta pressure sensor",
                  "chilled water valve isolation cmd",
                  "condenser water leaving temp sensor",
                  "condenser water leaving flow sensor",
                  "condenser water leaving pressure sensor",
                  "condenser water entering temp sensor",
                  "condenser water entering pressure sensor",
                  "condenser water entering flow sensor",
                  "condenser water valve isolation cmd",
                  "condenser cmd",
                  "condenser refrig temp sensor",
                  "condenser refrig pressure sensor",
                  "evaporator refrig temp sensor",
                  "evaporator refrig pressure sensor"
                ],
                "via_markers": [],
                "all": [
                  "run cmd",
                  "run sensor",
                  "enable cmd",
                  "load cmd",
                  "load sensor",
                  "efficiency sensor",
                  "power sensor",
                  "energy sensor",
                  "chilled water leaving temp sensor",
                  "chilled water leaving temp sp",
                  "chilled water leaving flow sensor",
                  "chilled water leaving pressure sensor",
                  "chilled water entering temp sensor",
                  "chilled water entering flow sensor",
                  "chilled water entering pressure sensor",
                  "chilled water delta temp sensor",
                  "chilled water delta flow sensor",
                  "chilled water delta pressure sensor",
                  "chilled water valve isolation cmd",
                  "condenser water leaving temp sensor",
                  "condenser water leaving flow sensor",
                  "condenser water leaving pressure sensor",
                  "condenser water entering temp sensor",
                  "condenser water entering pressure sensor",
                  "condenser water entering flow sensor",
                  "condenser water valve isolation cmd",
                  "condenser cmd",
                  "condenser refrig temp sensor",
                  "condenser refrig pressure sensor",
                  "evaporator refrig temp sensor",
                  "evaporator refrig pressure sensor"
                ]
              }
            },
            {
              "id": "474d3408-3ab9-459a-9bf8-13f139c3eae8",
              "created": "2021-07-24T16:15:57+0000",
              "last_modified": null,
              "name": "VAV-1-02",
              "description": "Conference Room",
              "@site": "82478e3a-a212-41bf-9e2b-7522a1504a6b",
              "@floor": null,
              "@room": null,
              "@parent": "16de136d-6ed0-4337-96a0-e07c36d093ff",
              "references": {
                "ahuRef": "16de136d-6ed0-4337-96a0-e07c36d093ff"
              },
              "haystack": {
                "equipment": {
                  "tag": "vav",
                  "name": "Variable Air Volume Terminal Unit",
                  "description": "VAV systems use a constant air temperature with a variable air flow rate",
                  "parent_ref": null,
                  "permitted_children_equipment": []
                },
                "marker": {
                  "tags": [
                    "coolOnly",
                    "elecReheat",
                    "singleDuct"
                  ],
                  "tags_string": "coolOnly elecReheat singleDuct",
                  "tag_definitions": [
                    {
                      "id": "coolOnly",
                      "name": "Cooling Only",
                      "description": "The VAV does not have a fan",
                      "references": [],
                      "telemetry": []
                    },
                    {
                      "id": "elecReheat",
                      "name": "Electric Reheat",
                      "description": "The VAV has electric reheat",
                      "references": [],
                      "telemetry": [
                        "heat stage cmd",
                        "heat stage sensor"
                      ]
                    },
                    {
                      "id": "singleDuct",
                      "name": "Single Duct",
                      "description": "The VAV has a single supply duct",
                      "references": [],
                      "telemetry": [
                        "air damper cmd",
                        "air damper sensor"
                      ]
                    }
                  ]
                },
                "available_references": [
                  "ahuRef"
                ]
              },
              "metadata": [],
              "telemetry": {
                "relationship_count": 0,
                "base": [
                  "zone air temp sensor",
                  "zone air temp effective sp",
                  "zone air temp occ cooling sp",
                  "zone air temp occ heating sp",
                  "zone air temp unocc cooling sp",
                  "zone air temp unocc heating sp",
                  "zone air temp standby cooling sp",
                  "zone air temp standby heating sp",
                  "zone air humidity sensor",
                  "zone air co2 sensor",
                  "zone air co2 sp",
                  "discharge air temp sensor",
                  "entering air temp sensor",
                  "air pressure sensor",
                  "air flow sensor",
                  "air flow effective sp",
                  "air flow min sp",
                  "air flow max sp",
                  "air flow reheating max sp",
                  "air flow standby sp",
                  "vavMode sp",
                  "ductArea sp",
                  "perimeterHeat cmd"
                ],
                "via_markers": [
                  "heat stage cmd",
                  "heat stage sensor",
                  "air damper cmd",
                  "air damper sensor"
                ],
                "all": [
                  "zone air temp sensor",
                  "zone air temp effective sp",
                  "zone air temp occ cooling sp",
                  "zone air temp occ heating sp",
                  "zone air temp unocc cooling sp",
                  "zone air temp unocc heating sp",
                  "zone air temp standby cooling sp",
                  "zone air temp standby heating sp",
                  "zone air humidity sensor",
                  "zone air co2 sensor",
                  "zone air co2 sp",
                  "discharge air temp sensor",
                  "entering air temp sensor",
                  "air pressure sensor",
                  "air flow sensor",
                  "air flow effective sp",
                  "air flow min sp",
                  "air flow max sp",
                  "air flow reheating max sp",
                  "air flow standby sp",
                  "vavMode sp",
                  "ductArea sp",
                  "perimeterHeat cmd",
                  "heat stage cmd",
                  "heat stage sensor",
                  "air damper cmd",
                  "air damper sensor"
                ]
              }
            },
            {
              "id": "6a945fe1-387a-4fca-871c-75d303afa440",
              "created": "2021-07-24T16:15:36+0000",
              "last_modified": null,
              "name": "VAV-1-01",
              "description": "Open Office Area 101",
              "@site": "82478e3a-a212-41bf-9e2b-7522a1504a6b",
              "@floor": null,
              "@room": null,
              "@parent": "16de136d-6ed0-4337-96a0-e07c36d093ff",
              "references": {
                "ahuRef": "16de136d-6ed0-4337-96a0-e07c36d093ff"
              },
              "haystack": {
                "equipment": {
                  "tag": "vav",
                  "name": "Variable Air Volume Terminal Unit",
                  "description": "VAV systems use a constant air temperature with a variable air flow rate",
                  "parent_ref": null,
                  "permitted_children_equipment": []
                },
                "marker": {
                  "tags": [
                    "coolOnly",
                    "elecReheat",
                    "singleDuct"
                  ],
                  "tags_string": "coolOnly elecReheat singleDuct",
                  "tag_definitions": [
                    {
                      "id": "coolOnly",
                      "name": "Cooling Only",
                      "description": "The VAV does not have a fan",
                      "references": [],
                      "telemetry": []
                    },
                    {
                      "id": "elecReheat",
                      "name": "Electric Reheat",
                      "description": "The VAV has electric reheat",
                      "references": [],
                      "telemetry": [
                        "heat stage cmd",
                        "heat stage sensor"
                      ]
                    },
                    {
                      "id": "singleDuct",
                      "name": "Single Duct",
                      "description": "The VAV has a single supply duct",
                      "references": [],
                      "telemetry": [
                        "air damper cmd",
                        "air damper sensor"
                      ]
                    }
                  ]
                },
                "available_references": [
                  "ahuRef"
                ]
              },
              "metadata": [],
              "telemetry": {
                "relationship_count": 0,
                "base": [
                  "zone air temp sensor",
                  "zone air temp effective sp",
                  "zone air temp occ cooling sp",
                  "zone air temp occ heating sp",
                  "zone air temp unocc cooling sp",
                  "zone air temp unocc heating sp",
                  "zone air temp standby cooling sp",
                  "zone air temp standby heating sp",
                  "zone air humidity sensor",
                  "zone air co2 sensor",
                  "zone air co2 sp",
                  "discharge air temp sensor",
                  "entering air temp sensor",
                  "air pressure sensor",
                  "air flow sensor",
                  "air flow effective sp",
                  "air flow min sp",
                  "air flow max sp",
                  "air flow reheating max sp",
                  "air flow standby sp",
                  "vavMode sp",
                  "ductArea sp",
                  "perimeterHeat cmd"
                ],
                "via_markers": [
                  "heat stage cmd",
                  "heat stage sensor",
                  "air damper cmd",
                  "air damper sensor"
                ],
                "all": [
                  "zone air temp sensor",
                  "zone air temp effective sp",
                  "zone air temp occ cooling sp",
                  "zone air temp occ heating sp",
                  "zone air temp unocc cooling sp",
                  "zone air temp unocc heating sp",
                  "zone air temp standby cooling sp",
                  "zone air temp standby heating sp",
                  "zone air humidity sensor",
                  "zone air co2 sensor",
                  "zone air co2 sp",
                  "discharge air temp sensor",
                  "entering air temp sensor",
                  "air pressure sensor",
                  "air flow sensor",
                  "air flow effective sp",
                  "air flow min sp",
                  "air flow max sp",
                  "air flow reheating max sp",
                  "air flow standby sp",
                  "vavMode sp",
                  "ductArea sp",
                  "perimeterHeat cmd",
                  "heat stage cmd",
                  "heat stage sensor",
                  "air damper cmd",
                  "air damper sensor"
                ]
              }
            },
            {
              "id": "c50d92f9-384b-47a8-9574-ade06fcb01cc",
              "created": "2021-07-10T20:37:38+0000",
              "last_modified": null,
              "name": "Central Plant - Chilled",
              "description": "Primary CHW plant for building",
              "@site": "82478e3a-a212-41bf-9e2b-7522a1504a6b",
              "@floor": null,
              "@room": null,
              "@parent": null,
              "references": [],
              "haystack": {
                "equipment": {
                  "tag": "chilledWaterPlant",
                  "name": "Chilled Water Plant",
                  "description": "Plant used to generate chilled water for cooling",
                  "parent_ref": "chilledWaterPlantRef",
                  "permitted_children_equipment": [
                    "chiller",
                    "pump",
                    "coolingTower"
                  ]
                },
                "marker": {
                  "tags": [],
                  "tags_string": "",
                  "tag_definitions": []
                },
                "available_references": []
              },
              "metadata": {
                "year_built": "2015"
              },
              "telemetry": {
                "relationship_count": 0,
                "base": [
                  "chilled water plant enable cmd",
                  "chilled water leaving temp sensor",
                  "chilled water leaving temp sp",
                  "chilled water leaving flow sensor",
                  "chilled water leaving pressure sensor",
                  "chilled water entering temp sensor",
                  "chilled water entering flow sensor",
                  "chilled water entering pressure sensor",
                  "chilled water delta temp sensor",
                  "chilled water delta flow sensor",
                  "chilled water delta pressure sensor",
                  "chilled water delta pressure sp",
                  "chilled water bypass valve cmd"
                ],
                "via_markers": [],
                "all": [
                  "chilled water plant enable cmd",
                  "chilled water leaving temp sensor",
                  "chilled water leaving temp sp",
                  "chilled water leaving flow sensor",
                  "chilled water leaving pressure sensor",
                  "chilled water entering temp sensor",
                  "chilled water entering flow sensor",
                  "chilled water entering pressure sensor",
                  "chilled water delta temp sensor",
                  "chilled water delta flow sensor",
                  "chilled water delta pressure sensor",
                  "chilled water delta pressure sp",
                  "chilled water bypass valve cmd"
                ]
              }
            },
            {
              "id": "dfec65a2-268b-4eb2-a2de-9bf916389450",
              "created": "2021-07-10T23:31:31+0000",
              "last_modified": null,
              "name": "CH-1",
              "description": "Chiller #1",
              "@site": "82478e3a-a212-41bf-9e2b-7522a1504a6b",
              "@floor": null,
              "@room": null,
              "@parent": "c50d92f9-384b-47a8-9574-ade06fcb01cc",
              "references": {
                "chilledWaterPlantRef": "c50d92f9-384b-47a8-9574-ade06fcb01cc"
              },
              "haystack": {
                "equipment": {
                  "tag": "chiller",
                  "name": "Chiller",
                  "description": "Equipment to remove heat from a liquid. Chillers typically use a vapor compression or an absorption refrigeration cycle",
                  "parent_ref": null,
                  "permitted_children_equipment": []
                },
                "marker": {
                  "tags": [
                    "waterCooled",
                    "centrifugal"
                  ],
                  "tags_string": "waterCooled centrifugal",
                  "tag_definitions": [
                    {
                      "id": "waterCooled",
                      "name": "Water Cooled",
                      "description": "The chiller is cooled by a condenser water system",
                      "references": [],
                      "telemetry": []
                    },
                    {
                      "id": "centrifugal",
                      "name": "Centrifugal",
                      "description": "",
                      "references": [],
                      "telemetry": []
                    }
                  ]
                },
                "available_references": [
                  "chilledWaterPlantRef"
                ]
              },
              "metadata": {
                "manufacturer": "Trane"
              },
              "telemetry": {
                "relationship_count": 0,
                "base": [
                  "run cmd",
                  "run sensor",
                  "enable cmd",
                  "load cmd",
                  "load sensor",
                  "efficiency sensor",
                  "power sensor",
                  "energy sensor",
                  "chilled water leaving temp sensor",
                  "chilled water leaving temp sp",
                  "chilled water leaving flow sensor",
                  "chilled water leaving pressure sensor",
                  "chilled water entering temp sensor",
                  "chilled water entering flow sensor",
                  "chilled water entering pressure sensor",
                  "chilled water delta temp sensor",
                  "chilled water delta flow sensor",
                  "chilled water delta pressure sensor",
                  "chilled water valve isolation cmd",
                  "condenser water leaving temp sensor",
                  "condenser water leaving flow sensor",
                  "condenser water leaving pressure sensor",
                  "condenser water entering temp sensor",
                  "condenser water entering pressure sensor",
                  "condenser water entering flow sensor",
                  "condenser water valve isolation cmd",
                  "condenser cmd",
                  "condenser refrig temp sensor",
                  "condenser refrig pressure sensor",
                  "evaporator refrig temp sensor",
                  "evaporator refrig pressure sensor"
                ],
                "via_markers": [],
                "all": [
                  "run cmd",
                  "run sensor",
                  "enable cmd",
                  "load cmd",
                  "load sensor",
                  "efficiency sensor",
                  "power sensor",
                  "energy sensor",
                  "chilled water leaving temp sensor",
                  "chilled water leaving temp sp",
                  "chilled water leaving flow sensor",
                  "chilled water leaving pressure sensor",
                  "chilled water entering temp sensor",
                  "chilled water entering flow sensor",
                  "chilled water entering pressure sensor",
                  "chilled water delta temp sensor",
                  "chilled water delta flow sensor",
                  "chilled water delta pressure sensor",
                  "chilled water valve isolation cmd",
                  "condenser water leaving temp sensor",
                  "condenser water leaving flow sensor",
                  "condenser water leaving pressure sensor",
                  "condenser water entering temp sensor",
                  "condenser water entering pressure sensor",
                  "condenser water entering flow sensor",
                  "condenser water valve isolation cmd",
                  "condenser cmd",
                  "condenser refrig temp sensor",
                  "condenser refrig pressure sensor",
                  "evaporator refrig temp sensor",
                  "evaporator refrig pressure sensor"
                ]
              }
            }
          ]
        }
      }
    }
  },
  "tags": [
    {
      "name": "Equipment"
    },
    {
      "name": "Classifications"
    },
    {
      "name": "Components"
    }
  ]
}