{
  "openapi": "3.0.0",
  "info": {
    "title": "Infrastructure",
    "version": "1.2.1",
    "description": "The Infrastructure API provides endpoints for gateway and field controller management, including:\n* Registering & managing site gateways\n* Creating & managing DDC field controllers\n\n**Managing Site Gateways**\n\nA site gateway is a physical device placed on the BAS network and provides the connection to the Counterbalance cloud. A site gateway must first be purchased and registered with a tenant account before it will be accessible in the console and this process is outlined in the Register Gateway endpoint.\n\n**Quotas and Licensing**\n\nSite management is a paid feature. Physical sites are subject to quota availability. Virtual sites and buildings are not measured against a pre-defined quota but require a seperate license. These requirments are outlined in the various endpoint docs.\n\nIf insufficient quota or licensing exists for the specified site type, a `403 Forbidden` error will be thrown and the site will not be created. "
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/infrastructure/gateway": {
      "get": {
        "summary": "List Gateways",
        "tags": [
          "Gateways"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway-Listing"
          }
        },
        "operationId": "get-gateway",
        "description": "### Synopsis\nGet a list of available gateway devices\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Activate Gateway",
        "operationId": "create-gateway",
        "responses": {
          "201": {
            "$ref": "#/components/responses/201-Gateway-Created"
          }
        },
        "description": "### Synopsis\nActivate a new gateway device and register it with a tenant account\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:register`\n* Adequate gateway quota\n* A physical gateway device serial number\n\n### Gateway Serial Number\nA valid gateway serial number is required in order to activate a new gateway. The serial number is found on the bottom of the device or by loading the web GUI of the gateway.\n\n### Registration Process\nThe registration of a gateway is a two-step process. First, the gateway device must be created and assigned a tenant account using this endpoint. \n\nA successful creation will generate a unique gateway UUID and a registration PIN. These values will be emailed to the authenticated user and will be needed to link the device.\n\nSecond, the Register Gateway Device endpoint is used from the device to link it with the tenant account using the newly registered UUID and registration secret.",
        "tags": [
          "Gateways"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/New-Gateway-Request-Body"
              },
              "examples": {
                "Example": {
                  "$ref": "#/components/examples/New-Gateway-Body"
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ]
      }
    },
    "/v1/infrastructure/gateway/{gatewayId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "get": {
        "summary": "Get Gateway",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Gateway"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "operationId": "get-gateway",
        "tags": [
          "Gateways"
        ],
        "description": "### Synopsis\nRetrieve a gateway device\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:read`\n\n### Checking Gateway Vitals\n",
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "online",
            "description": "Query the gateway for vitals and statistics"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "check_vitals",
            "description": "Same as `online`",
            "deprecated": true
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Gateway",
        "operationId": "update-gateway",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Updated"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "description": "### Synopsis\nUpdate a gateway device\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:update`",
        "tags": [
          "Gateways"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update-Gateway-Request-Body"
              },
              "examples": {
                "Example": {
                  "$ref": "#/components/examples/Update-Gateway-Body"
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "application/json",
            "required": true
          }
        ]
      },
      "delete": {
        "summary": "Delete Gateway",
        "operationId": "delete-gateway",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "tags": [
          "Gateways"
        ],
        "description": "### Synopsis\nDelete a gateway device\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:delete`\n\n### Connected Controllers\nWhen a gateway is deleted, the connected controllers are retained but all data collection activities will stop, building intelligence rules will be unavailable, and any associated meters will be in fault. \n\nA controller can be re-associated with an active gateway via the [Update Controller](/reference/Infrastructure.v1.json/paths/~1v1~1infrastructure~1gateway~1%7BgatewayId%7D/patch) endpoint.",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/infrastructure/gateway/{gatewayId}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "get": {
        "summary": "List Available Field Controllers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gateway-Devices"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 2,
                      "data": {
                        "managed_devices": [
                          {
                            "id": "341efcb4-b884-47b5-af5e-aa44ddb6f22a",
                            "name": "US SEA Node 02",
                            "description": "AHU-1 Controller",
                            "location": "AHU-1 Controller",
                            "site": "c0142a11-62d1-460a-9be5-9e7881ae7b58",
                            "online": true,
                            "bacnet": {
                              "id": 10200,
                              "name": "USSEA-HVAC-BMSNODE02"
                            }
                          }
                        ],
                        "unmanaged_devices": [
                          {
                            "device_id": "10100",
                            "device_name": "USSEA-HVAC-BMSNODE01"
                          }
                        ],
                        "online_devices": [
                          "10100",
                          "10200"
                        ],
                        "offline_devices": [],
                        "new_devices_available": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-gateway-devices",
        "description": "List the available field controllers on the specified gateway\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* A configured site gateway with Internet access\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:query`",
        "tags": [
          "Gateways"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/infrastructure/controller": {
      "get": {
        "summary": "List Registered Field Controllers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field-Controller-Listing"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "id": "341efcb4-b884-47b5-af5e-aa44ddb6f22a",
                          "tenant": "1d1776fe-0437-426c-a796-06e2b5eaccf6",
                          "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
                          "created": 1610379813,
                          "name": "BMS Node 02",
                          "description": "AHU-1 Controller",
                          "location": "Mechanical Room 126",
                          "instance_id": 10200,
                          "is_ostracized": false,
                          "site": "c0142a11-62d1-460a-9be5-9e7881ae7b58"
                        },
                        {
                          "id": "6953222d-3705-4da3-06e8-ee66ab41a700",
                          "tenant": "1d1776fe-0437-426c-a796-06e2b5eaccf6",
                          "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
                          "created": 1610992645,
                          "name": "BMS Node 01",
                          "description": "Central Plant Controller",
                          "location": "Chiller Room",
                          "instance_id": 10100,
                          "is_ostracized": false,
                          "site": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-infrastructure-controller",
        "tags": [
          "Field Controllers"
        ],
        "description": "List available field controllers in a tenant account\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:list`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "gateway",
            "description": "Limit the listing to the specified gateway ID"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "site",
            "description": "Limit the listing to the specified site ID"
          }
        ]
      },
      "post": {
        "summary": "Register Field Controller",
        "operationId": "create-ddc-controller",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field-Controller-Details"
                }
              }
            }
          }
        },
        "description": "Create a new DDC controller definition\n\n",
        "tags": [
          "Field Controllers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the new controller"
                  },
                  "gateway": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A valid gateway ID that can access the new controller",
                    "format": "uuid"
                  },
                  "instance": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The controller instance number"
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the new controller"
                  },
                  "location": {
                    "type": "string",
                    "description": "A brief description of the controller's location"
                  },
                  "site": {
                    "type": "string",
                    "format": "uuid",
                    "description": "A valid site UUID to assign the new controller"
                  }
                },
                "required": [
                  "name",
                  "gateway",
                  "instance"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "USSEA-HVAC-BMSNODE01",
                    "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
                    "instance": "10100"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/infrastructure/controller/{controllerId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "controllerId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Field Controller Details",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field-Controller-Details"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "id": "341efcb4-b884-47b5-af5e-aa44ddb6f22a",
                      "tenant": "1d1776fe-0437-426c-a796-06e2b5eaccf6",
                      "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
                      "created": 1610379813,
                      "name": "BMS Node 02",
                      "description": "AHU-1 Controller",
                      "location": "Mech Room 126",
                      "instance_id": 10200,
                      "site": "c0142a11-62d1-460a-9be5-9e7881ae7b58",
                      "is_online": true,
                      "is_ostracized": false,
                      "bacnet": {
                        "object": {
                          "name": "USSEA-HVAC-BMSNODE02",
                          "description": "AHU-1",
                          "instance": "10200"
                        },
                        "protocol": {
                          "version": 1,
                          "revision": 7,
                          "max_master": 127,
                          "device_id": "10200",
                          "max_segments_accepted": 16,
                          "apdu": {
                            "timeout": 15000,
                            "retries": 1,
                            "segment_timeout": 15000,
                            "max_length": 1476
                          },
                          "services_supported": {
                            "atomic-read-file": true,
                            "confirmed-text-message": true,
                            "unconfirmed-text-message": true,
                            "time-synchronization": true,
                            "confirmed-event-notification": true,
                            "reinitialize-device": true,
                            "who-is": true,
                            "who-has": true,
                            "unconfirmed-event-notification": true,
                            "subscribe-cov-property": false,
                            "vt-data": false,
                            "unconfirmed-private-transfer": false,
                            "create-object": true,
                            "delete-object": true,
                            "read-property-conditional": false,
                            "add-list-element": true,
                            "vt-open": false,
                            "remove-list-element": true,
                            "get-event-information": true,
                            "confirmed-cov-notification": true,
                            "i-am": true,
                            "device-communication-control": true,
                            "acknowledge-alarm": true,
                            "get-alarm-summary": true,
                            "i-have": true,
                            "subscribe-cov": true,
                            "confirmed-private-transfer": true,
                            "vt-close": false,
                            "request-key": false,
                            "read-property-multiple": true,
                            "write-property": true,
                            "life-safety-operation": false,
                            "read-property": true,
                            "atomic-write-file": true,
                            "utc-time-synchronization": false,
                            "get-enrollment-summary": true,
                            "write-property-multiple": true,
                            "unconfirmed-cov-notification": true,
                            "read-range": true,
                            "authenticate": false
                          },
                          "object_types_supported": {
                            "averaging": false,
                            "multi-state-input": false,
                            "schedule": true,
                            "multi-state-output": true,
                            "binary-output": true,
                            "analog-value": true,
                            "life-safety-point": false,
                            "group": false,
                            "notification-class": true,
                            "analog-input": true,
                            "file": true,
                            "command": true,
                            "life-safety-zone": false,
                            "binary-input": true,
                            "loop": false,
                            "multi-state-value": true,
                            "analog-output": true,
                            "calendar": true,
                            "event-enrollment": true,
                            "pulse-converter": false,
                            "device": true,
                            "trend-log": true,
                            "binary-value": true,
                            "program": false,
                            "accumulator": false
                          }
                        },
                        "hardware": {
                          "make": "Siemens Industry Inc., Bldg Tech",
                          "model": "Siemens BACnet Field Panel",
                          "vendor_id": 7,
                          "location": "MAINT SHOP",
                          "firmware_revision": "PXCE V3.4 BACnet 4.3g"
                        },
                        "system": {
                          "application_software_version": "BCE1265_0039",
                          "status": "operational",
                          "date": "2021-01-19",
                          "time": "19:30:50.31"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Controller Not Found": {
                    "value": {
                      "error": {
                        "message": "Controller not found",
                        "console": "The controller ID 341efcb4-b884-47b5-af5e-aa44ddb6f22b could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": "7da1cc1d783d464ea06c9d71bd221a1b15e729c6"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-controller",
        "description": "Retrieve field controller details by ID\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:controller:*`,`infrastructure:controller:read`",
        "tags": [
          "Field Controllers"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "bacnet",
            "description": "Include online and BACnet data"
          }
        ]
      },
      "patch": {
        "summary": "Update Field Controller",
        "operationId": "update-controller",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Field Controllers"
        ]
      }
    },
    "/v1/infrastructure/gateway/{gatewayId}/whois": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "post": {
        "summary": "Send BACnet Who-Is",
        "operationId": "send-whois",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Gateway-Whois"
          },
          "404": {
            "$ref": "#/components/responses/404-Gateway-Not-Found"
          }
        },
        "tags": [
          "Gateways"
        ],
        "description": "### Synopsis\nSend a BACnet Who-Is to the network and review responsive field controllers\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* An activated site gateway with Internet access\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:query`\n",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Gateway-Details": {
        "title": "Gateway Details",
        "type": "object",
        "description": "The data returned for a specified gateway UUID",
        "x-tags": [
          "Object Models"
        ],
        "x-examples": {},
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The gateway UUID"
          },
          "serial": {
            "type": "string",
            "description": "The serial number of the gateway"
          },
          "name": {
            "type": "string",
            "description": "The name of the gateway"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the gateway"
          },
          "vitals": {
            "$ref": "#/components/schemas/Gateway-Vitals"
          }
        },
        "required": [
          "id",
          "serial",
          "vitals"
        ]
      },
      "Gateway-Devices": {
        "description": "",
        "type": "object",
        "properties": {
          "count": {
            "type": "number",
            "description": "The number of devices available"
          },
          "data": {
            "type": "object",
            "required": [
              "managed_devices",
              "unmanaged_devices",
              "online_devices",
              "offline_devices",
              "new_devices_available"
            ],
            "properties": {
              "managed_devices": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": {
                      "type": "string",
                      "minLength": 1
                    },
                    "location": {
                      "type": "string",
                      "minLength": 1
                    },
                    "site": {
                      "type": "string",
                      "minLength": 1
                    },
                    "online": {
                      "type": "boolean"
                    },
                    "bacnet": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "location",
                    "site",
                    "online"
                  ]
                }
              },
              "unmanaged_devices": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "description": "An array of devies available but not yet managed",
                "items": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "device_name": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "device_id",
                    "device_name"
                  ]
                }
              },
              "online_devices": {
                "type": "array",
                "description": "A list of BACnet device instance IDs that are online",
                "items": {
                  "type": "object"
                }
              },
              "offline_devices": {
                "type": "array",
                "description": "A list of BACnet device instance IDs that are managed and not responding",
                "items": {
                  "type": "object"
                }
              },
              "new_devices_available": {
                "type": "boolean",
                "description": "Indicates if new devices are available for management"
              }
            }
          }
        },
        "required": [
          "count",
          "data"
        ],
        "title": "Gateway Device Listing",
        "x-examples": {
          "Example": {
            "count": 2,
            "data": {
              "managed_devices": [
                {
                  "id": "341efcb4-b884-47b5-af5e-aa44ddb6f22a",
                  "name": "US SEA Node 02",
                  "description": "AHU-1 Controller",
                  "location": "AHU-1 Controller",
                  "site": "c0142a11-62d1-460a-9be5-9e7881ae7b58",
                  "online": true,
                  "bacnet": {
                    "id": 10200,
                    "name": "USSEA-HVAC-BMSNODE02"
                  }
                }
              ],
              "unmanaged_devices": [
                {
                  "device_id": "10100",
                  "device_name": "USSEA-HVAC-BMSNODE01"
                }
              ],
              "online_devices": [
                "10100",
                "10200"
              ],
              "offline_devices": [],
              "new_devices_available": true
            }
          }
        }
      },
      "Field-Controller-Details": {
        "description": "",
        "type": "object",
        "title": "Field Controller Details",
        "x-examples": {
          "Example": {
            "id": "341efcb4-b884-47b5-af5e-aa44ddb6f22a",
            "tenant": "1d1776fe-0437-426c-a796-06e2b5eaccf6",
            "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
            "created": 1610379813,
            "name": "US SEA Node 02",
            "description": "AHU-1 Controller",
            "location": "Mech Room 126",
            "instance_id": 10200,
            "site": "c0142a11-62d1-460a-9be5-9e7881ae7b58",
            "is_online": null,
            "is_ostracized": false,
            "bacnet": {
              "object": {
                "name": "USSEA-HVAC-BMSNODE02",
                "description": "AHU-1",
                "instance": "10200"
              },
              "protocol": {
                "version": 1,
                "revision": 7,
                "max_master": 127,
                "device_id": "10200",
                "max_segments_accepted": 16,
                "apdu": {
                  "timeout": 15000,
                  "retries": 1,
                  "segment_timeout": 15000,
                  "max_length": 1476
                },
                "services_supported": {
                  "atomic-read-file": true,
                  "confirmed-text-message": true,
                  "unconfirmed-text-message": true,
                  "time-synchronization": true,
                  "confirmed-event-notification": true,
                  "reinitialize-device": true,
                  "who-is": true,
                  "who-has": true,
                  "unconfirmed-event-notification": true,
                  "subscribe-cov-property": false,
                  "vt-data": false,
                  "unconfirmed-private-transfer": false,
                  "create-object": true,
                  "delete-object": true,
                  "read-property-conditional": false,
                  "add-list-element": true,
                  "vt-open": false,
                  "remove-list-element": true,
                  "get-event-information": true,
                  "confirmed-cov-notification": true,
                  "i-am": true,
                  "device-communication-control": true,
                  "acknowledge-alarm": true,
                  "get-alarm-summary": true,
                  "i-have": true,
                  "subscribe-cov": true,
                  "confirmed-private-transfer": true,
                  "vt-close": false,
                  "request-key": false,
                  "read-property-multiple": true,
                  "write-property": true,
                  "life-safety-operation": false,
                  "read-property": true,
                  "atomic-write-file": true,
                  "utc-time-synchronization": false,
                  "get-enrollment-summary": true,
                  "write-property-multiple": true,
                  "unconfirmed-cov-notification": true,
                  "read-range": true,
                  "authenticate": false
                },
                "object_types_supported": {
                  "averaging": false,
                  "multi-state-input": false,
                  "schedule": true,
                  "multi-state-output": true,
                  "binary-output": true,
                  "analog-value": true,
                  "life-safety-point": false,
                  "group": false,
                  "notification-class": true,
                  "analog-input": true,
                  "file": true,
                  "command": true,
                  "life-safety-zone": false,
                  "binary-input": true,
                  "loop": false,
                  "multi-state-value": true,
                  "analog-output": true,
                  "calendar": true,
                  "event-enrollment": true,
                  "pulse-converter": false,
                  "device": true,
                  "trend-log": true,
                  "binary-value": true,
                  "program": false,
                  "accumulator": false
                }
              },
              "hardware": {
                "make": "Siemens Industry Inc., Bldg Tech",
                "model": "Siemens BACnet Field Panel",
                "vendor_id": 7,
                "location": "MAINT SHOP",
                "firmware_revision": "PXCE V3.4 BACnet 4.3g"
              },
              "system": {
                "application_software_version": "BCE1265_0039",
                "status": "operational",
                "date": "2021-01-19",
                "time": "7:15:41.89"
              }
            }
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "tenant": {
            "type": "string",
            "minLength": 1
          },
          "gateway": {
            "type": "string",
            "minLength": 1
          },
          "created": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "location": {
            "type": "string",
            "minLength": 1
          },
          "instance_id": {
            "type": "number"
          },
          "site": {
            "type": "string",
            "minLength": 1
          },
          "is_online": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "is_ostracized": {
            "type": "boolean"
          },
          "bacnet": {
            "$ref": "#/components/schemas/Field-Controller-BACnet-Details"
          }
        },
        "required": [
          "id",
          "tenant",
          "gateway",
          "created",
          "name",
          "description",
          "location",
          "instance_id",
          "site",
          "is_ostracized"
        ]
      },
      "Field-Controller-BACnet-Details": {
        "description": "",
        "type": "object",
        "properties": {
          "object": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "description": {
                "type": "string",
                "minLength": 1
              },
              "instance": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "name",
              "description",
              "instance"
            ]
          },
          "protocol": {
            "type": "object",
            "properties": {
              "version": {
                "type": "number"
              },
              "revision": {
                "type": "number"
              },
              "max_master": {
                "type": "number"
              },
              "device_id": {
                "type": "string",
                "minLength": 1
              },
              "max_segments_accepted": {
                "type": "number"
              },
              "apdu": {
                "type": "object",
                "properties": {
                  "timeout": {
                    "type": "number"
                  },
                  "retries": {
                    "type": "number"
                  },
                  "segment_timeout": {
                    "type": "number"
                  },
                  "max_length": {
                    "type": "number"
                  }
                },
                "required": [
                  "timeout",
                  "retries",
                  "segment_timeout",
                  "max_length"
                ]
              },
              "services_supported": {
                "type": "object",
                "properties": {
                  "atomic-read-file": {
                    "type": "boolean"
                  },
                  "confirmed-text-message": {
                    "type": "boolean"
                  },
                  "unconfirmed-text-message": {
                    "type": "boolean"
                  },
                  "time-synchronization": {
                    "type": "boolean"
                  },
                  "confirmed-event-notification": {
                    "type": "boolean"
                  },
                  "reinitialize-device": {
                    "type": "boolean"
                  },
                  "who-is": {
                    "type": "boolean"
                  },
                  "who-has": {
                    "type": "boolean"
                  },
                  "unconfirmed-event-notification": {
                    "type": "boolean"
                  },
                  "subscribe-cov-property": {
                    "type": "boolean"
                  },
                  "vt-data": {
                    "type": "boolean"
                  },
                  "unconfirmed-private-transfer": {
                    "type": "boolean"
                  },
                  "create-object": {
                    "type": "boolean"
                  },
                  "delete-object": {
                    "type": "boolean"
                  },
                  "read-property-conditional": {
                    "type": "boolean"
                  },
                  "add-list-element": {
                    "type": "boolean"
                  },
                  "vt-open": {
                    "type": "boolean"
                  },
                  "remove-list-element": {
                    "type": "boolean"
                  },
                  "get-event-information": {
                    "type": "boolean"
                  },
                  "confirmed-cov-notification": {
                    "type": "boolean"
                  },
                  "i-am": {
                    "type": "boolean"
                  },
                  "device-communication-control": {
                    "type": "boolean"
                  },
                  "acknowledge-alarm": {
                    "type": "boolean"
                  },
                  "get-alarm-summary": {
                    "type": "boolean"
                  },
                  "i-have": {
                    "type": "boolean"
                  },
                  "subscribe-cov": {
                    "type": "boolean"
                  },
                  "confirmed-private-transfer": {
                    "type": "boolean"
                  },
                  "vt-close": {
                    "type": "boolean"
                  },
                  "request-key": {
                    "type": "boolean"
                  },
                  "read-property-multiple": {
                    "type": "boolean"
                  },
                  "write-property": {
                    "type": "boolean"
                  },
                  "life-safety-operation": {
                    "type": "boolean"
                  },
                  "read-property": {
                    "type": "boolean"
                  },
                  "atomic-write-file": {
                    "type": "boolean"
                  },
                  "utc-time-synchronization": {
                    "type": "boolean"
                  },
                  "get-enrollment-summary": {
                    "type": "boolean"
                  },
                  "write-property-multiple": {
                    "type": "boolean"
                  },
                  "unconfirmed-cov-notification": {
                    "type": "boolean"
                  },
                  "read-range": {
                    "type": "boolean"
                  },
                  "authenticate": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "atomic-read-file",
                  "confirmed-text-message",
                  "unconfirmed-text-message",
                  "time-synchronization",
                  "confirmed-event-notification",
                  "reinitialize-device",
                  "who-is",
                  "who-has",
                  "unconfirmed-event-notification",
                  "subscribe-cov-property",
                  "vt-data",
                  "unconfirmed-private-transfer",
                  "create-object",
                  "delete-object",
                  "read-property-conditional",
                  "add-list-element",
                  "vt-open",
                  "remove-list-element",
                  "get-event-information",
                  "confirmed-cov-notification",
                  "i-am",
                  "device-communication-control",
                  "acknowledge-alarm",
                  "get-alarm-summary",
                  "i-have",
                  "subscribe-cov",
                  "confirmed-private-transfer",
                  "vt-close",
                  "request-key",
                  "read-property-multiple",
                  "write-property",
                  "life-safety-operation",
                  "read-property",
                  "atomic-write-file",
                  "utc-time-synchronization",
                  "get-enrollment-summary",
                  "write-property-multiple",
                  "unconfirmed-cov-notification",
                  "read-range",
                  "authenticate"
                ]
              },
              "object_types_supported": {
                "type": "object",
                "properties": {
                  "averaging": {
                    "type": "boolean"
                  },
                  "multi-state-input": {
                    "type": "boolean"
                  },
                  "schedule": {
                    "type": "boolean"
                  },
                  "multi-state-output": {
                    "type": "boolean"
                  },
                  "binary-output": {
                    "type": "boolean"
                  },
                  "analog-value": {
                    "type": "boolean"
                  },
                  "life-safety-point": {
                    "type": "boolean"
                  },
                  "group": {
                    "type": "boolean"
                  },
                  "notification-class": {
                    "type": "boolean"
                  },
                  "analog-input": {
                    "type": "boolean"
                  },
                  "file": {
                    "type": "boolean"
                  },
                  "command": {
                    "type": "boolean"
                  },
                  "life-safety-zone": {
                    "type": "boolean"
                  },
                  "binary-input": {
                    "type": "boolean"
                  },
                  "loop": {
                    "type": "boolean"
                  },
                  "multi-state-value": {
                    "type": "boolean"
                  },
                  "analog-output": {
                    "type": "boolean"
                  },
                  "calendar": {
                    "type": "boolean"
                  },
                  "event-enrollment": {
                    "type": "boolean"
                  },
                  "pulse-converter": {
                    "type": "boolean"
                  },
                  "device": {
                    "type": "boolean"
                  },
                  "trend-log": {
                    "type": "boolean"
                  },
                  "binary-value": {
                    "type": "boolean"
                  },
                  "program": {
                    "type": "boolean"
                  },
                  "accumulator": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "averaging",
                  "multi-state-input",
                  "schedule",
                  "multi-state-output",
                  "binary-output",
                  "analog-value",
                  "life-safety-point",
                  "group",
                  "notification-class",
                  "analog-input",
                  "file",
                  "command",
                  "life-safety-zone",
                  "binary-input",
                  "loop",
                  "multi-state-value",
                  "analog-output",
                  "calendar",
                  "event-enrollment",
                  "pulse-converter",
                  "device",
                  "trend-log",
                  "binary-value",
                  "program",
                  "accumulator"
                ]
              }
            },
            "required": [
              "version",
              "revision",
              "max_master",
              "device_id",
              "max_segments_accepted",
              "apdu",
              "services_supported",
              "object_types_supported"
            ]
          },
          "hardware": {
            "type": "object",
            "properties": {
              "make": {
                "type": "string",
                "minLength": 1
              },
              "model": {
                "type": "string",
                "minLength": 1
              },
              "vendor_id": {
                "type": "number"
              },
              "location": {
                "type": "string",
                "minLength": 1
              },
              "firmware_revision": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "make",
              "model",
              "vendor_id",
              "location",
              "firmware_revision"
            ]
          },
          "system": {
            "type": "object",
            "properties": {
              "application_software_version": {
                "type": "string",
                "minLength": 1
              },
              "status": {
                "type": "string",
                "minLength": 1
              },
              "date": {
                "type": "string",
                "minLength": 1
              },
              "time": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "application_software_version",
              "status",
              "date",
              "time"
            ]
          }
        },
        "required": [
          "object",
          "protocol",
          "hardware",
          "system"
        ],
        "title": "Field Controller BACnet Details",
        "x-examples": {
          "Example": {
            "object": {
              "name": "USSEA-HVAC-BMSNODE02",
              "description": "AHU-1",
              "instance": "10200"
            },
            "protocol": {
              "version": 1,
              "revision": 7,
              "max_master": 127,
              "device_id": "10200",
              "max_segments_accepted": 16,
              "apdu": {
                "timeout": 15000,
                "retries": 1,
                "segment_timeout": 15000,
                "max_length": 1476
              },
              "services_supported": {
                "atomic-read-file": true,
                "confirmed-text-message": true,
                "unconfirmed-text-message": true,
                "time-synchronization": true,
                "confirmed-event-notification": true,
                "reinitialize-device": true,
                "who-is": true,
                "who-has": true,
                "unconfirmed-event-notification": true,
                "subscribe-cov-property": false,
                "vt-data": false,
                "unconfirmed-private-transfer": false,
                "create-object": true,
                "delete-object": true,
                "read-property-conditional": false,
                "add-list-element": true,
                "vt-open": false,
                "remove-list-element": true,
                "get-event-information": true,
                "confirmed-cov-notification": true,
                "i-am": true,
                "device-communication-control": true,
                "acknowledge-alarm": true,
                "get-alarm-summary": true,
                "i-have": true,
                "subscribe-cov": true,
                "confirmed-private-transfer": true,
                "vt-close": false,
                "request-key": false,
                "read-property-multiple": true,
                "write-property": true,
                "life-safety-operation": false,
                "read-property": true,
                "atomic-write-file": true,
                "utc-time-synchronization": false,
                "get-enrollment-summary": true,
                "write-property-multiple": true,
                "unconfirmed-cov-notification": true,
                "read-range": true,
                "authenticate": false
              },
              "object_types_supported": {
                "averaging": false,
                "multi-state-input": false,
                "schedule": true,
                "multi-state-output": true,
                "binary-output": true,
                "analog-value": true,
                "life-safety-point": false,
                "group": false,
                "notification-class": true,
                "analog-input": true,
                "file": true,
                "command": true,
                "life-safety-zone": false,
                "binary-input": true,
                "loop": false,
                "multi-state-value": true,
                "analog-output": true,
                "calendar": true,
                "event-enrollment": true,
                "pulse-converter": false,
                "device": true,
                "trend-log": true,
                "binary-value": true,
                "program": false,
                "accumulator": false
              }
            },
            "hardware": {
              "make": "Siemens Industry Inc., Bldg Tech",
              "model": "Siemens BACnet Field Panel",
              "vendor_id": 7,
              "location": "MAINT SHOP",
              "firmware_revision": "PXCE V3.4 BACnet 4.3g"
            },
            "system": {
              "application_software_version": "BCE1265_0039",
              "status": "operational",
              "date": "2021-01-19",
              "time": "7:15:41.89"
            }
          }
        }
      },
      "Gateway-Listing": {
        "description": "",
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "required": [
                "id",
                "serial",
                "tunnel",
                "tenant",
                "name",
                "description",
                "is_registered"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "serial": {
                  "type": "string",
                  "minLength": 1
                },
                "tunnel": {
                  "type": "string",
                  "minLength": 1
                },
                "tenant": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string"
                },
                "is_registered": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "required": [
          "count",
          "data"
        ],
        "title": "Gateway Listing",
        "x-examples": {},
        "x-tags": [
          "Object Models"
        ]
      },
      "Field-Controller-Listing": {
        "description": "",
        "type": "object",
        "title": "Field Controller Listing",
        "x-examples": {
          "Example": {
            "count": 2,
            "data": [
              {
                "id": "341efcb4-b884-47b5-af5e-aa44ddb6f22a",
                "tenant": "1d1776fe-0437-426c-a796-06e2b5eaccf6",
                "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
                "created": 1610379813,
                "name": "BMS Node 02",
                "description": "AHU-1 Controller",
                "location": "Mechanical Room 126",
                "instance_id": 10200,
                "is_ostracized": false,
                "site": "c0142a11-62d1-460a-9be5-9e7881ae7b58"
              },
              {
                "id": "6953222d-3705-4da3-06e8-ee66ab41a700",
                "tenant": "1d1776fe-0437-426c-a796-06e2b5eaccf6",
                "gateway": "87e2c5f6-d961-4464-87c0-ec52863da975",
                "created": 1610992645,
                "name": "BMS Node 01",
                "description": "Central Plant Controller",
                "location": "Chiller Room",
                "instance_id": 10100,
                "is_ostracized": false,
                "site": null
              }
            ]
          }
        },
        "properties": {
          "count": {
            "type": "number"
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "tenant": {
                  "type": "string",
                  "minLength": 1
                },
                "gateway": {
                  "type": "string",
                  "minLength": 1,
                  "format": "uuid"
                },
                "created": {
                  "type": "number"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string",
                  "minLength": 1
                },
                "location": {
                  "type": "string",
                  "minLength": 1
                },
                "instance_id": {
                  "type": "number"
                },
                "is_ostracized": {
                  "type": "boolean"
                },
                "site": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1,
                  "format": "uuid"
                }
              },
              "required": [
                "id",
                "tenant",
                "gateway",
                "created",
                "name",
                "description",
                "location",
                "instance_id",
                "is_ostracized",
                "site"
              ]
            }
          }
        },
        "required": [
          "count",
          "data"
        ]
      },
      "Gateway-Vitals": {
        "description": "The information returned by the gateway device when it is queried for vitals",
        "type": "object",
        "properties": {
          "serial": {
            "type": "string",
            "minLength": 1
          },
          "firmware": {
            "type": "string",
            "minLength": 1
          },
          "hostname": {
            "type": "string",
            "minLength": 1
          },
          "uptime": {
            "type": "string",
            "minLength": 1
          },
          "services": {
            "type": "object",
            "properties": {
              "running": {
                "type": "number"
              },
              "status": {
                "type": "object",
                "properties": {
                  "web_server": {
                    "type": "boolean"
                  },
                  "cache": {
                    "type": "boolean"
                  },
                  "ssh": {
                    "type": "boolean"
                  },
                  "bacnet": {
                    "type": "boolean"
                  },
                  "tunnel": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "web_server",
                  "cache",
                  "ssh",
                  "bacnet",
                  "tunnel"
                ]
              }
            },
            "required": [
              "running",
              "status"
            ]
          },
          "network": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "minLength": 1
              },
              "subnet": {
                "type": "string",
                "minLength": 1
              },
              "gateway": {
                "type": "string",
                "minLength": 1
              },
              "cidr": {
                "type": "string",
                "minLength": 1
              },
              "dns": {
                "type": "array",
                "items": {
                  "required": [],
                  "properties": {}
                }
              }
            },
            "required": [
              "address",
              "subnet",
              "gateway",
              "cidr",
              "dns"
            ]
          }
        },
        "required": [
          "serial",
          "firmware",
          "hostname",
          "uptime",
          "services",
          "network"
        ],
        "x-examples": {},
        "title": "Gateway Vitals"
      },
      "New-Gateway-Request-Body": {
        "title": "Activate Gateway Request Body",
        "type": "object",
        "x-tags": [
          "Object Models"
        ],
        "description": "Description",
        "properties": {
          "serial": {
            "type": "string",
            "description": "The physical device serial number",
            "minLength": 12,
            "maxLength": 12,
            "example": "b821eb530b5e"
          },
          "name": {
            "type": "string",
            "example": "New Gateway",
            "minLength": 1,
            "maxLength": 96,
            "description": "A display name for the new gateway"
          },
          "location": {
            "type": "string",
            "minLength": 0,
            "maxLength": 120,
            "example": "In BMS panel for RTU-1",
            "description": "A brief description of the device (location, config, etc)"
          }
        },
        "required": [
          "serial",
          "name"
        ]
      },
      "Update-Gateway-Request-Body": {
        "title": "Update Gateway Request Body",
        "type": "object",
        "x-tags": [
          "Object Models"
        ],
        "description": "",
        "properties": {
          "name": {
            "type": "string",
            "description": "A name for the gateway"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the gateway"
          },
          "location": {
            "type": "string",
            "description": "The installed location of the device"
          }
        }
      },
      "Gateway-Whois": {
        "description": "",
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "data": {
            "type": "object",
            "properties": {
              "responses": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "required": [
                    "device_id",
                    "device_name"
                  ],
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "device_name": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              },
              "online_devices": {
                "type": "array",
                "items": {
                  "required": [],
                  "properties": {}
                }
              }
            },
            "required": [
              "responses",
              "online_devices"
            ]
          }
        },
        "required": [
          "count",
          "data"
        ],
        "title": "Gateway Whois Response"
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "200-Gateway-Updated": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Gateway-Details"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Get-Gateway"
              }
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "application/json"
          }
        }
      },
      "200-Get-Gateway": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Gateway-Details"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Get-Gateway"
              },
              "Response w/ Vitals": {
                "$ref": "#/components/examples/Get-Gateway-Online"
              }
            }
          }
        },
        "headers": {}
      },
      "404-Gateway-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Gateway not found",
                    "console": "The gateway ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        },
        "headers": {}
      },
      "201-Gateway-Created": {
        "description": "Created",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Gateway-Details"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Get-Gateway"
              }
            }
          }
        },
        "headers": {}
      },
      "200-Get-Gateway-Listing": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Gateway-Listing"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Get-Gateway-List"
              }
            }
          }
        },
        "headers": {}
      },
      "200-Gateway-Whois": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Gateway-Whois"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Gateway-Whois"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "gatewayId": {
        "name": "gatewayId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "539fea81-d151-46e1-b1f6-36e3864ebeff"
        },
        "description": "A valid gateway UUID"
      },
      "Content-Type": {
        "name": "Content-Type",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "application/json"
        },
        "description": "application/json"
      }
    },
    "examples": {
      "Get-Gateway": {
        "value": {
          "id": "539fea81-d151-46e1-b1f6-36e3864ebeff",
          "serial": "dca6327364b3",
          "name": "Primary Gateway",
          "description": "",
          "is_registered": true,
          "vitals": null
        }
      },
      "Get-Gateway-Online": {
        "value": {
          "id": "539fea81-d151-46e1-b1f6-36e3864ebeff",
          "serial": "dca6327364b3",
          "name": "Primary Gateway",
          "description": "",
          "is_registered": true,
          "vitals": {
            "serial": "dca6327364b3",
            "firmware": "0.2.0",
            "hostname": "ussea-bms-gw01",
            "uptime": "2 days",
            "services": {
              "running": 145,
              "status": {
                "web_server": true,
                "cache": true,
                "ssh": true,
                "bacnet": true,
                "tunnel": true
              }
            },
            "network": {
              "address": "192.168.5.100",
              "subnet": "255.255.255.0",
              "gateway": "192.168.5.1",
              "cidr": "192.168.5.100/24",
              "dns": [
                "1.1.1.1",
                "1.0.0.1"
              ]
            }
          }
        }
      },
      "New-Gateway-Body": {
        "value": {
          "serial": "b821eb530b5e",
          "name": "Primary Gateway"
        }
      },
      "Get-Gateway-List": {
        "value": {
          "count": 1,
          "data": [
            {
              "id": "539fea81-d151-46e1-b1f6-36e3864ebeff",
              "serial": "dca6327364b3",
              "name": "Primary Gateway",
              "description": "The primary gateway we use",
              "is_registered": true
            }
          ]
        }
      },
      "Update-Gateway-Body": {
        "value": {
          "name": "Primary Gateway",
          "description": "The primary gateway we use",
          "location": "BAS Panel for RTU-1"
        }
      },
      "Gateway-Whois": {
        "value": {
          "count": 2,
          "data": {
            "responses": [
              {
                "device_id": "10100",
                "device_name": "USSEA-HVAC-BMSNODE01"
              },
              {
                "device_id": "10200",
                "device_name": "USSEA-HVAC-BMSNODE02"
              }
            ],
            "online_devices": [
              "10100",
              "10200"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Gateways"
    },
    {
      "name": "Hardware Tokens"
    },
    {
      "name": "Field Controllers"
    }
  ]
}