{
  "openapi": "3.0.0",
  "info": {
    "title": "Infrastructure",
    "version": "1.0",
    "description": "The Infrastructure API provides endpoints for gateway and field controller management, including:\n* Registering & managing site gateways\n* Creating & managing DDC field controllers\n\n**Managing Site Gateways**\n\nA site gateway is a physical device placed on the BAS network and provides the connection to the Counterbalance cloud. A site gateway must first be purchased and registered with a tenant account before it will be accessible in the console and this process is outlined in the Register Gateway endpoint.\n\n**Quotas and Licensing**\n\nSite management is a paid feature. Physical sites are subject to quota availability. Virtual sites and buildings are not measured against a pre-defined quota but require a seperate license. These requirments are outlined in the various endpoint docs.\n\nIf insufficient quota or licensing exists for the specified site type, a `403 Forbidden` error will be thrown and the site will not be created. "
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/infrastructure/gateway": {
      "get": {
        "summary": "List Gateways",
        "tags": [
          "Gateways"
        ],
        "responses": {},
        "operationId": "get-gateway",
        "description": "Get a list of available gateway devices"
      },
      "post": {
        "summary": "Create Gateway",
        "operationId": "create-gateway",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "description": "Register a new gateway device with a tenant account\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:register`\n* Adequate gateway quota\n* A physical gateway device serial number\n\n**Gateway Serial Number**\n\nA valid gateway serial number is required in order to register a new gateway. The serial number is found on the bottom of the device or by loading the web GUI of the gateway.\n\n**Registration Process**\n\nThe registration of a gateway is a two-step process. First, the gateway device must be created and assigned a tenant account using this endpoint. \n\nA successful creation will generate a unique gateway UUID and a registration PIN. These values will be emailed to the authenticated user and will be needed to link the device.\n\nSecond, the Register Gateway Device endpoint is used from the device to link it with the tenant account using the newly registered UUID and registration secret.",
        "tags": [
          "Gateways"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "serial": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 12,
                    "description": "The physical device serial number"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 96,
                    "description": "A display name for the new gateway"
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the device (location, config, etc)"
                  }
                },
                "required": [
                  "serial",
                  "name"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "serial": "b821eb530b5e",
                    "name": "Primary Gateway"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/infrastructure/gateway/{gatewayId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "gatewayId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Gateway",
        "responses": {},
        "operationId": "get-v1-infrastructure-gateway-gatewayId",
        "tags": [
          "Gateways"
        ]
      },
      "patch": {
        "summary": "Update Gateway",
        "operationId": "patch-v1-infrastructure-gateway-gatewayId",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Gateways"
        ]
      },
      "delete": {
        "summary": "Delete Gateway",
        "operationId": "delete-v1-infrastructure-gateway-gatewayId",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Gateways"
        ]
      }
    },
    "/v1/infrastructure/gateway/{gatewayId}/devices": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "gatewayId",
          "in": "path",
          "required": true,
          "description": "A valid gateway ID"
        }
      ],
      "get": {
        "summary": "List Available Field Controllers",
        "responses": {},
        "operationId": "get-v1-infrastructure-gateway-gatewayId-devices",
        "description": "List the available field controllers on the specified gateway\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* A configured site gateway with Internet access\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:query`",
        "tags": [
          "Gateways"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/infrastructure/controller": {
      "get": {
        "summary": "List Registered Field Controllers",
        "responses": {},
        "operationId": "get-v1-infrastructure-controller",
        "tags": [
          "Field Controllers"
        ]
      },
      "post": {
        "summary": "Register Field Controller",
        "operationId": "create-ddc-controller",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Create a new DDC controller",
        "tags": [
          "Field Controllers"
        ]
      }
    },
    "/v1/infrastructure/controller/{controllerId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "controllerId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Field Controller Details",
        "responses": {},
        "operationId": "get-controller",
        "description": "",
        "tags": [
          "Field Controllers"
        ]
      },
      "patch": {
        "summary": "Update Field Controller",
        "operationId": "update-controller",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Field Controllers"
        ]
      }
    },
    "/v1/infrastructure/gateway/{gatewayId}/whois": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "gatewayId",
          "in": "path",
          "required": true,
          "description": "A valid gateway ID"
        }
      ],
      "post": {
        "summary": "Send BACnet Who-Is",
        "operationId": "send-whois",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Gateways"
        ],
        "description": "Send a BACnet Who-Is to the network and review responsive field controllers\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* A configured site gateway with Internet access\n* Permissions _(at least one):_ `*`,`infrastructure:*`,`infrastructure:gateway:*`,`infrastructure:gateway:query`\n",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Gateway-Details": {
        "title": "Gateway Details",
        "type": "object",
        "description": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The gateway UUID"
          },
          "serial": {
            "type": "string",
            "description": "The serial number of the gateway"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the gateway"
          },
          "registration_timestamp": {
            "type": "integer"
          },
          "network": {
            "type": "object",
            "description": "Gateway network configuration information",
            "required": [
              "address",
              "mask",
              "gateway",
              "nameservers"
            ],
            "properties": {
              "address": {
                "type": "string"
              },
              "mask": {
                "type": "string"
              },
              "gateway": {
                "type": "string"
              },
              "nameservers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "hostname": {
            "type": "string",
            "description": "The hostname of the gateway on the LAN"
          },
          "bacnet_id": {
            "type": "integer",
            "description": "The BACnet instance ID of the gateway on the LAN"
          },
          "online": {
            "type": "boolean",
            "description": "The tunnel status of the gateway"
          }
        },
        "required": [
          "id",
          "serial",
          "registration_timestamp",
          "network",
          "hostname",
          "bacnet_id",
          "online"
        ],
        "x-tags": [
          "Object Models"
        ]
      },
      "Gateway-Details-Condensed": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "serial": {
            "type": "string",
            "minLength": 1
          },
          "tunnel": {
            "type": "string",
            "minLength": 1
          },
          "tenant": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "is_registered": {
            "type": "boolean"
          },
          "vitals": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "serial",
          "tunnel",
          "tenant",
          "name",
          "description",
          "is_registered"
        ],
        "title": "Gateway Details - Condensed",
        "x-examples": {
          "Example": {
            "id": "53193642-1964-4306-8134-3bdd59d551e5",
            "serial": "b821eb530b5e",
            "tunnel": "68e20bcceddb",
            "tenant": "d6797ebf-5b00-4a59-b3e5-19711b4c55bb",
            "name": "Primary Gateway",
            "description": "",
            "is_registered": false,
            "vitals": null
          }
        },
        "x-tags": [
          "Object Models"
        ]
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Gateways"
    },
    {
      "name": "Hardware Tokens"
    },
    {
      "name": "Field Controllers"
    }
  ]
}