{
  "openapi": "3.1.0",
  "info": {
    "title": "Notifications",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/notification/message": {
      "get": {
        "summary": "Get Notification Messages",
        "tags": [
          "Message"
        ],
        "responses": {},
        "operationId": "get-messages",
        "description": "Get the user's notification messages"
      },
      "parameters": []
    },
    "/v1/notification/message/statistics": {
      "get": {
        "summary": "Get Notification Message Statistics",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-v1-notifications-inbox",
        "description": "Get the user's notification message statistics",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": []
    },
    "/v1/notification/message/{messageId}": {
      "get": {
        "summary": "Get Notification Message",
        "tags": [
          "Message"
        ],
        "responses": {},
        "operationId": "get-message",
        "description": ""
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/messageId"
        }
      ],
      "put": {
        "summary": "Set Message Status",
        "operationId": "set-message-status",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Message"
        ],
        "description": ""
      },
      "delete": {
        "summary": "",
        "operationId": "delete-message",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Message"
        ]
      }
    },
    "/v1/notification/group": {
      "get": {
        "summary": "List Recipient Groups",
        "tags": [
          "Recipient Group"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-groups",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create Recipient Group",
        "operationId": "create-group",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Recipient Group"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/notification/group/{groupId}": {
      "get": {
        "summary": "Get Recipient Group",
        "tags": [
          "Recipient Group"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-group",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/groupId"
        }
      ],
      "patch": {
        "summary": "Update Recipient Group",
        "operationId": "update-group",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Recipient Group"
        ],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    },
    "/v1/notification/group/{groupId}/members": {
      "get": {
        "summary": "Get Recipient Group Members",
        "tags": [
          "Recipient Group"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-group-members",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/groupId"
        }
      ],
      "put": {
        "summary": "Add Recipient Group Members",
        "operationId": "add-group-members",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "tags": [
          "Recipient Group"
        ]
      }
    },
    "/v1/notification/group/{groupId}/members/{membershipId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/groupId"
        },
        {
          "$ref": "#/components/parameters/membershipId"
        }
      ],
      "patch": {
        "summary": "Update Recipient Group Membership",
        "operationId": "update-group-membership",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Recipient Group"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": ""
      },
      "delete": {
        "summary": "Delete Recipient Group Membership",
        "operationId": "delete-group-membership",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Recipient Group"
        ]
      }
    },
    "/v1/notification/thread": {
      "get": {
        "summary": "List Threads",
        "tags": [
          "Thread"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-threads",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "subject"
          }
        ]
      }
    },
    "/v1/notification/thread/{threadId}": {
      "get": {
        "summary": "Get Thread",
        "tags": [
          "Thread"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "list-threads",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "subject"
          }
        ],
        "description": ""
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/threadId"
        }
      ],
      "put": {
        "summary": "Acknowledge Thread",
        "operationId": "ack-thread",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Thread"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Message-Object": {
        "title": "Notification-Object",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-tags": [
          "Message"
        ]
      },
      "Thread-Object": {
        "title": "Thread-Object",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-tags": [
          "Thread"
        ]
      },
      "Message-Statistics-Object": {
        "title": "Message-Statistics-Object",
        "type": "object",
        "x-tags": [
          "Message"
        ],
        "properties": {
          "counts": {
            "type": "object",
            "properties": {
              "unseen": {
                "type": "integer",
                "readOnly": true
              },
              "unread": {
                "type": "integer",
                "readOnly": true
              },
              "read": {
                "type": "integer",
                "readOnly": true
              },
              "total": {
                "type": "integer",
                "readOnly": true
              },
              "deleted": {
                "type": "integer",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "messageId": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid message UUID"
      },
      "groupId": {
        "name": "groupId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid recipient group UUID"
      },
      "threadId": {
        "name": "threadId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid thread UUID"
      },
      "membershipId": {
        "name": "membershipId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Message"
    },
    {
      "name": "Recipient Group"
    },
    {
      "name": "Thread"
    }
  ]
}