{
  "openapi": "3.1.0",
  "info": {
    "title": "Reporting",
    "version": "1.0",
    "description": "The reporting API provides endpoints for creating and managing reports and trend plots"
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/reporting/plot": {
      "get": {
        "summary": "List Trend Plots",
        "tags": [
          "Trend Plots"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-plot",
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": []
      },
      "post": {
        "summary": "Create Trend Plot",
        "operationId": "create-plot",
        "responses": {
          "201": {
            "$ref": "#/components/responses/200-Plot-Object"
          }
        },
        "description": "",
        "tags": [
          "Trend Plots"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Plot-Object"
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "example": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ]
      }
    },
    "/reporting/plot/{plotId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/plotId"
        }
      ],
      "get": {
        "summary": "Get Trend Plot",
        "tags": [
          "Trend Plots"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Plot-Object"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-plot",
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "summary": "Update Trend Plot",
        "operationId": "update-plot",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Plot-Object"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Trend Plots"
        ],
        "description": "",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "example": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Update-Plot-Object"
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Trend Plot",
        "operationId": "delete-plot",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Trend Plots"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "",
        "examples": [
          {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the given user."
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1997-10-31"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "Set to true if the user's email has been verified."
          },
          "createDate": {
            "type": "string",
            "format": "date",
            "description": "The date that the user was created."
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "emailVerified"
        ]
      },
      "Plot-Object": {
        "title": "Plot Object",
        "type": "object",
        "description": "",
        "examples": [],
        "properties": {
          "id": {
            "type": "string",
            "description": "The plot object UUID",
            "format": "uuid",
            "example": "8e52e134-4b19-481a-891f-3974f494d67d",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "example": "2022-01-01T00:00:00+0000",
            "description": "Date/time the plot object was created",
            "readOnly": true
          },
          "last_modified": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2022-01-01T00:00:00+0000",
            "description": "Date/time the plot object was last modified (`NULL` if never modified)",
            "readOnly": true
          },
          "@owner": {
            "type": "string",
            "format": "uuid",
            "example": "9d6b9387-1721-4e62-a6c4-8457d2d16ded",
            "description": "The user UUID who created and maintains the plot"
          },
          "public": {
            "type": "boolean",
            "default": false,
            "description": "If `true`, the plot obejct is visible to all users. If `false`, the plot object is visible only to the owner."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 96,
            "description": "The name of the plot object"
          },
          "description": {
            "type": "string",
            "description": "An optional plot object description",
            "minLength": 0,
            "maxLength": 120
          },
          "config": {
            "type": "object",
            "description": "The plot object configuration data **(internal use only)**",
            "additionalProperties": false
          }
        },
        "x-tags": [
          "Trend Plots"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "reportId": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid report UUID"
      },
      "plotId": {
        "name": "plotId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid plot UUID"
      }
    },
    "responses": {
      "200-Plot-Object": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "200-Plot-Listing": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "Plot-Object": {
        "value": {
          "id": ""
        }
      },
      "Plot-Object-Listing": {
        "value": {
          "description": "Example shared example",
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            }
          },
          "required": [
            "id"
          ]
        }
      },
      "Create-Plot-Object-Body": {
        "value": {
          "description": "Example shared example",
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            }
          },
          "required": [
            "id"
          ]
        }
      },
      "Update-Plot-Object-Body": {
        "value": {
          "description": "Example shared example",
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            }
          },
          "required": [
            "id"
          ]
        }
      }
    },
    "requestBodies": {
      "Create-Plot-Object": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            },
            "examples": {
              "Example": {
                "$ref": "#/components/examples/Create-Plot-Object-Body"
              }
            }
          }
        },
        "description": "Create-Plot-Object Request Body Description field"
      },
      "Update-Plot-Object": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            },
            "examples": {
              "Example": {
                "$ref": "#/components/examples/Update-Plot-Object-Body"
              }
            }
          }
        }
      }
    }
  }
}