{
  "openapi": "3.0.0",
  "info": {
    "title": "Telemetry",
    "version": "1.1.0",
    "description": "Telemetry and logging allows the collection of data from gateways and on-site systems"
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/telemetry/datapoint": {
      "get": {
        "summary": "List Points",
        "responses": {},
        "operationId": "get-point-list",
        "description": "",
        "tags": [
          "Points"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create Point",
        "operationId": "create-data-point",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400-Invalid-Scope"
          },
          "404": {
            "$ref": "#/components/responses/404-Controller-Not-Found"
          }
        },
        "description": "### Synopsis\nCreate a new point definition\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:create`\n* Adequate gateway quota",
        "tags": [
          "Points"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": []
    },
    "/v1/telemetry/datapoint/{pointId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/pointId"
        }
      ],
      "get": {
        "summary": "Get Point",
        "tags": [
          "Points"
        ],
        "responses": {},
        "operationId": "get-point",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": ""
      },
      "delete": {
        "summary": "Delete Point",
        "operationId": "delete-point",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Points"
        ],
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Point",
        "operationId": "update-point",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Points"
        ]
      }
    },
    "/v1/telemetry/collector": {
      "get": {
        "summary": "List Collectors",
        "tags": [
          "Collectors"
        ],
        "responses": {},
        "operationId": "list-collectors",
        "description": "### Synopsis\nList ",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create Collector",
        "operationId": "create-collector",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "### Synopsis\nCreate a new Collector for a data point\n\n### Prerequisites",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Collectors"
        ]
      },
      "parameters": []
    },
    "/v1/telemetry/collector/{collectorId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/collectorId"
        }
      ],
      "get": {
        "summary": "Get Collector",
        "tags": [
          "Collectors"
        ],
        "responses": {},
        "operationId": "get-collector",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Collector",
        "operationId": "update-collector",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "Collectors"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/telemetry/collector/{collectorId}/sample": {
      "parameters": [
        {
          "$ref": "#/components/parameters/collectorId"
        }
      ],
      "get": {
        "summary": "Sample Collector Data",
        "tags": [
          "Collectors"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Collector-Samples"
          },
          "404": {
            "$ref": "#/components/responses/404-Collector-Not-Found"
          }
        },
        "operationId": "get-collector-samples",
        "description": "### Synopsis\nRetrieve data samples for the specified collector. \n\n### Prerequsites\n\n### Adjusting the Sample Window\nBy default, with no query parameters specified, sample data for the last 12 hours is returned. \n\nThis sample window can be adjusted using query parameters in two ways.\n\n#### Sample a Fixed Date Range\nThis is how you do it\n\n#### Sample a Relative Date Range\nA relative range can be sampled using a `start` date and a `duration` in seconds. ",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "start",
            "description": "Timestamp for the upper end of the sample response"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "end",
            "description": "Timestamp for the lower end of the sample response"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "duration",
            "description": "The length of the sample (in seconds)"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/telemetry/datapoint/{pointId}/command": {
      "parameters": [
        {
          "$ref": "#/components/parameters/pointId"
        }
      ],
      "put": {
        "summary": "Command Point",
        "operationId": "command-point",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Indicates the status of the request, produced by the gateway"
                    }
                  },
                  "required": [
                    "status"
                  ]
                },
                "examples": {
                  "Response Success": {
                    "value": {
                      "status": true
                    }
                  },
                  "Response Fail": {
                    "value": {
                      "status": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameters": {
                    "value": {
                      "error": {
                        "message": "One or more required parameters are missing",
                        "console": "Check the request body and try again",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  },
                  "Invalid Operation": {
                    "value": {
                      "error": {
                        "message": "Invalid operation requested",
                        "console": "Only command and relinquish are supported",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  },
                  "Point Not Commandable": {
                    "value": {
                      "error": {
                        "message": "Datapoint not commandable",
                        "console": "This datapoint is not commandable",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Point-Not-Found"
          }
        },
        "tags": [
          "Points"
        ],
        "description": "### Synopsis\nCommand or releasea point\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`telemetry:*`,`telemetry:datapoint:*`,`telemetry:datapoint:command`\n* A registered gateway connected to the Internet\n* A connected BACnet field controller\n* One or more commandable BACnet data points\n\n### Commandable Points\nThe table below defines the BACnet object types compatible with this endpoint. Support for enumerated values is planned for a future release.\n\n| Object Type | Description |\n|-----|---------------|\n| `1` | Analog Output |\n| `2` | Analog Value |\n| `4` | Binary Output |\n| `5` | Binary Value |\n\n### Supported Command Priorities\nAll BACnet sixteen command priorities are supported. \n\n### Command vs Relinquish\nThe `operation` body parameter accepts two values: `command` or `relinquish`\n\n#### Command a New Value\nTo command a data point to a new value, set `operation` to `command` in the request body and include the desired priority and new value. The new value will be added to the command priority array at the requested priority and any previous value at the same priority is overwritten. \n\n#### Relinqush a Set Value\nTo relinquish a command priority, set `operation` to `relinquish` in the request body and include the desired priority. The requested priority will be set to _null_ in the command priority array.",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Command-Point-Request-Body"
              },
              "examples": {
                "Command Point Example": {
                  "$ref": "#/components/examples/Put-Command-Point"
                },
                "Relinquish Point Example": {
                  "$ref": "#/components/examples/Put-Relinquish-Point"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Get-Collector-Samples-Response-Body": {
        "description": "",
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "number"
              },
              "end": {
                "type": "number"
              }
            },
            "required": [
              "start",
              "end"
            ]
          },
          "integrity": {
            "type": "object",
            "properties": {
              "sample_duration": {
                "type": "number"
              },
              "expected_samples": {
                "type": "number"
              },
              "missing_samples": {
                "type": "number"
              },
              "quality": {
                "type": "number"
              }
            },
            "required": [
              "sample_duration",
              "expected_samples",
              "missing_samples",
              "quality"
            ]
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "required": [
                "id",
                "timestamp",
                "value",
                "event_state"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "timestamp": {
                  "type": "string",
                  "minLength": 1
                },
                "value": {
                  "type": "number"
                },
                "feedback_value": {},
                "state_text": {},
                "event_state": {
                  "type": "string",
                  "minLength": 1
                },
                "priority_array": {},
                "status_flags": {
                  "type": "object",
                  "properties": {
                    "fault": {
                      "type": "boolean"
                    },
                    "in_alarm": {
                      "type": "boolean"
                    },
                    "overridden": {
                      "type": "boolean"
                    },
                    "out_of_service": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "fault",
                    "in_alarm",
                    "overridden",
                    "out_of_service"
                  ]
                }
              }
            }
          }
        },
        "required": [
          "count",
          "range",
          "integrity",
          "data"
        ],
        "title": "Get Collector Samples"
      },
      "Command-Point-Request-Body": {
        "description": "",
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "minLength": 1
          },
          "value": {
            "type": "number"
          },
          "priority": {
            "type": "number"
          }
        },
        "required": [
          "operation",
          "priority"
        ],
        "title": "Command Point Request Body"
      },
      "Relinquish-Point-Request-Body": {
        "description": "",
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "minLength": 1
          },
          "priority": {
            "type": "number"
          }
        },
        "required": [
          "operation",
          "priority"
        ],
        "title": "Relinquish Point Request Body"
      }
    },
    "parameters": {
      "pointId": {
        "name": "pointId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "168a3e32-996f-410a-a06c-c4cdc10fa362"
        },
        "description": "A valid point UUID"
      },
      "collectorId": {
        "name": "collectorId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid collector UUID"
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer",
        "description": ""
      }
    },
    "responses": {
      "400-Invalid-Scope": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Invalid object type",
                    "console": "The object type specified is invalid",
                    "code": 400
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "404-Controller-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Controller not found",
                    "console": "The controller ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "200-Get-Collector-Samples": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Get-Collector-Samples-Response-Body"
            },
            "examples": {
              "Response": {
                "$ref": "#/components/examples/Get-Collector-Samples"
              }
            }
          }
        }
      },
      "404-Collector-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Collector not found",
                    "console": "The collector ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      },
      "400-Non-Commandable-Point": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Datapoint not commandable",
                    "console": "string",
                    "code": 0
                  },
                  "logging_hash": null
                }
              }
            }
          }
        }
      },
      "404-Point-Not-Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../models/Error-Response.v1.yaml"
            },
            "examples": {
              "Response": {
                "value": {
                  "error": {
                    "message": "Datapoint not found",
                    "console": "The datapoint ID ... could not be found in the database",
                    "code": 404
                  },
                  "logging_hash": "..."
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "Get-Collector-Samples": {
        "value": {
          "count": 335,
          "range": {
            "start": 1614163800,
            "end": 1614264720
          },
          "integrity": {
            "sample_duration": 100920,
            "expected_samples": 336,
            "missing_samples": 1,
            "quality": 99
          },
          "data": [
            {
              "id": "6fc988a0f34126693318d2df9247f8cc",
              "timestamp": "1614264600",
              "value": 62.6,
              "feedback_value": null,
              "state_text": null,
              "event_state": "normal",
              "priority_array": null,
              "status_flags": {
                "fault": false,
                "in_alarm": false,
                "overridden": false,
                "out_of_service": false
              }
            },
            {
              "id": "bbd4e6fb74ad710553100aace78636ce",
              "timestamp": "1614264300",
              "value": 62.6,
              "feedback_value": null,
              "state_text": null,
              "event_state": "normal",
              "priority_array": null,
              "status_flags": {
                "fault": false,
                "in_alarm": false,
                "overridden": false,
                "out_of_service": false
              }
            }
          ]
        }
      },
      "Put-Relinquish-Point": {
        "value": {
          "operation": "relinquish",
          "priority": 8
        }
      },
      "Put-Command-Point": {
        "value": {
          "operation": "command",
          "value": 1,
          "priority": 8
        }
      }
    }
  },
  "tags": [
    {
      "name": "Loggers"
    },
    {
      "name": "Points"
    },
    {
      "name": "Collectors"
    }
  ]
}