openapi: 3.0.0
info:
  title: Users
  version: 1.1.1
  description: ''
servers:
  - url: 'https://api.counterbalance.io'
    description: Core API
paths:
  /v1/user:
    get:
      summary: Get User Listing
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  count:
                    type: number
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: An array of user account objects
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                          description: ''
                          format: uuid
                        license:
                          type: string
                          minLength: 1
                          enum:
                            - record_user
                            - user
                            - seat
                        flags:
                          type: object
                          properties:
                            active:
                              type: boolean
                            blocked:
                              type: boolean
                            licensed:
                              type: boolean
                            archived:
                              type: boolean
                            deleted:
                              type: boolean
                          required:
                            - active
                            - blocked
                            - licensed
                            - archived
                            - deleted
                        picture:
                          type: string
                          minLength: 1
                        name:
                          type: object
                          properties:
                            given:
                              type: string
                              minLength: 1
                            preferred:
                              type: string
                            middle:
                              type: string
                            family:
                              type: string
                              minLength: 1
                            prefix: {}
                            suffix: {}
                            full:
                              type: string
                              minLength: 1
                            display:
                              type: string
                              minLength: 1
                            short:
                              type: string
                          required:
                            - given
                            - preferred
                            - middle
                            - family
                            - full
                            - display
                            - short
                        email:
                          type: string
                          minLength: 1
                        site:
                          type:
                            - string
                            - 'null'
                          format: uuid
                          default: 'null'
                        department:
                          type:
                            - string
                            - 'null'
                          minLength: 1
                          default: 'null'
                          format: uuid
                        manager:
                          type:
                            - string
                            - 'null'
                        room:
                          type: string
                        mail_stop:
                          type: string
                        title:
                          type: string
                          minLength: 1
                        employee_id:
                          type: string
                        org_guid:
                          type: string
                        links:
                          type: array
                          items:
                            type: object
                      required:
                        - id
                        - license
                        - picture
                        - email
                        - site
                        - department
                        - title
                        - employee_id
                        - org_guid
                required:
                  - count
                  - data
              examples:
                Response:
                  value: {}
          headers: {}
      operationId: get-v1-user
    post:
      summary: Create a New User
      operationId: post-v1-user
      responses:
        '200':
          description: OK
      description: Create a new user and optionally assign a license and password
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                given_name:
                  type: string
                  minLength: 1
                  maxLength: 90
                  description: The user's first name
                family_name:
                  type: string
                  minLength: 1
                  maxLength: 90
                  description: The user's last name
                email:
                  type: string
                  format: email
                title:
                  type: string
                type:
                  type: string
                  enum:
                    - record_user
                    - seat
                    - user
                password:
                  type: string
                  format: password
                  description: Required for "seat" and "user" types
              required:
                - given_name
                - family_name
                - email
                - type
        description: Request body description...
      parameters: []
  '/v1/user/{userId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: userId
        in: path
        required: true
        description: The UUID of the user
    get:
      summary: Get User by ID
      tags: []
      responses: {}
      operationId: get-v1-user-userId
      parameters: []
      description: Retrieve a user account by ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
    patch:
      summary: Update User by ID
      operationId: patch-v1-user-userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: Update a user account by ID
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                given_name:
                  type: string
                  minLength: 1
                  description: The user's first name
                family_name:
                  type: string
                  minLength: 1
                  description: The user's last name
                title:
                  type: string
                  description: The user's job title
                  maxLength: 90
                middle_name:
                  type: string
                  description: The user's middle name
                preferred_given_name:
                  type: string
                  description: The user's preferred first name
    delete:
      summary: Delete a User by ID
      operationId: delete-v1-user-userId
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: 'null'
      description: Delete a user by ID
  '/v1/user/{userId}/license':
    parameters:
      - schema:
          type: string
          format: uuid
        name: userId
        in: path
        required: true
        style: matrix
        description: The UUID of the user to license
    put:
      summary: Attach User Licensing
      operationId: put-v1-user-userId-license
      responses:
        '200':
          description: OK
      description: Assign user licensing
components:
  schemas:
    User-Account:
      description: A typical user account object
      type: object
      title: Complete User Account
      properties:
        id:
          type: string
          format: uuid
          description: The user's UUID
        license:
          type: string
          enum:
            - record_user
            - user
            - seat
          description: The assigned license class
        flags:
          type: object
          properties:
            active:
              type: boolean
            blocked:
              type: boolean
            licensed:
              type: boolean
            archived:
              type: boolean
            deleted:
              type: boolean
        picture:
          type: string
          minLength: 1
          description: The URL for the user's avatar photo
        auth: {}
        name:
          type: object
          properties:
            given:
              type: string
              maxLength: 90
            preferred:
              type: string
              maxLength: 90
            middle:
              type: string
              maxLength: 90
            family:
              type: string
              maxLength: 90
            prefix: {}
            suffix: {}
            full:
              type: string
              minLength: 1
            display:
              type: string
              minLength: 1
            short:
              type: string
          required:
            - full
            - display
            - short
        email:
          type: string
          format: email
          maxLength: 120
          description: The user's email address
        site:
          type: string
          minLength: 1
        department:
          type: string
          minLength: 1
        manager:
          type: string
          format: uuid
          default: 'null'
        room: {}
        mail_stop: {}
        title:
          type: string
          minLength: 1
        links:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              context:
                type: string
                enum:
                  - Counterbalance ID
                  - Microsoft 365
        milestones:
          type: object
          required:
            - accepted_terms
            - completed_onboarding
            - account_created
            - account_blocked
            - account_archived
            - license_assigned
          properties:
            accepted_terms:
              type: object
              required:
                - status
                - timestamp
              properties:
                status:
                  type: boolean
                timestamp:
                  type: number
            completed_onboarding:
              type: object
              required:
                - status
                - timestamp
              properties:
                status:
                  type: boolean
                timestamp:
                  type: number
            account_created:
              type: object
              required:
                - status
                - timestamp
              properties:
                status:
                  type: boolean
                timestamp:
                  type: number
            account_blocked:
              type: object
              required:
                - status
                - timestamp
              properties:
                status:
                  type: boolean
                timestamp:
                  type: number
            account_archived:
              type: object
              required:
                - status
                - timestamp
              properties:
                status:
                  type: boolean
                timestamp:
                  type: number
            license_assigned:
              type: object
              required:
                - status
                - timestamp
              properties:
                status:
                  type: boolean
                timestamp:
                  type: number
      required:
        - site
        - department
        - title
        - links
        - milestones
  securitySchemes:
    Bearer Token:
      type: http
      scheme: bearer
security:
  - Bearer Token: []
