{
  "openapi": "3.0.0",
  "info": {
    "title": "Users",
    "version": "1.2",
    "description": "The Users API provides endpoints for user account management, including:\n* Creating and managing user accounts, permission groups, and departments\n* Updating user photos\n* Assigning user roles & permissions\n* Tracking and auditing platform access\n* Allocating and managing user licensing\n* Maintaining personal platform preferences\n\n## Creating Users\nUser accounts are defined as one of the three types in the table below. Each of these  \n\n### User Types & Licensing\nThese types of users are listed in the table below.\n\n| User Type | Description | Typical Roles | Licensed User |\n| - | - | - | - |\n| `seat` | A licensed system user account with access to the Counterbalance Console | Building Engineer, Property Manager, Facilities Director, Energy Engineer | Yes |\n| `user` | A licensed end-user account with access to the Counterbalance Portal | Building Tenant, Space Occupant | Yes |\n| `record_user` | A _\"placeholder\"_ user account for a user that is tracked via Counterbalance but does not hold a license and cannot actively interact with the platform | *n/a* | No |\n\n## Managing Users\n",
    "termsOfService": "https://www.counterbalance.io/legal/api-terms",
    "contact": {
      "name": "Taylor Vick",
      "email": "support@counterbalance.io"
    }
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/user": {
      "get": {
        "summary": "List User Accounts",
        "tags": [
          "User Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number",
                      "description": "The number of account objects returned"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "description": "An array of user account objects",
                      "items": {
                        "$ref": "#/components/schemas/User-Account"
                      }
                    }
                  },
                  "required": [
                    "count",
                    "data"
                  ]
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 1,
                      "data": [
                        {
                          "id": "5391c363-70f0-46bb-abd2-4eecd1574201",
                          "license": "record_user",
                          "flags": {
                            "active": true,
                            "blocked": false,
                            "licensed": false,
                            "archived": false,
                            "deleted": false
                          },
                          "picture": "https://api.counterbalance.io/v1/user/5391c363-70f0-46bb-abd2-4eecd1574201/photo",
                          "name": {
                            "given": "Diego",
                            "preferred": "",
                            "middle": "",
                            "family": "Siciliano",
                            "prefix": null,
                            "suffix": null,
                            "full": "Diego Siciliano",
                            "display": "Diego Siciliano",
                            "short": ""
                          },
                          "email": "diegos@peterbalance.com",
                          "site": null,
                          "department": null,
                          "manager": null,
                          "room": null,
                          "mail_stop": null,
                          "title": "",
                          "employee_id": "",
                          "org_guid": "",
                          "links": []
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-user-list",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Retrieve a list of user accounts available to the authenticated user\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:list`\n* Licensed Feature: `user_base`\n\n### Variations\nIf the `status` query paramter is not included with the request, only active user accounts are returned. \n\nQuery paramters are stacked. That is, if you specify a specific site and department, then only users that match BOTH of these parameters will be returned.\n\n### Returned User Scope\nThis is a scoped endpoint and the data returned may not be a complete, conclusive listing of all resources in the tenant account.\n\nUsers with `*` & `user:*` permission scopes will always have access to the complete resource data set in the tenant.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived",
                "deleted",
                "all"
              ]
            },
            "in": "query",
            "name": "status",
            "description": ""
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "site",
            "description": "Return only the users assigned to the specified site ID"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "department",
            "description": "Return only the users assigned to the specified department ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "auth_only",
            "description": "Return only the users with active auth accounts"
          }
        ]
      },
      "post": {
        "summary": "Create New User",
        "operationId": "create-user",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Account"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "id": "73f180ba-caa3-4e49-a68c-f643b5e7bf79",
                      "license": "record_user",
                      "flags": {
                        "active": true,
                        "blocked": false,
                        "licensed": false,
                        "archived": false,
                        "deleted": false
                      },
                      "picture": "https://api.counterbalance.io/v1/user/73f180ba-caa3-4e49-a68c-f643b5e7bf79/photo",
                      "auth": null,
                      "name": {
                        "given": "Megan",
                        "preferred": "",
                        "middle": "",
                        "family": "Bowen",
                        "prefix": null,
                        "suffix": null,
                        "full": "Megan Bowen",
                        "display": "Megan Bowen",
                        "short": ""
                      },
                      "email": "meganb@peterbalance.com",
                      "site": null,
                      "department": null,
                      "manager": null,
                      "room": null,
                      "mail_stop": null,
                      "title": "",
                      "links": [],
                      "milestones": {
                        "accepted_terms": {
                          "status": false,
                          "timestamp": 0
                        },
                        "completed_onboarding": {
                          "status": false,
                          "timestamp": 0
                        },
                        "account_created": {
                          "status": true,
                          "timestamp": 1604882067
                        },
                        "account_blocked": {
                          "status": false,
                          "timestamp": 0
                        },
                        "account_archived": {
                          "status": false,
                          "timestamp": 0
                        },
                        "license_assigned": {
                          "status": false,
                          "timestamp": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid User Type": {
                    "value": {
                      "error": {
                        "message": "Invalid user type",
                        "console": "foo is not a valid user type",
                        "code": 400
                      },
                      "logging_hash": "7420265096f60cd5015ab814f670ef15bbaeb61a"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "### Synopsis\nCreate a new user and optionally assign a license and password\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:create`\n* Licensed Feature: `user_base`\n* If adding a license, adequate quota of the requested type\n\n### Defining the User Type\nThe field `type` may be one of either: \n\n* `record_user` _(non-licensed user)_\n* `seat` _(licensed system user)_ \n* `user` _(licensed end user)_\n\nIf type is defined as either `seat` or `user`, the new user will be sent a notification email informing them of their new account. _As of February 2021, there is a pending request to disable this feature via query paramater_\n\nIf the `type` field is omitted, the user will default to `record_user`\n\n### Setting the User Password\nThe `password` field is required when the user type specified is either `seat` or `user`. In all other cases, it is ignored.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "given_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 90,
                    "description": "The user's first name"
                  },
                  "family_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 90,
                    "description": "The user's last name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "record_user",
                      "seat",
                      "user"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Required for \"seat\" and \"user\" types"
                  }
                },
                "required": [
                  "given_name",
                  "family_name",
                  "email",
                  "type"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "given_name": "Megan",
                    "family_name": "Bowen",
                    "email": "meganb@peterbalance.com",
                    "type": "record_user",
                    "title": ""
                  }
                },
                "Example w/ Password": {
                  "value": {
                    "given_name": "Megan",
                    "family_name": "Bowen",
                    "email": "meganb@peterbalance.com",
                    "type": "seat",
                    "title": "",
                    "password": "Se@ttle1!"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "User Accounts"
        ]
      },
      "parameters": []
    },
    "/v1/user/{userId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "A valid user account UUID _unless indicated otherwise_"
        }
      ],
      "get": {
        "summary": "Get User Account",
        "tags": [
          "User Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Account"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "id": "ce48daca-f044-48e6-ad20-0c6e53db12da",
                      "license": "seat",
                      "flags": {
                        "active": true,
                        "blocked": false,
                        "licensed": true,
                        "archived": false,
                        "deleted": false
                      },
                      "picture": "https://api.counterbalance.io/v1/user/ce48daca-f044-48e6-ad20-0c6e53db12da/photo",
                      "auth": {
                        "email_verified": true,
                        "last_login": 1604815512,
                        "last_password_reset": 0,
                        "last_ip": "67.168.168.228",
                        "total_logins": 78,
                        "is_blocked": false
                      },
                      "name": {
                        "given": "Alex",
                        "preferred": "",
                        "middle": "",
                        "family": "Wilbur",
                        "prefix": null,
                        "suffix": null,
                        "full": "Alex Wilbur",
                        "display": "Alex Wilbur",
                        "short": ""
                      },
                      "email": "alexw@peterbalance.com",
                      "site": null,
                      "department": "1f3da4db-3364-4f58-b8bd-4fee1398a6e1",
                      "manager": null,
                      "room": null,
                      "mail_stop": null,
                      "title": "",
                      "links": [
                        {
                          "context": "Counterbalance ID",
                          "id": "auth0|5e93ab33f346950c46b694d5"
                        },
                        {
                          "context": "Microsoft 365",
                          "id": "201e0cc6-9b88-4908-a69e-60e88b4d9ff7"
                        }
                      ],
                      "milestones": {
                        "accepted_terms": {
                          "status": true,
                          "timestamp": 1586735922
                        },
                        "completed_onboarding": {
                          "status": false,
                          "timestamp": 0
                        },
                        "account_created": {
                          "status": true,
                          "timestamp": 1586735922
                        },
                        "account_blocked": {
                          "status": false,
                          "timestamp": 0
                        },
                        "account_archived": {
                          "status": false,
                          "timestamp": 0
                        },
                        "license_assigned": {
                          "status": true,
                          "timestamp": 1586735923
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "User Not Found": {
                    "value": {
                      "error": {
                        "message": "User not found",
                        "console": "A user with ID 54d71164-9ea1-4a58-a232-930df7418c4c could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": "daa4ceb0a1d0434987e2e536318f4140ad537560"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-user-profile",
        "parameters": [],
        "description": "### Synopsis\nRetrieve the specified user account\n\n<!-- theme: success -->\n> _This endpoint accepts `self` in place of a UUID_\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n#### When using a UUID:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:read`\n* Licensed Feature: `user_base`\n\n#### When using _self_:\n* Permissions _(at least one):_ `*`,`user:*`,`user:self:*`,`user:self:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update User Account",
        "operationId": "update-user-profile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Account"
                }
              }
            }
          },
          "404": {
            "description": "User Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "User Not Found": {
                    "value": {
                      "error": {
                        "message": "User not found",
                        "console": "A user with ID 54d71164-9ea1-4a58-a232-930df7418c4c could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": "daa4ceb0a1d0434987e2e536318f4140ad537560"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "### Synopsis\nUpdate the specified user account\n\n<!-- theme: success -->\n> _**Note:** This endpoint accepts `self` in place of a UUID_\n\nSome body fields are marked as _**required**._ This indicates that if they are included in the body of a request, they cannot be empty strings or null values.\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\nWhen using a UUID:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:update`\n* Licensed Feature: `user_base`\n\nWhen using self:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:self:*`,`user:self:update`\n\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "given_name": {
                    "type": "string",
                    "description": "The user's first name"
                  },
                  "middle_name": {
                    "type": "string",
                    "description": "The user's middle name"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "The user's last name"
                  },
                  "preferred_given_name": {
                    "type": "string",
                    "description": "The user's preferred first name"
                  },
                  "title": {
                    "type": "string",
                    "description": "The user's job title",
                    "maxLength": 90
                  },
                  "employee_id": {
                    "type": "string",
                    "description": "The user's employee ID"
                  },
                  "user_org_guid": {
                    "type": "string",
                    "description": "The user's alternate GUID"
                  },
                  "room": {
                    "type": "string",
                    "description": "The user's office or room number"
                  },
                  "mail_stop": {
                    "type": "string",
                    "description": "The user's mail stop"
                  },
                  "site": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "The user's assigned site"
                  },
                  "manager": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "The user's manager"
                  }
                },
                "required": [
                  "given_name",
                  "family_name"
                ]
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "User Accounts"
        ]
      },
      "delete": {
        "summary": "Delete User Account",
        "operationId": "delete-user-account",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "User Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "User Not Found": {
                    "value": {
                      "error": {
                        "message": "User not found",
                        "console": "A user with ID 54d71164-9ea1-4a58-a232-930df7418c4c could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": "daa4ceb0a1d0434987e2e536318f4140ad537560"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "### Synopsis\nMark the specified user account for deletion\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:delete`\n\n### Account Retention & Restoration\n\nWhen deleted, an account is merely marked for deletion and any associated auth account is blocked. The user can be restored for up to 30 days after it is deleted using the Restore User Account endpoint. \n\n### Permanently Delete a User\n\nTo permanently delete a user account, pass the `permanent` query parameter and set it to true. The account will be immediately and permanently removed from the system and cannot be restored. ",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "User Accounts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "permanent",
            "description": "If true, the user will be permanently deleted and cannot be restored"
          }
        ]
      }
    },
    "/v1/user/{userId}/license": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "A valid user account UUID"
        }
      ],
      "put": {
        "summary": "Assign User Licensing",
        "operationId": "assign-user-licensing",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Account"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "id": "ce48daca-f044-48e6-ad20-0c6e53db12da",
                      "license": "seat",
                      "flags": {
                        "active": true,
                        "blocked": false,
                        "licensed": true,
                        "archived": false,
                        "deleted": false
                      },
                      "picture": "https://api.counterbalance.io/v1/user/ce48daca-f044-48e6-ad20-0c6e53db12da/photo",
                      "auth": {
                        "email_verified": true,
                        "last_login": 1604815512,
                        "last_password_reset": 0,
                        "last_ip": "67.168.168.228",
                        "total_logins": 78,
                        "is_blocked": false
                      },
                      "name": {
                        "given": "Alex",
                        "preferred": "",
                        "middle": "",
                        "family": "Wilbur",
                        "prefix": null,
                        "suffix": null,
                        "full": "Alex Wilbur",
                        "display": "Alex Wilbur",
                        "short": ""
                      },
                      "email": "alexw@peterbalance.com",
                      "site": null,
                      "department": "1f3da4db-3364-4f58-b8bd-4fee1398a6e1",
                      "manager": null,
                      "room": null,
                      "mail_stop": null,
                      "title": "",
                      "links": [
                        {
                          "context": "Counterbalance ID",
                          "id": "auth0|5e93ab33f346950c46b694d5"
                        },
                        {
                          "context": "Microsoft 365",
                          "id": "201e0cc6-9b88-4908-a69e-60e88b4d9ff7"
                        }
                      ],
                      "milestones": {
                        "accepted_terms": {
                          "status": true,
                          "timestamp": 1586735922
                        },
                        "completed_onboarding": {
                          "status": false,
                          "timestamp": 0
                        },
                        "account_created": {
                          "status": true,
                          "timestamp": 1586735922
                        },
                        "account_blocked": {
                          "status": false,
                          "timestamp": 0
                        },
                        "account_archived": {
                          "status": false,
                          "timestamp": 0
                        },
                        "license_assigned": {
                          "status": true,
                          "timestamp": 1586735923
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "License Already Activated": {
                    "value": {
                      "error": {
                        "message": "License already activated",
                        "console": "Adele Vance is already assigned a record_user license and it cannot be assigned again",
                        "code": 400
                      },
                      "logging_hash": "212b317605514926303d36e9a341ef7ea46d0c08"
                    }
                  },
                  "Inactive User Account": {
                    "value": {
                      "error": {
                        "message": "Inactive user account",
                        "console": "Adele Vance is not an active user and cannot be assigned a license",
                        "code": 400
                      },
                      "logging_hash": "212b317605514926303d36e9a341ef7ea46d0c08"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "User Not Found": {
                    "value": {
                      "error": {
                        "message": "User not found",
                        "console": "A user with ID 131acd64-f270-4718-80df-1821475d80ac could not be found in the database",
                        "code": 400
                      },
                      "logging_hash": "212b317605514926303d36e9a341ef7ea46d0c08"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "### Synopsis\nSet the license type for the spcified user\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`tenant:*`,`tenant:licensing:*`,`tenant:licensing:assign`\n* Licensed Feature: `user_base`\n* Adequate quota of the requested type\n\n### Setting the License Type\nThe field `type` may be one of either: \n\n* `record_user` _(non-licensed user)_\n* `seat` _(licensed system user)_ \n* `user` _(licensed end user)_\n\n<!-- theme: danger -->\n> _**Heads Up** Downgrading a user to the `record_user` license will block the user's CounterbalanceID account_\n\n### Setting the User Password\nThe body field `password` is required when the user type specified is either `seat` or `user`. In all other cases, it is ignored.\n\n### Notifying the User\nComing soon...\n",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of license to assign the user",
                    "enum": [
                      "record_user",
                      "user",
                      "seat"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Required for \"seat\" and \"user\" types"
                  }
                },
                "required": [
                  "type"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "type": "seat",
                    "password": "Se@ttle1!"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "User Licensing"
        ]
      }
    },
    "/v1/user/self/preferences": {
      "parameters": [],
      "get": {
        "summary": "Get User Preferences",
        "tags": [
          "User Preferences"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Preferences"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "shell": {
                        "theme": "#161d1b",
                        "nav": {
                          "collapsed": true,
                          "disabled_applications": []
                        },
                        "pagination": {
                          "enabled": false,
                          "default_limit": 10
                        },
                        "disabled_applications": []
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-user-preferences",
        "description": "### Synopsis\nGet the preferences for the currently authenticated user\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* Permissions _(at least one):_ `*`,`user:*`,`user:self:*`,`user:self:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update User Preferences",
        "operationId": "update-user-preferences",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "### Synopsis\nUpdate the preferences for the currently authenticated user\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`console:view`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "tags": [
          "User Preferences"
        ]
      }
    },
    "/v1/user/{userId}/photo": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "A valid user account UUID"
        }
      ],
      "get": {
        "summary": "Get User Photo",
        "tags": [
          "User Photo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "null"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-user-photo",
        "description": "### Synopsis\nGet the specified user's photo in PNG format\n\n<!--theme: warning-->\n> _**Heads Up** This is a public endpoint and does not require authentication_\n\n### Prerequisites\n_None_\n\n### Usage Examples\n\nThis endpoint can be used as the `src` attribute of an HTML `img` tag.\n```html\n<img src=\"https://api.counterbalance.io/v1/user/{userId}/photo\">\n```",
        "parameters": []
      },
      "post": {
        "summary": "Upload a Custom Photo",
        "operationId": "post-v1-user-userId-photo",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Upload a custom photo for the specified user\n\n**Prerequisites** \n\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:update`\n* Licensed Feature: `user_base`\n\n**Photo Requirements**\n\nThe uploaded photo must meet the following criteria:\n\n* `jpeg` or `png` format\n* Square, equal dimensions\n* Greater than 250px but less than 1000px \n",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "null"
              }
            }
          },
          "description": "POST a JPEG or PNG fle as binary data"
        },
        "tags": [
          "User Photo"
        ]
      }
    },
    "/v1/user/{userId}/roles": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "userId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get User's Assigned Roles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Assigned-Roles"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "roles": [
                        "rol_ef4g..."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-user-roles",
        "description": "### Synopsis\nRetrieve a list of roles assigned to a user\n\n<!-- theme: success -->\n> _This endpoint accepts `self` in place of a UUID_\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n#### When using a UUID:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:roles:*`,`user:roles:read`\n* Licensed Feature: `user_base`\n\n#### When using _self_:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:self:*`,`user:self:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": []
      },
      "put": {
        "summary": "Assign User Roles",
        "operationId": "assign-user-roles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Assigned-Roles"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 3,
                      "data": [
                        {
                          "id": "rol_9t7sUEmXhoXG0JIn",
                          "name": "Automation Technician",
                          "description": "Permissions suitable for a user in a technical automation service role",
                          "tags": [
                            "functional"
                          ],
                          "system_only": false
                        },
                        {
                          "id": "rol_BjYA2HwGRnfaFhuV",
                          "name": "Base Permissions",
                          "description": "System-assigned role that provides the minimum permissions required to access the console",
                          "tags": [
                            "system"
                          ],
                          "system_only": true
                        },
                        {
                          "id": "rol_t0duC3p8gZbzhZ5a",
                          "name": "Energy Manager",
                          "description": "Permissions suitable for a user in an energy management/environmental responsibility role",
                          "tags": [
                            "functional"
                          ],
                          "system_only": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Role ID": {
                    "value": {
                      "error": {
                        "message": "Invalid role ID",
                        "console": "One or more of the role IDs are not assignable to this user",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  },
                  "Invalid License Type": {
                    "value": {
                      "error": {
                        "message": "Invalid license type",
                        "console": "The user is not assigned a license that allows role assignment",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "An array of role IDs to add",
                "items": {}
              },
              "examples": {
                "Example": {
                  "value": [
                    "rol_9t7sUEmXhoXG0JIn"
                  ]
                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type"
          }
        ],
        "description": "### Synopsis\nAssign one or more roles to a user\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:roles:*`,`user:roles:update`",
        "tags": [
          "Roles"
        ]
      },
      "delete": {
        "summary": "Remove User Roles",
        "operationId": "remove-user-roles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Assigned-Roles"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 3,
                      "data": [
                        {
                          "id": "rol_BjYA2HwGRnfaFhuV",
                          "name": "Base Permissions",
                          "description": "System-assigned role that provides the minimum permissions required to access the console",
                          "tags": [
                            "system"
                          ],
                          "system_only": true
                        },
                        {
                          "id": "rol_t0duC3p8gZbzhZ5a",
                          "name": "Energy Manager",
                          "description": "Permissions suitable for a user in an energy management/environmental responsibility role",
                          "tags": [
                            "functional"
                          ],
                          "system_only": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "### Synopsis\nRemove one or more roles from a user\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:roles:*`,`user:roles:remove`",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Roles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {}
              },
              "examples": {
                "Example": {
                  "value": [
                    "rol_9t7sUEmXhoXG0JIn"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type"
          }
        ]
      }
    },
    "/v1/user/{userId}/password": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "A valid user account UUID _unless indicated otherwise_"
        }
      ],
      "put": {
        "summary": "Reset User Password",
        "operationId": "reset-user-password",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Auth Account": {
                    "value": {
                      "error": {
                        "message": "No authentication account",
                        "console": "Adele Vance does not have an authentication account",
                        "code": 400
                      },
                      "logging_hash": "..."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "User Not Found": {
                    "value": {
                      "error": {
                        "message": "User not found",
                        "console": "A user with ID ee876c8d-f404-4e13-84b6-ee22ec304322 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": "..."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "The user's new password",
                    "format": "password"
                  }
                },
                "required": [
                  "password"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "password": "Se@ttle1!"
                  }
                }
              }
            }
          }
        },
        "description": "### Synopsis\nReset the password for the specified user\n\n<!-- theme: success -->\n> _This endpoint accepts `self` in place of a UUID_\n\nThe target user will be notified via email that their password has changed. The new password will not be included in the email.\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n#### When using a UUID:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:account:update`\n\n#### When using _self_:\n* Permissions _(at least one):_ `*`,`user:*`,`user:self:*`,`user:self:password`\n\n### Password Strength\nPassword strength is an important consideration when setting passwords for your users. Counterbalance enforces a strong password policy that has the following requirements:\n\n* Must be at least 8-characters in length\n* Lower case (a-z), upper case (A-Z) and numbers (0-9)\n* Special characters (!@#$%^&*)\n* No more than 2 identical characters in a row\n\nNIST recommends a minimum character length of 8, and suggests that length is a better indicator of strength than complexity.\n\n<!-- theme: warning -->\n> ##### ⚠️ Heads Up\n> \n> _A password will be rejected if it contains common dictionary phrases or the user's first name, last name, or shortname._\n\n### Password History\n\nA new password must be different than the user's last 3 passwords. ",
        "tags": [
          "Security"
        ]
      }
    },
    "/v1/user/{userId}/permissions": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "A valid user account UUID"
        }
      ],
      "get": {
        "summary": "Get User Permissions",
        "tags": [
          "Permissions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-Permissions"
                },
                "examples": {
                  "Example": {
                    "value": [
                      "billing:account:view",
                      "sites:*",
                      "tenant:*",
                      "user:account:*"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-user-permissions",
        "description": "### Synopsis\nRetrieve the permissions associated with the specified user\n\n<!-- theme: success -->\n> _**Note:** This endpoint accepts `self` in place of a UUID_\n\n_**February 2021: ** Retrieving users via UUID is not yet supported._\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n#### When using a UUID _(not yet supported)_:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:account:*`,`user:permissions:*`,`user:account:read`,`user:permissions:read`\n\n#### When using self:\n* An active tenant account\n* Permissions _(at least one):_ `*`,`user:*`,`user:self:*`,`user:self:read`",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/department": {
      "get": {
        "summary": "List Departments",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-departments",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create New Department",
        "operationId": "create-department",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "tags": [
          "Departments"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "parameters": []
    },
    "/v1/department/{departmentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "departmentId",
          "in": "path",
          "required": true,
          "description": "A valid department UUID"
        }
      ],
      "get": {
        "summary": "Get Department",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-department",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "patch": {
        "summary": "Update Department",
        "operationId": "update-department",
        "tags": [
          "Departments"
        ],
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete Department",
        "operationId": "delete-department",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "tags": [
          "Departments"
        ],
        "parameters": [],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v1/user/group": {
      "get": {
        "summary": "List User Groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-user-group",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create User Group",
        "operationId": "create-user-group",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "Groups"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "<!-- theme: info -->\n> _Coming soon_"
      }
    },
    "/v1/user/group/{groupId}": {
      "get": {
        "summary": "Get User Group",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-user-group",
        "description": "<!-- theme: info -->\n> _Coming soon_",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      },
      "post": {
        "summary": "Create User Group",
        "operationId": "create-user-group",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "Groups"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "<!-- theme: info -->\n> _Coming soon_"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "groupId",
          "in": "path",
          "required": true,
          "description": "A valid group UUID"
        }
      ]
    },
    "/v1/user/{userId}/block": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "userId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Block User Account",
        "operationId": "block-user",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "### Synopsis\nBlock the specified user and prevent them from logging in\n\n<!-- theme: info -->\n> _Coming soon_",
        "tags": [
          "Security"
        ]
      },
      "delete": {
        "summary": "Unblock User Account",
        "operationId": "unblock-user",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "### Synopsis\nUnblock the specified user account and allow them to login\n\n<!-- theme: info -->\n> _Coming soon_",
        "tags": [
          "Security"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User-Account": {
        "description": "",
        "type": "object",
        "title": "User Account Object Model",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The user's UUID"
          },
          "license": {
            "type": "string",
            "enum": [
              "record_user",
              "user",
              "seat"
            ],
            "description": "The assigned license class"
          },
          "flags": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "blocked": {
                "type": "boolean"
              },
              "licensed": {
                "type": "boolean"
              },
              "archived": {
                "type": "boolean"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          },
          "picture": {
            "type": "string",
            "minLength": 1,
            "description": "The URL for the user's avatar photo"
          },
          "auth": {},
          "name": {
            "type": "object",
            "properties": {
              "given": {
                "type": "string",
                "maxLength": 90
              },
              "preferred": {
                "type": "string",
                "maxLength": 90
              },
              "middle": {
                "type": "string",
                "maxLength": 90
              },
              "family": {
                "type": "string",
                "maxLength": 90
              },
              "prefix": {},
              "suffix": {},
              "full": {
                "type": "string",
                "minLength": 1
              },
              "display": {
                "type": "string",
                "minLength": 1
              },
              "short": {
                "type": "string"
              }
            },
            "required": [
              "full",
              "display",
              "short"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 120,
            "description": "The user's email address"
          },
          "site": {
            "type": "string",
            "minLength": 1
          },
          "department": {
            "type": "string",
            "minLength": 1
          },
          "manager": {
            "type": "string",
            "format": "uuid",
            "default": "null"
          },
          "room": {},
          "mail_stop": {},
          "title": {
            "type": "string",
            "minLength": 1
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "context": {
                  "type": "string",
                  "enum": [
                    "Counterbalance ID",
                    "Microsoft 365"
                  ]
                }
              }
            }
          },
          "milestones": {
            "type": "object",
            "required": [
              "accepted_terms",
              "completed_onboarding",
              "account_created",
              "account_blocked",
              "account_archived",
              "license_assigned"
            ],
            "properties": {
              "accepted_terms": {
                "type": "object",
                "required": [
                  "status",
                  "timestamp"
                ],
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                }
              },
              "completed_onboarding": {
                "type": "object",
                "required": [
                  "status",
                  "timestamp"
                ],
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                }
              },
              "account_created": {
                "type": "object",
                "required": [
                  "status",
                  "timestamp"
                ],
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                }
              },
              "account_blocked": {
                "type": "object",
                "required": [
                  "status",
                  "timestamp"
                ],
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                }
              },
              "account_archived": {
                "type": "object",
                "required": [
                  "status",
                  "timestamp"
                ],
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                }
              },
              "license_assigned": {
                "type": "object",
                "required": [
                  "status",
                  "timestamp"
                ],
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "required": [
          "site",
          "department",
          "title",
          "links",
          "milestones"
        ],
        "x-examples": {
          "Licensed User Example": {
            "id": "ce48daca-f044-48e6-ad20-0c6e53db12da",
            "license": "seat",
            "flags": {
              "active": true,
              "blocked": false,
              "licensed": true,
              "archived": false,
              "deleted": false
            },
            "picture": "https://api.counterbalance.io/v1/user/ce48daca-f044-48e6-ad20-0c6e53db12da/photo",
            "auth": {
              "email_verified": true,
              "last_login": 1604815512,
              "last_password_reset": 0,
              "last_ip": "67.168.168.228",
              "total_logins": 78,
              "is_blocked": false
            },
            "name": {
              "given": "Alex",
              "preferred": "",
              "middle": "",
              "family": "Wilbur",
              "prefix": null,
              "suffix": null,
              "full": "Alex Wilbur",
              "display": "Alex Wilbur",
              "short": ""
            },
            "email": "alexw@peterbalance.com",
            "site": null,
            "department": "1f3da4db-3364-4f58-b8bd-4fee1398a6e1",
            "manager": null,
            "room": null,
            "mail_stop": null,
            "title": "",
            "links": [
              {
                "context": "Counterbalance ID",
                "id": "auth0|5e93ab33f346950c46b694d5"
              },
              {
                "context": "Microsoft 365",
                "id": "201e0cc6-9b88-4908-a69e-60e88b4d9ff7"
              }
            ],
            "milestones": {
              "accepted_terms": {
                "status": true,
                "timestamp": 1586735922
              },
              "completed_onboarding": {
                "status": false,
                "timestamp": 0
              },
              "account_created": {
                "status": true,
                "timestamp": 1586735922
              },
              "account_blocked": {
                "status": false,
                "timestamp": 0
              },
              "account_archived": {
                "status": false,
                "timestamp": 0
              },
              "license_assigned": {
                "status": true,
                "timestamp": 1586735923
              }
            }
          },
          "Unlicensed User Example": {
            "id": "73f180ba-caa3-4e49-a68c-f643b5e7bf79",
            "license": "record_user",
            "flags": {
              "active": true,
              "blocked": false,
              "licensed": false,
              "archived": false,
              "deleted": false
            },
            "picture": "https://api.counterbalance.io/v1/user/73f180ba-caa3-4e49-a68c-f643b5e7bf79/photo",
            "auth": null,
            "name": {
              "given": "Megan",
              "preferred": "",
              "middle": "",
              "family": "Bowen",
              "prefix": null,
              "suffix": null,
              "full": "Megan Bowen",
              "display": "Megan Bowen",
              "short": ""
            },
            "email": "meganb@peterbalance.com",
            "site": null,
            "department": null,
            "manager": null,
            "room": null,
            "mail_stop": null,
            "title": "",
            "links": [],
            "milestones": {
              "accepted_terms": {
                "status": false,
                "timestamp": 0
              },
              "completed_onboarding": {
                "status": false,
                "timestamp": 0
              },
              "account_created": {
                "status": true,
                "timestamp": 1604882067
              },
              "account_blocked": {
                "status": false,
                "timestamp": 0
              },
              "account_archived": {
                "status": false,
                "timestamp": 0
              },
              "license_assigned": {
                "status": false,
                "timestamp": 0
              }
            }
          }
        },
        "x-tags": [
          "Object Models"
        ]
      },
      "User-Preferences": {
        "description": "",
        "type": "object",
        "properties": {
          "shell": {
            "type": "object",
            "required": [
              "theme",
              "nav",
              "pagination",
              "disabled_applications"
            ],
            "properties": {
              "theme": {
                "type": "string",
                "minLength": 1
              },
              "nav": {
                "type": "object",
                "required": [
                  "collapsed"
                ],
                "properties": {
                  "collapsed": {
                    "type": "boolean"
                  },
                  "disabled_applications": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "pagination": {
                "type": "object",
                "required": [
                  "enabled",
                  "default_limit"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "default_limit": {
                    "type": "number"
                  }
                }
              },
              "disabled_applications": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "required": [
          "shell"
        ],
        "title": "User Preferences Object Model",
        "x-examples": {
          "Example": {
            "shell": {
              "theme": "string",
              "nav": {
                "collapsed": true,
                "disabled_applications": [
                  "string"
                ]
              },
              "pagination": {
                "enabled": true,
                "default_limit": 0
              },
              "disabled_applications": [
                {}
              ]
            }
          }
        },
        "x-tags": [
          "Object Models"
        ]
      },
      "User-Permissions": {
        "title": "User Account Permissions Object Model",
        "type": "array",
        "description": "An array of user account permission strings",
        "x-examples": {
          "Example": [
            "billing:account:view",
            "console:view",
            "hardware:device:read",
            "sites:*",
            "tenant:*",
            "user:account:*"
          ]
        },
        "items": {
          "type": "string"
        },
        "x-tags": [
          "Object Models"
        ]
      },
      "User-Assigned-Roles": {
        "description": "",
        "type": "object",
        "properties": {
          "count": {
            "type": "number",
            "description": "The number of roles assigned"
          },
          "data": {
            "$ref": "#/components/schemas/User-Roles-Item-Details"
          }
        },
        "required": [
          "count",
          "data"
        ],
        "title": "User Assigned Roles",
        "x-examples": {
          "Example": {
            "count": 2,
            "data": [
              {
                "id": "rol_BjYA2HwGRnfaFhuV",
                "name": "Base Permissions",
                "description": "System-assigned role that provides the minimum permissions required to access the console",
                "tags": [
                  "system"
                ],
                "system_only": true
              },
              {
                "id": "rol_t0duC3p8gZbzhZ5a",
                "name": "Energy Manager",
                "description": "Permissions suitable for a user in an energy management/environmental responsibility role",
                "tags": [
                  "functional"
                ],
                "system_only": false
              }
            ]
          }
        }
      },
      "User-Roles-Manifest": {
        "title": "User Roles Manifest",
        "type": "object",
        "description": "",
        "properties": {
          "rev": {
            "type": "string",
            "description": "The release version of the manifest"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User-Roles-Manifest-Item"
            }
          }
        },
        "required": [
          "rev",
          "roles"
        ]
      },
      "User-Roles-Item-Details": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "system_only": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "tags",
          "system_only"
        ],
        "title": "User Roles Item Details",
        "x-examples": {
          "Example": {
            "id": "rol_BjYA2HwGRnfaFhuV",
            "name": "Base Permissions",
            "description": "System-assigned role that provides the minimum permissions required to access the console",
            "tags": [
              "system"
            ],
            "system_only": true
          }
        }
      },
      "Group-Object": {
        "title": "Group Object",
        "type": "object",
        "description": "",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The group object UUID",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "description": "The timestamp the group object was created",
            "format": "date-time",
            "readOnly": true
          },
          "last_modified": {
            "type": "string",
            "description": "The timestamp the group object was last modified",
            "format": "date-time",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "maxLength": 120,
            "description": "The name of the group object"
          },
          "description": {
            "type": "string",
            "maxLength": 300,
            "description": "A brief description of the group object"
          },
          "public": {
            "type": "boolean",
            "default": true,
            "description": "If `true`, the group is visible to all users. If `false`, the group is only visible to the owner and its members."
          },
          "member_count": {
            "type": "integer",
            "description": "The number of member users in the group",
            "readOnly": true
          }
        },
        "required": [
          "name"
        ],
        "x-tags": [
          "Groups"
        ]
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer",
        "description": ""
      }
    },
    "examples": {}
  },
  "tags": [
    {
      "name": "User Accounts"
    },
    {
      "name": "User Photo"
    },
    {
      "name": "User Preferences"
    },
    {
      "name": "Permissions"
    },
    {
      "name": "Roles"
    },
    {
      "name": "User Licensing"
    },
    {
      "name": "Departments"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Security"
    }
  ]
}