{
  "openapi": "3.1.0",
  "info": {
    "title": "Weather",
    "version": "1.0.0",
    "description": "## Supported Languages\n\n| Code       | Name                                     |\n|------------|------------------------------------------|\n| ar         | Arabic                                   |\n| bg-BG      | Bulgarian                                |\n| bn-BD      | Bangla (Bangladesh)                      |\n| bn-IN      | Bangla (India)                           |\n| bs-BA      | Bosnian                                  |\n| ca-ES      | Catalan                                  |\n| cs-CZ      | Czech                                    |\n| da-DK      | Danish                                   |\n| de-DE      | German                                   |\n| el-GR      | Greek                                    |\n| en-AU      | English (Australia)                      |\n| en-GB      | English (Great Britain)                  |\n| en-NZ      | English (New Zealand)                    |\n| **en-US**  | **English (USA)** *Default*              |\n| es-419     | Spanish (Latin America)                  |\n| es-ES      | Spanish (Spain)                          |\n| es-MX      | Spanish (Mexico)                         |\n| et-EE      | Estonian                                 |\n| fi-FI      | Finnish                                  |\n| fil-PH     | Filipino                                 |\n| fr-CA      | French (Canada)                          |\n| fr-FR      | French (France)                          |\n| gu-IN      | Gujarati                                 |\n| he-IL      | Hebrew                                   |\n| hi-IN      | Hindi                                    |\n| hr-HR      | Croatian                                 |\n| hu-HU      | Hungarian                                |\n| id-ID      | Indonesian                               |\n| is-IS      | Icelandic                                |\n| it-IT      | Italian                                  |\n| ja-JP      | Japanese                                 |\n| kk-KZ      | Kazakh                                   |\n| kn-IN      | Kannada                                  |\n| ko-KR      | Korean                                   |\n| lt-LT      | Lithuanian                               |\n| lv-LV      | Latvian                                  |\n| mk-MK      | Macedonian                               |\n| mr-IN      | Marathi                                  |\n| ms-MY      | Malay                                    |\n| nb-NO      | Norwegian Bokmål                         |\n| nl-BE      | Dutch (Belgium)                          |\n| nl-NL      | Dutch (Netherlands)                      |\n| pa-IN      | Punjabi                                  |\n| pl-PL      | Polish                                   |\n| pt-BR      | Portuguese (Brazil)                      |\n| pt-PT      | Portuguese (Portugal)                    |\n| ro-RO      | Romanian                                 |\n| ru-RU      | Russian                                  |\n| sk-SK      | Slovak                                   |\n| sl-SI      | Slovenian                                |\n| sr-Cyrl-RS | Serbian (Cyrillic)                       |\n| sr-Latn-RS | Serbian (Latin)                          |\n| sv-SE      | Swedish                                  |\n| ta-IN      | Tamil                                    |\n| te-IN      | Telugu                                   |\n| th-TH      | Thai                                     |\n| tr-TR      | Turkish                                  |\n| uk-UA      | Ukrainian                                |\n| ur-PK      | Urdu                                     |\n| uz-Latn-UZ | Uzbek                                    |\n| vi-VN      | Vietnamese                               |\n| zh-HanS-CN | Chinese (Simplified, China)              |\n| zh-HanT-HK | Chinese (Traditional, Hong Kong SAR)     |\n| zh-HanT-TW | Chinese (Traditional, Taiwan)            |"
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/weather/forecast": {
      "get": {
        "summary": "Get Forecast",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Daily-Forecast"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Too Many Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID, but not both",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  },
                  "Not Enough Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Duration": {
                    "value": {
                      "error": {
                        "message": "9 is not a valid duration",
                        "console": "Invalid duration value. Allowed value(s): 1, 5, 10, or 15",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-weather-forecast",
        "description": "Retrieve a detailed daily weather forecast\n\n **Required Permissions:** `*`,`wx:*`,`wx:forecast:*`,`wx:forecast:read` \n\n ### Specifying the Location\nWeather forecasts can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Units\nBy default, data is returned in Imperial units. To return data in Metric units, pass the `metric` query parameter and set it to _true_. \n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/metric"
          },
          {
            "schema": {
              "type": "integer",
              "default": 5,
              "enum": [
                1,
                5,
                10,
                15
              ]
            },
            "in": "query",
            "name": "duration",
            "description": "The number of forecast outlook days to return"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Forecast"
        ]
      },
      "parameters": []
    },
    "/v1/weather/current": {
      "get": {
        "summary": "Get Current Weather Conditions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-Current-Conditions"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-current-conditions",
        "description": "Retrieve detailed current weather conditions\n\n**Required Permissions:** `*`,`wx:*`,`wx:conditions:*`,`wx:conditions:read`\n\n### Specifying the Location\nWeather conditions can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Units\nBy default, data is returned in Imperial units. To return data in Metric units, pass the `metric` query parameter and set it to _true_. \n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/metric"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Current Conditions"
        ]
      },
      "parameters": []
    },
    "/v1/weather/alerts": {
      "get": {
        "summary": "Get Alerts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Weather-Alerts"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 1,
                      "effective_coordinates": {
                        "latitude": 47.8877148,
                        "longitude": -124.6237354
                      },
                      "data": [
                        {
                          "id": 2203972,
                          "category": "FLOOD",
                          "description": "High Surf Advisory",
                          "source": "U.S. National Weather Service",
                          "areas": [
                            {
                              "name": "North Coast",
                              "summary": "High Surf Advisory in effect from 10:00 PM PST until Wednesday, 10:00 PM PST.  Source: U.S. National Weather Service",
                              "status": "New",
                              "span": {
                                "start": "2021-04-13T14:00:00+0000",
                                "end": "2021-04-13T14:00:00+0000"
                              },
                              "details": "...HIGH SURF ADVISORY IN EFFECT FROM 10 PM THIS EVENING TO 10 PM\nPST WEDNESDAY...\n\n* WHAT...Large breaking waves of 18 to 21 feet expected in the\n  surf zone.\n\n* WHERE...North Coast and Central Coast.\n\n* WHEN...From 10 PM this evening to 10 PM PST Wednesday.\n\n* IMPACTS...Dangerous conditions along the coast and in the surf\n  zone. Localized beach erosion may also occur due to large waves.\n\nPRECAUTIONARY/PREPAREDNESS ACTIONS...\n\nLarge waves may break and run up beaches farther than usual. Keep\nyour distance from the coastline and never turn your back on the\nocean.\n\nInexperienced swimmers should remain out of the water due to\ndangerous surf conditions.\n\n&&"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-weather-alerts",
        "description": "Retrieve current severe weather alerts and advisories\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:weather:*`,`sites:weather:alerts`\n* Licensed Feature: `weather_alerts`\n\n### Specifying the Location\nWeather alerts and advisories can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code.\n\n<!-- theme: warning-->\n> _The API supports any valid IETF language code but alert data may not be available in the specified language_",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Alerts"
        ]
      },
      "parameters": []
    },
    "/v1/weather/indices": {
      "get": {
        "summary": "Get Activity Indices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Weather-Indices"
          }
        },
        "operationId": "get-weather-indices",
        "description": "Get activity indices and recommendations based on current weather conditions\n\n**Required Permissions:** `*`,`wx:*`,`wx:conditions:*`,`wx:conditions:read`\n\n### Specifying the Location\nWeather indices can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Current Conditions"
        ]
      },
      "parameters": []
    },
    "/v1/weather/air-quality/current": {
      "get": {
        "summary": "Get Air Quality Conditions",
        "tags": [
          "Air Quality"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-airquality-current",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Get current air quality\n\n**Required Permissions:** `*`,`wx:*`,`wx:airquality:*`,`wx:airquality:read`\n\n### Specifying the Location\nAir quality data can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/@addressId"
        },
        {
          "$ref": "#/components/parameters/coordinates"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/v1/weather/air-quality/forecast": {
      "get": {
        "summary": "Get Air Quality Forecast",
        "tags": [
          "Air Quality"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Get-AQ-Forecast"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-airquality-forecast",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Get forecasted daily air quality\n\n**Required Permissions:** `*`,`wx:*`,`wx:airquality:*`,`wx:airquality:read`\n\n### Specifying the Location\nAir quality data can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both. Passing more than one will result in an error \n\n<!-- theme: info-->\n> **Please Note:**\n> If the specified address ID has not been geocoded, an error will be returned.\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "$ref": "#/components/parameters/@addressId"
          },
          {
            "$ref": "#/components/parameters/coordinates"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "schema": {
              "type": "integer",
              "default": 5,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7
              ]
            },
            "in": "query",
            "name": "duration",
            "description": "The number of forecast outlook days to return"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "47.620506,-122.349277"
          },
          "in": "query",
          "name": "coordinates",
          "description": "Get air quality for the specified lat/lon position"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "in": "query",
          "name": "@address",
          "description": "Get air quality for the specified address ID"
        },
        {
          "schema": {
            "type": "string"
          },
          "in": "query",
          "name": "language",
          "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Weather-Forecast-Object": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Example": {
            "effective_coordinates": {
              "latitude": "44.98588",
              "longitude": "-93.28069"
            },
            "units": "imperial",
            "summary": "Snow between late tonight and tomorrow morning will accumulate 1-2 inches before changing to rain",
            "forecasts": [
              {
                "date": 1606136400,
                "sources": [
                  "AccuWeather"
                ],
                "air_quality": {
                  "airquality": {
                    "value": 75,
                    "rating": "Moderate",
                    "rating_value": 2
                  },
                  "grass": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "mold": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "ragweed": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "tree": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "uvindex": {
                    "value": 2,
                    "rating": "Low",
                    "rating_value": 1
                  }
                },
                "hours_of_sun": 7,
                "temperature": {
                  "minimum": {
                    "value": 30,
                    "unit": "F"
                  },
                  "maximum": {
                    "value": 38,
                    "unit": "F"
                  }
                },
                "day": {
                  "icon": 3,
                  "phrases": {
                    "long": "Times of clouds and sun",
                    "short": "Times of clouds and sun"
                  },
                  "is_raining": false,
                  "probabilities": {
                    "precipitation": 4,
                    "thunderstorm": 0,
                    "rain": 3,
                    "snow": 1,
                    "ice": 0
                  },
                  "wind": {
                    "direction": {
                      "degrees": 122,
                      "localized": "ESE"
                    },
                    "speed": {
                      "value": 4,
                      "unit": "mi/h"
                    },
                    "gust": {
                      "value": 10,
                      "unit": "mi/h",
                      "direction": "SE"
                    }
                  },
                  "cloud_cover": 29
                },
                "night": {
                  "icon": 22,
                  "phrases": {
                    "long": "Plenty of clouds with a coating to an inch of snow late",
                    "short": "Overcast with snow late"
                  },
                  "is_raining": true,
                  "probabilities": {
                    "precipitation": 75,
                    "thunderstorm": 0,
                    "rain": 10,
                    "snow": 75,
                    "ice": 3
                  },
                  "wind": {
                    "direction": {
                      "degrees": 139,
                      "localized": "SE"
                    },
                    "speed": {
                      "value": 9,
                      "unit": "mi/h"
                    },
                    "gust": {
                      "value": 13,
                      "unit": "mi/h",
                      "direction": "SE"
                    }
                  },
                  "cloud_cover": 97
                }
              }
            ]
          }
        },
        "title": "Weather Forecast Object",
        "x-tags": [
          "Forecast"
        ],
        "properties": {
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "units": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "description": "Summary for the main conditions for the requested time period. Notice that summary can cover only part of the time period.",
            "readOnly": true
          },
          "forecasts": {
            "type": "array",
            "description": "Forecast data for each requested day.",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number",
                  "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*"
                },
                "sources": {
                  "type": "array",
                  "description": "Source(s) of the forecast data.",
                  "items": {
                    "type": "string"
                  }
                },
                "air_quality": {
                  "type": "object",
                  "properties": {
                    "airquality": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "grass": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "mold": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "ragweed": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "tree": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "uvindex": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "hours_of_sun": {
                  "type": "number",
                  "description": "Hours of sun."
                },
                "temperature": {
                  "type": "object",
                  "description": "Temperature values for the day.",
                  "properties": {
                    "minimum": {
                      "type": "object",
                      "description": "Minimum temperature for the time period.",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "unit": {
                          "type": "string"
                        }
                      }
                    },
                    "maximum": {
                      "type": "object",
                      "description": "Maximum temperature for the time period",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "unit": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "day": {
                  "type": "object",
                  "description": "Day forecast detail",
                  "properties": {
                    "icon": {
                      "type": "number",
                      "description": "Numeric value representing an image"
                    },
                    "phrases": {
                      "type": "object",
                      "properties": {
                        "short": {
                          "type": "string",
                          "description": "Phrase description of the forecast in specified language. ~30 characters"
                        },
                        "long": {
                          "type": "string",
                          "description": "Phrase description of the forecast in specified language. ~100 characters",
                          "readOnly": true
                        }
                      }
                    },
                    "is_raining": {
                      "type": "boolean",
                      "description": "Indicates the presence or absence of precipitation. True indicates the presence of precipitation, false indicates the absence of precipitation.",
                      "readOnly": true
                    },
                    "probabilities": {
                      "type": "object",
                      "properties": {
                        "precipitation": {
                          "type": "number",
                          "description": "Percent representing the probability of precipitation.",
                          "readOnly": true
                        },
                        "thunderstorm": {
                          "type": "number",
                          "readOnly": true
                        },
                        "rain": {
                          "type": "number",
                          "description": "Percent representing the probability of rain. ",
                          "readOnly": true
                        },
                        "snow": {
                          "type": "number",
                          "description": "Percent representing the probability of snow.",
                          "readOnly": true
                        },
                        "ice": {
                          "type": "number",
                          "description": "Percent representing the probability of ice.",
                          "readOnly": true
                        }
                      },
                      "readOnly": true
                    },
                    "wind": {
                      "type": "object",
                      "description": "Wind details being returned including speed and direction.",
                      "properties": {
                        "direction": {
                          "type": "object",
                          "description": "Wind direction",
                          "additionalProperties": false,
                          "properties": {
                            "degrees": {
                              "type": "number",
                              "description": "Wind direction in Azimuth degrees, starting at true North and continuing in clockwise direction. North is 0 degrees, east is 90 degrees, south is 180 degrees, west is 270 degrees. Possible values 0-359.",
                              "readOnly": true
                            },
                            "localized": {
                              "type": "string",
                              "description": "Direction abbreviation in the specified language.",
                              "readOnly": true
                            }
                          },
                          "readOnly": true
                        },
                        "speed": {
                          "type": "object",
                          "description": "Speed of the wind in specified unit.",
                          "additionalProperties": false,
                          "properties": {
                            "value": {
                              "type": "number",
                              "readOnly": true
                            },
                            "unit": {
                              "type": "string"
                            }
                          },
                          "readOnly": true
                        },
                        "gust": {
                          "type": "object",
                          "description": "Wind gust. Wind gust is a sudden, brief increase in speed of the wind.",
                          "additionalProperties": false,
                          "properties": {
                            "value": {
                              "type": "number",
                              "readOnly": true
                            },
                            "unit": {
                              "type": "string"
                            },
                            "direction": {
                              "type": "string",
                              "description": "Direction abbreviation in the specified language.",
                              "readOnly": true
                            }
                          },
                          "readOnly": true
                        }
                      },
                      "readOnly": true
                    },
                    "cloud_cover": {
                      "type": "number",
                      "description": "Percent representing cloud cover.",
                      "readOnly": true
                    }
                  }
                },
                "night": {
                  "type": "object",
                  "description": "Night forecast detail",
                  "properties": {
                    "icon": {
                      "type": "number",
                      "description": "Numeric value representing an image"
                    },
                    "phrases": {
                      "type": "object",
                      "properties": {
                        "short": {
                          "type": "string",
                          "description": "Phrase description of the forecast in specified language. ~30 characters"
                        },
                        "long": {
                          "type": "string",
                          "description": "Phrase description of the forecast in specified language. ~100 characters",
                          "readOnly": true
                        }
                      }
                    },
                    "is_raining": {
                      "type": "boolean",
                      "description": "Indicates the presence or absence of precipitation. True indicates the presence of precipitation, false indicates the absence of precipitation.",
                      "readOnly": true
                    },
                    "probabilities": {
                      "type": "object",
                      "properties": {
                        "precipitation": {
                          "type": "number",
                          "description": "Percent representing the probability of precipitation.",
                          "readOnly": true
                        },
                        "thunderstorm": {
                          "type": "number",
                          "readOnly": true
                        },
                        "rain": {
                          "type": "number",
                          "description": "Percent representing the probability of rain. ",
                          "readOnly": true
                        },
                        "snow": {
                          "type": "number",
                          "description": "Percent representing the probability of snow.",
                          "readOnly": true
                        },
                        "ice": {
                          "type": "number",
                          "description": "Percent representing the probability of ice.",
                          "readOnly": true
                        }
                      },
                      "readOnly": true
                    },
                    "wind": {
                      "type": "object",
                      "description": "Wind details being returned including speed and direction.",
                      "properties": {
                        "direction": {
                          "type": "object",
                          "description": "Wind direction",
                          "additionalProperties": false,
                          "properties": {
                            "degrees": {
                              "type": "number",
                              "description": "Wind direction in Azimuth degrees, starting at true North and continuing in clockwise direction. North is 0 degrees, east is 90 degrees, south is 180 degrees, west is 270 degrees. Possible values 0-359.",
                              "readOnly": true
                            },
                            "localized": {
                              "type": "string",
                              "description": "Direction abbreviation in the specified language.",
                              "readOnly": true
                            }
                          },
                          "readOnly": true
                        },
                        "speed": {
                          "type": "object",
                          "description": "Speed of the wind in specified unit.",
                          "additionalProperties": false,
                          "properties": {
                            "value": {
                              "type": "number",
                              "readOnly": true
                            },
                            "unit": {
                              "type": "string"
                            }
                          },
                          "readOnly": true
                        },
                        "gust": {
                          "type": "object",
                          "description": "Wind gust. Wind gust is a sudden, brief increase in speed of the wind.",
                          "additionalProperties": false,
                          "properties": {
                            "value": {
                              "type": "number",
                              "readOnly": true
                            },
                            "unit": {
                              "type": "string"
                            },
                            "direction": {
                              "type": "string",
                              "description": "Direction abbreviation in the specified language.",
                              "readOnly": true
                            }
                          },
                          "readOnly": true
                        }
                      },
                      "readOnly": true
                    },
                    "cloud_cover": {
                      "type": "number",
                      "description": "Percent representing cloud cover.",
                      "readOnly": true
                    }
                  }
                }
              },
              "readOnly": true
            },
            "readOnly": true
          }
        }
      },
      "Weather-Current-Conditions": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Example": {
            "effective_coordinates": {
              "latitude": "44.98588",
              "longitude": "-93.28069"
            },
            "units": "imperial",
            "timestamp": 1606150620,
            "phrase": "Mostly sunny",
            "icon": 2,
            "is_raining": false,
            "is_daytime": true,
            "temperature": {
              "value": 30,
              "unit": "F"
            },
            "apparent_temperature": {
              "value": 30,
              "unit": "F"
            },
            "wetbulb_temperature": {
              "value": 28,
              "unit": "F"
            },
            "windchill_temperature": {
              "value": 27,
              "unit": "F"
            },
            "relative_humidity": 71,
            "dewpoint": {
              "value": 22,
              "unit": "F"
            },
            "wind": {
              "direction": {
                "degrees": 113,
                "localized": "ESE"
              },
              "speed": {
                "value": 3,
                "unit": "mi/h"
              },
              "gust": {
                "value": 6,
                "unit": "mi/h"
              }
            },
            "visibility": {
              "value": 10,
              "unit": "mi",
              "obstructions": ""
            },
            "cloud_cover": 14,
            "ceiling": {
              "value": 40000,
              "unit": "ft"
            },
            "pressure": {
              "value": 30.37,
              "unit": "inHg",
              "direction": "Steady"
            }
          }
        },
        "title": "Weather Current Conditions Object",
        "x-tags": [
          "Current Conditions"
        ],
        "properties": {
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "units": {
            "type": "string",
            "description": "Indicates whether `metric` or `imperial` units are used"
          },
          "timestamp": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*"
          },
          "phrase": {
            "type": "string",
            "description": "Phrase description of the current weather condition. Displayed in specified language."
          },
          "icon": {
            "type": "number",
            "description": "Numeric value representing an image"
          },
          "is_raining": {
            "type": "boolean",
            "description": "Indicates the presence or absence of precipitation. `True` indicates the presence of precipitation, `false` indicates the absence of precipitation."
          },
          "is_daytime": {
            "type": "boolean",
            "description": "Indicates the time of the day. `True` indicates 'day',', `false` indicates 'night.",
            "readOnly": true
          },
          "temperature": {
            "type": "object",
            "description": "Temperature being returned.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          "apparent_temperature": {
            "type": "object",
            "description": "Perceived outdoor temperature caused by the combination of air temperature, relative humidity, and wind speed in specified unit.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "wetbulb_temperature": {
            "type": "object",
            "description": "The temperature to which air may be cooled by evaporating water into it at constant pressure until it reaches saturation.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "windchill_temperature": {
            "type": "object",
            "description": "Perceived air temperature on exposed skin due to wind.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "relative_humidity": {
            "type": "number",
            "description": "Relative humidity is the amount of water vapor present in air expressed as a percentage of the amount needed for saturation at the same temperature."
          },
          "dewpoint": {
            "type": "object",
            "description": "The dewpoint temperature in specified unit. The dewpoint temperature is the temperature that the air must be cooled to in order to reach saturation.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "wind": {
            "type": "object",
            "description": "Wind details being returned including speed and direction.",
            "properties": {
              "direction": {
                "type": "object",
                "description": "Wind direction",
                "properties": {
                  "degrees": {
                    "type": "number",
                    "description": "Wind direction in Azimuth degrees, starting at true North and continuing in clockwise direction. North is 0 degrees, east is 90 degrees, south is 180 degrees, west is 270 degrees. Possible values 0-359."
                  },
                  "localized": {
                    "type": "string",
                    "description": "Direction abbreviation in the specified language."
                  }
                }
              },
              "speed": {
                "type": "object",
                "description": "Speed of the wind in specified unit.",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              },
              "gust": {
                "type": "object",
                "description": "Wind gust. Wind gust is a sudden, brief increase in speed of the wind.",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "visibility": {
            "type": "object",
            "description": "Visibility in specified unit. A measure of the distance at which an object or light can be clearly discerned.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              },
              "obstructions": {
                "type": "string"
              }
            }
          },
          "cloud_cover": {
            "type": "number",
            "description": "Percent representing cloud cover."
          },
          "ceiling": {
            "type": "object",
            "description": "Cloud ceiling in specified unit. The ceiling is a measurement of the height of the base of the lowest clouds.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "pressure": {
            "type": "object",
            "description": "Atmospheric pressure in specified unit.",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              },
              "direction": {
                "type": "string",
                "description": "Description of the pressure tendency in specified language. One of F=Falling, S=Steady, R=Rising.",
                "enum": [
                  "Falling",
                  "Rising",
                  "Steady"
                ],
                "readOnly": true
              }
            }
          }
        }
      },
      "Weather-Alerts": {
        "description": "",
        "type": "object",
        "title": "Weather Alert Listing",
        "x-examples": {
          "Example": {
            "count": 1,
            "effective_coordinates": {
              "latitude": 47.8877148,
              "longitude": -124.6237354
            },
            "data": [
              {
                "id": 2203972,
                "category": "FLOOD",
                "description": "High Surf Advisory",
                "source": "U.S. National Weather Service",
                "areas": [
                  {
                    "name": "North Coast",
                    "summary": "High Surf Advisory in effect from 10:00 PM PST until Wednesday, 10:00 PM PST.  Source: U.S. National Weather Service",
                    "status": "New",
                    "span": {
                      "start": 1606284000,
                      "end": 1606370400
                    },
                    "details": "...HIGH SURF ADVISORY IN EFFECT FROM 10 PM THIS EVENING TO 10 PM\nPST WEDNESDAY...\n\n* WHAT...Large breaking waves of 18 to 21 feet expected in the\n  surf zone.\n\n* WHERE...North Coast and Central Coast.\n\n* WHEN...From 10 PM this evening to 10 PM PST Wednesday.\n\n* IMPACTS...Dangerous conditions along the coast and in the surf\n  zone. Localized beach erosion may also occur due to large waves.\n\nPRECAUTIONARY/PREPAREDNESS ACTIONS...\n\nLarge waves may break and run up beaches farther than usual. Keep\nyour distance from the coastline and never turn your back on the\nocean.\n\nInexperienced swimmers should remain out of the water due to\ndangerous surf conditions.\n\n&&"
                  }
                ]
              }
            ]
          }
        },
        "x-tags": [
          "Alerts"
        ],
        "properties": {
          "count": {
            "type": "number",
            "readOnly": true
          },
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "readOnly": true,
            "description": "An array of weather alert objects",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "A unique numerical identifier for a weather alert.",
                  "readOnly": true
                },
                "category": {
                  "type": "string",
                  "description": "Category of the alert.",
                  "readOnly": true
                },
                "description": {
                  "type": "string",
                  "description": "Description of the alert.",
                  "readOnly": true
                },
                "source": {
                  "type": "string",
                  "description": "The provider of the alert information. By default the source is returned in English (en-US). The alerts are from official Government Meteorological Agencies and leading global weather alert providers.",
                  "readOnly": true
                },
                "areas": {
                  "type": "array",
                  "uniqueItems": true,
                  "readOnly": true,
                  "description": "Information about the alert specific to the affected area(s).",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "\t\nThe name of an area which is affected by the alert. The location that was requested falls under the alert area.",
                        "readOnly": true
                      },
                      "summary": {
                        "type": "string",
                        "description": "Text summarizing the alert in the returned area.",
                        "readOnly": true
                      },
                      "status": {
                        "type": "string",
                        "description": "The latest status of the alert in the current area.",
                        "readOnly": true
                      },
                      "span": {
                        "type": "object",
                        "properties": {
                          "start": {
                            "type": "number",
                            "description": "The start date and time of the alert in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00. If the alert crosses multiple time zones the returned time in the response is the local time to the requested coordinate location.",
                            "readOnly": true
                          },
                          "end": {
                            "type": "number",
                            "description": "The end date and time of the alert in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00. If the alert crosses multiple time zones the returned time in the response is the local time to the requested coordinate location.",
                            "readOnly": true
                          }
                        }
                      },
                      "details": {
                        "type": "string",
                        "description": "Full details associated with the alert. Returned if `details`=True. This field is always returned in the language(s) of choice by the issuing provider and Azure Maps only returns what is created by the provider. Please note, some countries/regions may offer their native language and English. Language parameter won’t apply to this field.",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Weather-Indices": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "count": 43,
            "effective_coordinates": {
              "latitude": 37.79513,
              "longitude": -122.40299
            },
            "data": [
              {
                "id": 1,
                "name": "Running",
                "timestamp": "2021-09-04T07:00:00-07:00",
                "classification": "Very Good",
                "description": "Conditions are very good for running outdoors.",
                "value": 4,
                "percentage": 89
              }
            ]
          }
        },
        "title": "Weather Indices",
        "x-tags": [
          "Current Conditions"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of alerts returned",
            "readOnly": true
          },
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Numeric ID used to identify the specific index. ",
                  "readOnly": true
                },
                "name": {
                  "type": "string",
                  "description": "Name of the index, for example, \"Construction\", \"Outdoor Activity\", \"Flight Delays\".",
                  "readOnly": true
                },
                "timestamp": {
                  "type": "string",
                  "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*",
                  "readOnly": true
                },
                "classification": {
                  "type": "string",
                  "description": "Textual description for `value` corresponding to the level that the index value falls under, for example \"Very Good\".",
                  "readOnly": true
                },
                "description": {
                  "type": "string",
                  "description": "A textual explanation that can be used for display purposes to summarize the index value and category. For example, when the index value for Flight Delays is very good, the description will be \"Conditions are excellent for flying!\".",
                  "readOnly": true
                },
                "value": {
                  "type": "integer",
                  "description": "Level that the index value falls under, represented by an integer. This value can be 1 through 5.",
                  "readOnly": true
                },
                "percentage": {
                  "type": "integer",
                  "readOnly": true
                }
              },
              "readOnly": true
            },
            "readOnly": true
          }
        }
      },
      "Air-Quality-Current": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "effective_coordinates": {
              "latitude": "47.55355",
              "longitude": "-122.04792"
            },
            "timestamp": "2022-02-22T21:00:00+0000",
            "description": "The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.",
            "index": {
              "local": 27.5,
              "global": 30.9
            },
            "status": "Fair",
            "status_color": "#FFC300",
            "dominant_pollutant": "Ozone",
            "pollutants": [
              {
                "type": "NO2",
                "name": "Nitrogen Dioxide",
                "index": {
                  "local": 2.7,
                  "global": 2.6
                },
                "concentration": {
                  "value": 5,
                  "unit": "µg/m³"
                }
              }
            ]
          }
        },
        "title": "Air Quality Object",
        "x-tags": [
          "Air Quality"
        ],
        "properties": {
          "effective_coordinates": {
            "type": "object",
            "description": "An array of coordinates",
            "properties": {
              "latitude": {
                "type": "string",
                "description": "The effective latitude of this request"
              },
              "longitude": {
                "type": "string",
                "description": "The effective longitude of this request"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "A textual explanation of this air quality result in the requested language.",
            "readOnly": true
          },
          "index": {
            "type": "object",
            "properties": {
              "local": {
                "type": "number",
                "description": "Air quality rating on a scale set by local regulating bodies. Scales can vary widely based on location. See [Wikipedia](https://en.wikipedia.org/wiki/Air_quality_index) for more information.",
                "readOnly": true
              },
              "global": {
                "type": "number",
                "description": "Internationally normalized air quality rating on a scale from 0 to 300 and up, with higher numbers representing worse air quality.",
                "readOnly": true
              }
            }
          },
          "status": {
            "type": "string",
            "description": "One-word description of the air quality in the requested language. For example, \"Excellent\".",
            "readOnly": true
          },
          "status_color": {
            "type": "string",
            "description": "A unique color corresponding to the category of this air quality result.",
            "readOnly": true
          },
          "dominant_pollutant": {
            "type": "string",
            "description": "The pollutant with the highest concentration.",
            "readOnly": true
          },
          "pollutants": {
            "type": "array",
            "uniqueItems": true,
            "description": "Information about individual pollutants.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of pollutant. Please note that more may be added at any time.",
                  "readOnly": true
                },
                "name": {
                  "type": "string",
                  "description": "The name of the pollutant in English.",
                  "readOnly": true
                },
                "index": {
                  "type": "object",
                  "properties": {
                    "local": {
                      "type": "number",
                      "description": "Air quality rating on a scale set by local regulating bodies. Scales can vary widely based on location. See [Wikipedia](https://en.wikipedia.org/wiki/Air_quality_index) for more information.",
                      "readOnly": true
                    },
                    "global": {
                      "type": "number",
                      "description": "Internationally normalized air quality rating on a scale from 0 to 300 and up, with higher numbers representing worse air quality.",
                      "readOnly": true
                    }
                  }
                },
                "concentration": {
                  "type": "object",
                  "description": "An object containing the number of pollutant particles per volume of air.",
                  "properties": {
                    "value": {
                      "type": "number",
                      "readOnly": true
                    },
                    "unit": {
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            },
            "readOnly": true
          }
        }
      },
      "Air-Quality-Forecast-Object": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "timestamp": "2022-02-23T08:00:00+0000",
            "description": "The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.",
            "index": {
              "local": 33.7,
              "global": 35.7
            },
            "status": "Fair",
            "status_color": "#FFC300",
            "dominant_pollutant": "Ozone"
          }
        },
        "title": "Air Quality Forecast Object",
        "x-tags": [
          "Air Quality"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format. *For example, 2022-02-23T08:00:00+0000*",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "A textual explanation of this air quality result in the requested language.",
            "readOnly": true
          },
          "index": {
            "type": "object",
            "properties": {
              "local": {
                "type": "number",
                "description": "Air quality rating on a scale set by local regulating bodies. Scales can vary widely based on location. See [Wikipedia](https://en.wikipedia.org/wiki/Air_quality_index) for more information.",
                "readOnly": true
              },
              "global": {
                "type": "number",
                "description": "Internationally normalized air quality rating on a scale from 0 to 300 and up, with higher numbers representing worse air quality.",
                "readOnly": true
              }
            },
            "readOnly": true
          },
          "status": {
            "type": "string",
            "description": "One-word description of the air quality in the requested language. *For example, \"Excellent\"*.",
            "readOnly": true
          },
          "status_color": {
            "type": "string",
            "description": "A unique color corresponding to the category of this air quality result.",
            "readOnly": true
          },
          "dominant_pollutant": {
            "type": "string",
            "description": "The pollutant with the highest concentration.",
            "readOnly": true
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "200-Get-Daily-Forecast": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Weather-Forecast-Object"
            }
          }
        }
      },
      "200-Get-Current-Conditions": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Weather-Current-Conditions"
            },
            "examples": {
              "Response (Imperial Units)": {
                "$ref": "#/components/examples/Response (Imperial Units)"
              },
              "Response (Metric Units)": {
                "$ref": "#/components/examples/Response (Metric Units)"
              }
            }
          }
        }
      },
      "200-Get-Activity-Indices": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Weather-Indices"
            }
          }
        }
      },
      "200-Get-Current-AQ": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Air-Quality-Current"
            }
          }
        }
      },
      "200-Get-AQ-Forecast": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "string"
                },
                "effective_coordinates": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    }
                  }
                },
                "forecasts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Air-Quality-Forecast-Object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "@addressId": {
        "name": "@address",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Get data at the coordinates of the specified address ID"
      },
      "coordinates": {
        "name": "coordinates",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "example": "47.620506,-122.349277"
        },
        "description": "Get data at the specified lat/lon position"
      },
      "language": {
        "name": "language",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "default": "en-us"
        },
        "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
      },
      "metric": {
        "schema": {
          "type": "boolean",
          "default": "false"
        },
        "in": "query",
        "name": "metric",
        "description": "Return the results with metric units instead of imperial units"
      }
    },
    "examples": {
      "Response (Imperial Units)": {
        "value": {
          "effective_coordinates": {
            "latitude": "37.79513",
            "longitude": "-122.40299"
          },
          "units": "imperial",
          "timestamp": "2021-04-13T14:15:00+0000",
          "phrase": "Mostly cloudy",
          "icon": 6,
          "is_raining": false,
          "is_daytime": true,
          "temperature": {
            "value": 49,
            "unit": "F"
          },
          "apparent_temperature": {
            "value": 52,
            "unit": "F"
          },
          "wetbulb_temperature": {
            "value": 48,
            "unit": "F"
          },
          "windchill_temperature": {
            "value": 46,
            "unit": "F"
          },
          "relative_humidity": 90,
          "dewpoint": {
            "value": 46,
            "unit": "F"
          },
          "wind": {
            "direction": {
              "degrees": 248,
              "localized": "WSW"
            },
            "speed": {
              "value": 6,
              "unit": "mi/h"
            },
            "gust": {
              "value": 15,
              "unit": "mi/h"
            }
          },
          "visibility": {
            "value": 5,
            "unit": "mi",
            "obstructions": ""
          },
          "cloud_cover": 78,
          "ceiling": {
            "value": 5100,
            "unit": "ft"
          },
          "pressure": {
            "value": 29.87,
            "unit": "inHg",
            "direction": "Rising"
          }
        }
      },
      "Response (Metric Units)": {
        "value": {
          "effective_coordinates": {
            "latitude": "37.79513",
            "longitude": "-122.40299"
          },
          "units": "metric",
          "timestamp": "2021-04-13T14:15:00+0000",
          "phrase": "Mostly cloudy",
          "icon": 6,
          "is_raining": false,
          "is_daytime": true,
          "temperature": {
            "value": 9,
            "unit": "C"
          },
          "apparent_temperature": {
            "value": 11,
            "unit": "C"
          },
          "wetbulb_temperature": {
            "value": 8,
            "unit": "C"
          },
          "windchill_temperature": {
            "value": 7,
            "unit": "C"
          },
          "relative_humidity": 90,
          "dewpoint": {
            "value": 8,
            "unit": "C"
          },
          "wind": {
            "direction": {
              "degrees": 248,
              "localized": "WSW"
            },
            "speed": {
              "value": 10,
              "unit": "km/h"
            },
            "gust": {
              "value": 24,
              "unit": "km/h"
            }
          },
          "visibility": {
            "value": 8,
            "unit": "km",
            "obstructions": ""
          },
          "cloud_cover": 78,
          "ceiling": {
            "value": 1554,
            "unit": "m"
          },
          "pressure": {
            "value": 1011.5,
            "unit": "mb",
            "direction": "Rising"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Current Conditions"
    },
    {
      "name": "Forecast"
    },
    {
      "name": "Air Quality"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "History"
    }
  ]
}