{
  "openapi": "3.1.0",
  "info": {
    "title": "Weather",
    "version": "1.0.0",
    "description": "## Supported Languages\n\n| Code       | Name                                     |\n|------------|------------------------------------------|\n| ar         | Arabic                                   |\n| bg-BG      | Bulgarian                                |\n| bn-BD      | Bangla (Bangladesh)                      |\n| bn-IN      | Bangla (India)                           |\n| bs-BA      | Bosnian                                  |\n| ca-ES      | Catalan                                  |\n| cs-CZ      | Czech                                    |\n| da-DK      | Danish                                   |\n| de-DE      | German                                   |\n| el-GR      | Greek                                    |\n| en-AU      | English (Australia)                      |\n| en-GB      | English (Great Britain)                  |\n| en-NZ      | English (New Zealand)                    |\n| **en-US**  | **English (USA)** *Default*              |\n| es-419     | Spanish (Latin America)                  |\n| es-ES      | Spanish (Spain)                          |\n| es-MX      | Spanish (Mexico)                         |\n| et-EE      | Estonian                                 |\n| fi-FI      | Finnish                                  |\n| fil-PH     | Filipino                                 |\n| fr-CA      | French (Canada)                          |\n| fr-FR      | French (France)                          |\n| gu-IN      | Gujarati                                 |\n| he-IL      | Hebrew                                   |\n| hi-IN      | Hindi                                    |\n| hr-HR      | Croatian                                 |\n| hu-HU      | Hungarian                                |\n| id-ID      | Indonesian                               |\n| is-IS      | Icelandic                                |\n| it-IT      | Italian                                  |\n| ja-JP      | Japanese                                 |\n| kk-KZ      | Kazakh                                   |\n| kn-IN      | Kannada                                  |\n| ko-KR      | Korean                                   |\n| lt-LT      | Lithuanian                               |\n| lv-LV      | Latvian                                  |\n| mk-MK      | Macedonian                               |\n| mr-IN      | Marathi                                  |\n| ms-MY      | Malay                                    |\n| nb-NO      | Norwegian Bokmål                         |\n| nl-BE      | Dutch (Belgium)                          |\n| nl-NL      | Dutch (Netherlands)                      |\n| pa-IN      | Punjabi                                  |\n| pl-PL      | Polish                                   |\n| pt-BR      | Portuguese (Brazil)                      |\n| pt-PT      | Portuguese (Portugal)                    |\n| ro-RO      | Romanian                                 |\n| ru-RU      | Russian                                  |\n| sk-SK      | Slovak                                   |\n| sl-SI      | Slovenian                                |\n| sr-Cyrl-RS | Serbian (Cyrillic)                       |\n| sr-Latn-RS | Serbian (Latin)                          |\n| sv-SE      | Swedish                                  |\n| ta-IN      | Tamil                                    |\n| te-IN      | Telugu                                   |\n| th-TH      | Thai                                     |\n| tr-TR      | Turkish                                  |\n| uk-UA      | Ukrainian                                |\n| ur-PK      | Urdu                                     |\n| uz-Latn-UZ | Uzbek                                    |\n| vi-VN      | Vietnamese                               |\n| zh-HanS-CN | Chinese (Simplified, China)              |\n| zh-HanT-HK | Chinese (Traditional, Hong Kong SAR)     |\n| zh-HanT-TW | Chinese (Traditional, Taiwan)            |"
  },
  "servers": [
    {
      "url": "https://api.counterbalance.io",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/site/weather/forecast": {
      "get": {
        "summary": "Get Forecast",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Weather-Forecast"
                },
                "examples": {
                  "Response (Imperial Units)": {
                    "value": {
                      "effective_coordinates": {
                        "latitude": "37.79513",
                        "longitude": "-122.40299"
                      },
                      "units": "imperial",
                      "summary": "Pleasant Sunday",
                      "forecasts": [
                        {
                          "date": "2021-04-13T14:00:00+0000",
                          "sources": [
                            "AccuWeather"
                          ],
                          "air_quality": {
                            "airquality": {
                              "value": 53,
                              "rating": "Moderate",
                              "rating_value": 2
                            },
                            "grass": {
                              "value": 110,
                              "rating": "High",
                              "rating_value": 3
                            },
                            "mold": {
                              "value": 3250,
                              "rating": "Low",
                              "rating_value": 1
                            },
                            "ragweed": {
                              "value": 30,
                              "rating": "Moderate",
                              "rating_value": 2
                            },
                            "tree": {
                              "value": 50,
                              "rating": "Moderate",
                              "rating_value": 2
                            },
                            "uvindex": {
                              "value": 7,
                              "rating": "High",
                              "rating_value": 3
                            }
                          },
                          "hours_of_sun": 7,
                          "temperature": {
                            "minimum": {
                              "value": 50,
                              "unit": "F"
                            },
                            "maximum": {
                              "value": 61,
                              "unit": "F"
                            }
                          },
                          "day": {
                            "icon": 4,
                            "phrases": {
                              "long": "Areas of low clouds, then some sun",
                              "short": "Partly sunny"
                            },
                            "is_raining": false,
                            "probabilities": {
                              "precipitation": 1,
                              "thunderstorm": 0,
                              "rain": 0,
                              "snow": 1,
                              "ice": 0
                            },
                            "wind": {
                              "direction": {
                                "degrees": 256,
                                "localized": "WSW"
                              },
                              "speed": {
                                "value": 11,
                                "unit": "mi/h"
                              },
                              "gust": {
                                "value": 18,
                                "unit": "mi/h",
                                "direction": "WSW"
                              }
                            },
                            "cloud_cover": 51
                          },
                          "night": {
                            "icon": 33,
                            "phrases": {
                              "long": "Clear",
                              "short": "Clear"
                            },
                            "is_raining": false,
                            "probabilities": {
                              "precipitation": 1,
                              "thunderstorm": 0,
                              "rain": 0,
                              "snow": 1,
                              "ice": 0
                            },
                            "wind": {
                              "direction": {
                                "degrees": 192,
                                "localized": "SSW"
                              },
                              "speed": {
                                "value": 8,
                                "unit": "mi/h"
                              },
                              "gust": {
                                "value": 16,
                                "unit": "mi/h",
                                "direction": "WSW"
                              }
                            },
                            "cloud_cover": 9
                          }
                        }
                      ]
                    }
                  },
                  "Response (Metric Units)": {
                    "value": {
                      "effective_coordinates": {
                        "latitude": "37.79513",
                        "longitude": "-122.40299"
                      },
                      "units": "metric",
                      "summary": "Pleasant Sunday",
                      "forecasts": [
                        {
                          "date": "2021-04-13T14:00:00+0000",
                          "sources": [
                            "AccuWeather"
                          ],
                          "air_quality": {
                            "airquality": {
                              "value": 53,
                              "rating": "Moderate",
                              "rating_value": 2
                            },
                            "grass": {
                              "value": 110,
                              "rating": "High",
                              "rating_value": 3
                            },
                            "mold": {
                              "value": 3250,
                              "rating": "Low",
                              "rating_value": 1
                            },
                            "ragweed": {
                              "value": 30,
                              "rating": "Moderate",
                              "rating_value": 2
                            },
                            "tree": {
                              "value": 50,
                              "rating": "Moderate",
                              "rating_value": 2
                            },
                            "uvindex": {
                              "value": 7,
                              "rating": "High",
                              "rating_value": 3
                            }
                          },
                          "hours_of_sun": 7,
                          "temperature": {
                            "minimum": {
                              "value": 9,
                              "unit": "C"
                            },
                            "maximum": {
                              "value": 16,
                              "unit": "C"
                            }
                          },
                          "day": {
                            "icon": 4,
                            "phrases": {
                              "long": "Areas of low clouds, then some sun",
                              "short": "Partly sunny"
                            },
                            "is_raining": false,
                            "probabilities": {
                              "precipitation": 1,
                              "thunderstorm": 0,
                              "rain": 0,
                              "snow": 1,
                              "ice": 0
                            },
                            "wind": {
                              "direction": {
                                "degrees": 256,
                                "localized": "WSW"
                              },
                              "speed": {
                                "value": 18,
                                "unit": "km/h"
                              },
                              "gust": {
                                "value": 29,
                                "unit": "km/h",
                                "direction": "WSW"
                              }
                            },
                            "cloud_cover": 51
                          },
                          "night": {
                            "icon": 33,
                            "phrases": {
                              "long": "Clear",
                              "short": "Clear"
                            },
                            "is_raining": false,
                            "probabilities": {
                              "precipitation": 1,
                              "thunderstorm": 0,
                              "rain": 0,
                              "snow": 1,
                              "ice": 0
                            },
                            "wind": {
                              "direction": {
                                "degrees": 192,
                                "localized": "SSW"
                              },
                              "speed": {
                                "value": 13,
                                "unit": "km/h"
                              },
                              "gust": {
                                "value": 25,
                                "unit": "km/h",
                                "direction": "WSW"
                              }
                            },
                            "cloud_cover": 9
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Too Many Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID, but not both",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  },
                  "Not Enough Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Duration": {
                    "value": {
                      "error": {
                        "message": "9 is not a valid duration",
                        "console": "Invalid duration value. Allowed value(s): 1, 5, 10, or 15",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Address-Not-Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-weather-forecast",
        "description": "Retrieve a detailed daily weather forecast\n\n **Required Permissions:** `*`,`sites:*`,`sites:weather:*`,`sites:weather:forecast`\n\n ### Specifying the Location\nWeather forecasts can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n<!-- theme: warning-->\n> Parameters `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error \n\n### Units\nBy default, data is returned in Imperial units. To return data in Metric units, pass the `metric` query parameter and set it to _true_. \n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "47.620506,-122.349277"
            },
            "in": "query",
            "name": "coordinates",
            "description": "Get the weather forecast for the specified lat/lon position"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@address",
            "description": "Get the weather forecast for the specified address ID"
          },
          {
            "schema": {
              "type": "integer",
              "default": 5,
              "enum": [
                1,
                5,
                10,
                15
              ]
            },
            "in": "query",
            "name": "duration",
            "description": "The number of forecast outlook days to return"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "metric",
            "description": "Return the results with metric units instead of imperial units"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "language",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Forecast"
        ]
      }
    },
    "/v1/site/weather/current": {
      "get": {
        "summary": "Get Current Weather Conditions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Weather-Current-Conditions"
                },
                "examples": {
                  "Response (Imperial Units)": {
                    "value": {
                      "effective_coordinates": {
                        "latitude": "37.79513",
                        "longitude": "-122.40299"
                      },
                      "units": "imperial",
                      "timestamp": "2021-04-13T14:15:00+0000",
                      "phrase": "Mostly cloudy",
                      "icon": 6,
                      "is_raining": false,
                      "is_daytime": true,
                      "temperature": {
                        "value": 49,
                        "unit": "F"
                      },
                      "apparent_temperature": {
                        "value": 52,
                        "unit": "F"
                      },
                      "wetbulb_temperature": {
                        "value": 48,
                        "unit": "F"
                      },
                      "windchill_temperature": {
                        "value": 46,
                        "unit": "F"
                      },
                      "relative_humidity": 90,
                      "dewpoint": {
                        "value": 46,
                        "unit": "F"
                      },
                      "wind": {
                        "direction": {
                          "degrees": 248,
                          "localized": "WSW"
                        },
                        "speed": {
                          "value": 6,
                          "unit": "mi/h"
                        },
                        "gust": {
                          "value": 15,
                          "unit": "mi/h"
                        }
                      },
                      "visibility": {
                        "value": 5,
                        "unit": "mi",
                        "obstructions": ""
                      },
                      "cloud_cover": 78,
                      "ceiling": {
                        "value": 5100,
                        "unit": "ft"
                      },
                      "pressure": {
                        "value": 29.87,
                        "unit": "inHg",
                        "direction": "Rising"
                      }
                    }
                  },
                  "Response (Metric Units)": {
                    "value": {
                      "effective_coordinates": {
                        "latitude": "37.79513",
                        "longitude": "-122.40299"
                      },
                      "units": "metric",
                      "timestamp": "2021-04-13T14:15:00+0000",
                      "phrase": "Mostly cloudy",
                      "icon": 6,
                      "is_raining": false,
                      "is_daytime": true,
                      "temperature": {
                        "value": 9,
                        "unit": "C"
                      },
                      "apparent_temperature": {
                        "value": 11,
                        "unit": "C"
                      },
                      "wetbulb_temperature": {
                        "value": 8,
                        "unit": "C"
                      },
                      "windchill_temperature": {
                        "value": 7,
                        "unit": "C"
                      },
                      "relative_humidity": 90,
                      "dewpoint": {
                        "value": 8,
                        "unit": "C"
                      },
                      "wind": {
                        "direction": {
                          "degrees": 248,
                          "localized": "WSW"
                        },
                        "speed": {
                          "value": 10,
                          "unit": "km/h"
                        },
                        "gust": {
                          "value": 24,
                          "unit": "km/h"
                        }
                      },
                      "visibility": {
                        "value": 8,
                        "unit": "km",
                        "obstructions": ""
                      },
                      "cloud_cover": 78,
                      "ceiling": {
                        "value": 1554,
                        "unit": "m"
                      },
                      "pressure": {
                        "value": 1011.5,
                        "unit": "mb",
                        "direction": "Rising"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-current-conditions",
        "description": "Retrieve detailed current weather conditions\n\n**Required Permissions:** `*`,`sites:*`,`sites:weather:*`,`sites:weather:currently`\n\n### Specifying the Location\nWeather conditions can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n<!-- theme: warning-->\n> _Parameters `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error_\n\n### Units\nBy default, data is returned in Imperial units. To return data in Metric units, pass the `metric` query parameter and set it to _true_. \n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "47.620506,-122.349277"
            },
            "in": "query",
            "name": "coordinates",
            "description": "Get the current conditions for the specified lat/lon position"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@address",
            "description": "Get the current conditions for the specified address ID"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "metric",
            "description": "Return the results with metric units instead of imperial units"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "language",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Current Conditions"
        ]
      },
      "parameters": []
    },
    "/v1/site/weather/alerts": {
      "get": {
        "summary": "Get Alerts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Weather-Alerts"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "count": 1,
                      "effective_coordinates": {
                        "latitude": 47.8877148,
                        "longitude": -124.6237354
                      },
                      "data": [
                        {
                          "id": 2203972,
                          "category": "FLOOD",
                          "description": "High Surf Advisory",
                          "source": "U.S. National Weather Service",
                          "areas": [
                            {
                              "name": "North Coast",
                              "summary": "High Surf Advisory in effect from 10:00 PM PST until Wednesday, 10:00 PM PST.  Source: U.S. National Weather Service",
                              "status": "New",
                              "span": {
                                "start": "2021-04-13T14:00:00+0000",
                                "end": "2021-04-13T14:00:00+0000"
                              },
                              "details": "...HIGH SURF ADVISORY IN EFFECT FROM 10 PM THIS EVENING TO 10 PM\nPST WEDNESDAY...\n\n* WHAT...Large breaking waves of 18 to 21 feet expected in the\n  surf zone.\n\n* WHERE...North Coast and Central Coast.\n\n* WHEN...From 10 PM this evening to 10 PM PST Wednesday.\n\n* IMPACTS...Dangerous conditions along the coast and in the surf\n  zone. Localized beach erosion may also occur due to large waves.\n\nPRECAUTIONARY/PREPAREDNESS ACTIONS...\n\nLarge waves may break and run up beaches farther than usual. Keep\nyour distance from the coastline and never turn your back on the\nocean.\n\nInexperienced swimmers should remain out of the water due to\ndangerous surf conditions.\n\n&&"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-weather-alerts",
        "description": "Retrieve current severe weather alerts and advisories\n\n### Prerequisites\nThe following prerequisites are required for this endpoint:\n\n* An active tenant account\n* Permissions _(at least one):_ `*`,`sites:*`,`sites:weather:*`,`sites:weather:alerts`\n* Licensed Feature: `weather_alerts`\n\n### Specifying the Location\nWeather alerts and advisories can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n<!-- theme: warning-->\n> _Parameters `coordinates` and `address` are mutually exclusive. Passing more than one will result in an error_\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code.\n\n<!-- theme: warning-->\n> _The API supports any valid IETF language code but alert data may not be available in the specified language_",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "47.620506,-122.349277"
            },
            "in": "query",
            "name": "coordinates",
            "description": "Get weather alerts for the specified lat/lon position"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@address",
            "description": "Get weather alerts for the specified address ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "language",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Alerts"
        ]
      }
    },
    "/v1/site/weather/indices": {
      "get": {
        "summary": "Get Activity Indices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Weather-Indices"
          }
        },
        "operationId": "get-weather-indices",
        "description": "Get activity indices and recommendations based on current weather conditions\n\n**Required Permissions:** `*`,`sites:*`,`sites:weather:*`,`sites:weather:currently`\n\n### Specifying the Location\nWeather indices can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n<!-- theme: warning-->\n> _Parameters `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error_\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "47.620506,-122.349277"
            },
            "in": "query",
            "name": "coordinates",
            "description": "Get weather indices for the specified lat/lon position"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "@address",
            "description": "Get weather indices for the specified address ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "language",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
          }
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "Current Conditions"
        ]
      }
    },
    "/v1/weather/air-quality/current": {
      "get": {
        "summary": "Get Air Quality Conditions",
        "tags": [
          "Air Quality"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-airquality-current",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Get current air quality\n\n**Required Permissions:** `*`,`wx:*`,`wx:airquality:*`,`wx:airquality:read`\n\n### Specifying the Location\nAir quality data can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n<!-- theme: warning-->\n> _Parameters `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error_\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code"
      },
      "parameters": [
              {
          "schema": {
            "type": "string",
            "default": "47.620506,-122.349277"
          },
          "in": "query",
          "name": "coordinates",
          "description": "Get weather alerts for the specified lat/lon position"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "in": "query",
          "name": "@address",
          "description": "Get weather alerts for the specified address ID"
        },
        {
          "schema": {
            "type": "string"
          },
          "in": "query",
          "name": "language",
          "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
        }
            ]
    },
    "/v1/weather/air-quality/forecast": {
      "get": {
        "summary": "Get Air Quality Forecast",
        "tags": [
          "Air Quality"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "No Parameters": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Specify either coordinates or an address ID",
                        "code": 400
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Address Not Found": {
                    "value": {
                      "error": {
                        "message": "Address not found",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 could not be found in the database",
                        "code": 404
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error-Response.v1.yaml"
                },
                "examples": {
                  "Invalid Parameter Combination": {
                    "value": {
                      "error": {
                        "message": "Invalid request",
                        "console": "Parameters coordinates and address are mutually exclusive. Specify only one.",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  },
                  "Invalid Address Geocoding": {
                    "value": {
                      "error": {
                        "message": "Invalid address geocoding",
                        "console": "The address ID 8ac7d5dc-803d-40ac-bc37-16c0dbffe5d8 is not geocoded and we have no coordinates to check",
                        "code": 409
                      },
                      "logging_hash": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-airquality-forecast",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "description": "Get forecasted daily air quality\n\n**Required Permissions:** `*`,`wx:*`,`wx:airquality:*`,`wx:airquality:read`\n\n### Specifying the Location\nAir quality data can be obtained for a specified set of coordinates or by specifying a geocoded address object ID. Either the `coordinates` or `@address` query parameters must be passed, but not both.\n\nIf the specified address ID has not been geocoded, an error will be returned.\n\n<!-- theme: warning-->\n> _Parameters `coordinates` and `@address` are mutually exclusive. Passing more than one will result in an error_\n\n### Language\nBy default, data is returned in English. To return data in another language, pass the `langugage` query parameter and set it to a valid IETF language code"
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "default": "47.620506,-122.349277"
          },
          "in": "query",
          "name": "coordinates",
          "description": "Get air quality for the specified lat/lon position"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "in": "query",
          "name": "@address",
          "description": "Get air quality for the specified address ID"
        },
        {
          "schema": {
            "type": "string"
          },
          "in": "query",
          "name": "language",
          "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive."
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Weather-Forecast-Object": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Example": {
            "effective_coordinates": {
              "latitude": "44.98588",
              "longitude": "-93.28069"
            },
            "units": "imperial",
            "summary": "Snow between late tonight and tomorrow morning will accumulate 1-2 inches before changing to rain",
            "forecasts": [
              {
                "date": 1606136400,
                "sources": [
                  "AccuWeather"
                ],
                "air_quality": {
                  "airquality": {
                    "value": 75,
                    "rating": "Moderate",
                    "rating_value": 2
                  },
                  "grass": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "mold": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "ragweed": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "tree": {
                    "value": 0,
                    "rating": "Low",
                    "rating_value": 1
                  },
                  "uvindex": {
                    "value": 2,
                    "rating": "Low",
                    "rating_value": 1
                  }
                },
                "hours_of_sun": 7,
                "temperature": {
                  "minimum": {
                    "value": 30,
                    "unit": "F"
                  },
                  "maximum": {
                    "value": 38,
                    "unit": "F"
                  }
                },
                "day": {
                  "icon": 3,
                  "phrases": {
                    "long": "Times of clouds and sun",
                    "short": "Times of clouds and sun"
                  },
                  "is_raining": false,
                  "probabilities": {
                    "precipitation": 4,
                    "thunderstorm": 0,
                    "rain": 3,
                    "snow": 1,
                    "ice": 0
                  },
                  "wind": {
                    "direction": {
                      "degrees": 122,
                      "localized": "ESE"
                    },
                    "speed": {
                      "value": 4,
                      "unit": "mi/h"
                    },
                    "gust": {
                      "value": 10,
                      "unit": "mi/h",
                      "direction": "SE"
                    }
                  },
                  "cloud_cover": 29
                },
                "night": {
                  "icon": 22,
                  "phrases": {
                    "long": "Plenty of clouds with a coating to an inch of snow late",
                    "short": "Overcast with snow late"
                  },
                  "is_raining": true,
                  "probabilities": {
                    "precipitation": 75,
                    "thunderstorm": 0,
                    "rain": 10,
                    "snow": 75,
                    "ice": 3
                  },
                  "wind": {
                    "direction": {
                      "degrees": 139,
                      "localized": "SE"
                    },
                    "speed": {
                      "value": 9,
                      "unit": "mi/h"
                    },
                    "gust": {
                      "value": 13,
                      "unit": "mi/h",
                      "direction": "SE"
                    }
                  },
                  "cloud_cover": 97
                }
              }
            ]
          }
        },
        "title": "Weather Forecast Object",
        "x-tags": [
          "Forecast"
        ],
        "properties": {
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "units": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "forecasts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "air_quality": {
                  "type": "object",
                  "properties": {
                    "airquality": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "grass": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "mold": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "ragweed": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "tree": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    },
                    "uvindex": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "rating": {
                          "type": "string"
                        },
                        "rating_value": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "hours_of_sun": {
                  "type": "number"
                },
                "temperature": {
                  "type": "object",
                  "properties": {
                    "minimum": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "unit": {
                          "type": "string"
                        }
                      }
                    },
                    "maximum": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "unit": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "day": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "number"
                    },
                    "phrases": {
                      "type": "object",
                      "properties": {
                        "long": {
                          "type": "string"
                        },
                        "short": {
                          "type": "string"
                        }
                      }
                    },
                    "is_raining": {
                      "type": "boolean"
                    },
                    "probabilities": {
                      "type": "object",
                      "properties": {
                        "precipitation": {
                          "type": "number"
                        },
                        "thunderstorm": {
                          "type": "number"
                        },
                        "rain": {
                          "type": "number"
                        },
                        "snow": {
                          "type": "number"
                        },
                        "ice": {
                          "type": "number"
                        }
                      }
                    },
                    "wind": {
                      "type": "object",
                      "properties": {
                        "direction": {
                          "type": "object",
                          "properties": {
                            "degrees": {
                              "type": "number"
                            },
                            "localized": {
                              "type": "string"
                            }
                          }
                        },
                        "speed": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            }
                          }
                        },
                        "gust": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            },
                            "direction": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "cloud_cover": {
                      "type": "number"
                    }
                  }
                },
                "night": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "number"
                    },
                    "phrases": {
                      "type": "object",
                      "properties": {
                        "short": {
                          "type": "string"
                        }
                      }
                    },
                    "is_raining": {
                      "type": "boolean"
                    },
                    "probabilities": {
                      "type": "object",
                      "properties": {
                        "precipitation": {
                          "type": "number"
                        },
                        "thunderstorm": {
                          "type": "number"
                        },
                        "rain": {
                          "type": "number"
                        },
                        "snow": {
                          "type": "number"
                        },
                        "ice": {
                          "type": "number"
                        }
                      }
                    },
                    "wind": {
                      "type": "object",
                      "properties": {
                        "direction": {
                          "type": "object",
                          "properties": {
                            "degrees": {
                              "type": "number"
                            },
                            "localized": {
                              "type": "string"
                            }
                          }
                        },
                        "speed": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            }
                          }
                        },
                        "gust": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            },
                            "direction": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "cloud_cover": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Weather-Current-Conditions": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Example": {
            "effective_coordinates": {
              "latitude": "44.98588",
              "longitude": "-93.28069"
            },
            "units": "imperial",
            "timestamp": 1606150620,
            "phrase": "Mostly sunny",
            "icon": 2,
            "is_raining": false,
            "is_daytime": true,
            "temperature": {
              "value": 30,
              "unit": "F"
            },
            "apparent_temperature": {
              "value": 30,
              "unit": "F"
            },
            "wetbulb_temperature": {
              "value": 28,
              "unit": "F"
            },
            "windchill_temperature": {
              "value": 27,
              "unit": "F"
            },
            "relative_humidity": 71,
            "dewpoint": {
              "value": 22,
              "unit": "F"
            },
            "wind": {
              "direction": {
                "degrees": 113,
                "localized": "ESE"
              },
              "speed": {
                "value": 3,
                "unit": "mi/h"
              },
              "gust": {
                "value": 6,
                "unit": "mi/h"
              }
            },
            "visibility": {
              "value": 10,
              "unit": "mi",
              "obstructions": ""
            },
            "cloud_cover": 14,
            "ceiling": {
              "value": 40000,
              "unit": "ft"
            },
            "pressure": {
              "value": 30.37,
              "unit": "inHg",
              "direction": "Steady"
            }
          }
        },
        "title": "Weather Current Conditions Object",
        "properties": {
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "units": {
            "type": "string"
          },
          "timestamp": {
            "type": "number"
          },
          "phrase": {
            "type": "string"
          },
          "icon": {
            "type": "number"
          },
          "is_raining": {
            "type": "boolean"
          },
          "is_daytime": {
            "type": "boolean"
          },
          "temperature": {
            "type": "object",
            "required": [
              "value",
              "unit"
            ],
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          "apparent_temperature": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "wetbulb_temperature": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "windchill_temperature": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "relative_humidity": {
            "type": "number"
          },
          "dewpoint": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "wind": {
            "type": "object",
            "properties": {
              "direction": {
                "type": "object",
                "properties": {
                  "degrees": {
                    "type": "number"
                  },
                  "localized": {
                    "type": "string"
                  }
                }
              },
              "speed": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              },
              "gust": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "visibility": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              },
              "obstructions": {
                "type": "string"
              }
            }
          },
          "cloud_cover": {
            "type": "number"
          },
          "ceiling": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "pressure": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              },
              "direction": {
                "type": "string"
              }
            }
          }
        },
        "x-tags": [
          "Current Conditions"
        ]
      },
      "Weather-Alerts": {
        "description": "",
        "type": "object",
        "title": "Weather Alert Listing",
        "x-examples": {
          "Example": {
            "count": 1,
            "effective_coordinates": {
              "latitude": 47.8877148,
              "longitude": -124.6237354
            },
            "data": [
              {
                "id": 2203972,
                "category": "FLOOD",
                "description": "High Surf Advisory",
                "source": "U.S. National Weather Service",
                "areas": [
                  {
                    "name": "North Coast",
                    "summary": "High Surf Advisory in effect from 10:00 PM PST until Wednesday, 10:00 PM PST.  Source: U.S. National Weather Service",
                    "status": "New",
                    "span": {
                      "start": 1606284000,
                      "end": 1606370400
                    },
                    "details": "...HIGH SURF ADVISORY IN EFFECT FROM 10 PM THIS EVENING TO 10 PM\nPST WEDNESDAY...\n\n* WHAT...Large breaking waves of 18 to 21 feet expected in the\n  surf zone.\n\n* WHERE...North Coast and Central Coast.\n\n* WHEN...From 10 PM this evening to 10 PM PST Wednesday.\n\n* IMPACTS...Dangerous conditions along the coast and in the surf\n  zone. Localized beach erosion may also occur due to large waves.\n\nPRECAUTIONARY/PREPAREDNESS ACTIONS...\n\nLarge waves may break and run up beaches farther than usual. Keep\nyour distance from the coastline and never turn your back on the\nocean.\n\nInexperienced swimmers should remain out of the water due to\ndangerous surf conditions.\n\n&&"
                  }
                ]
              }
            ]
          }
        },
        "x-tags": [
          "Alerts"
        ],
        "properties": {
          "count": {
            "type": "number"
          },
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "category": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "areas": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "summary": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "span": {
                        "type": "object",
                        "properties": {
                          "start": {
                            "type": "number"
                          },
                          "end": {
                            "type": "number"
                          }
                        }
                      },
                      "details": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Weather-Indices": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "count": 43,
            "effective_coordinates": {
              "latitude": 37.79513,
              "longitude": -122.40299
            },
            "data": [
              {
                "id": 1,
                "name": "Running",
                "timestamp": "2021-09-04T07:00:00-07:00",
                "classification": "Very Good",
                "description": "Conditions are very good for running outdoors.",
                "value": 4,
                "percentage": 89
              }
            ]
          }
        },
        "properties": {
          "count": {
            "type": "integer"
          },
          "effective_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "timestamp": {
                  "type": "string",
                  "minLength": 1
                },
                "classification": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string",
                  "minLength": 1
                },
                "value": {
                  "type": "integer"
                },
                "percentage": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "title": "Weather Indices",
        "x-tags": [
          "Current Conditions"
        ]
      },
      "Air-Quality-Current": {
        "title": "Air-Quality-Object",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "200-Get-Daily-Forecast": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "200-Get-Current-Conditions": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "200-Get-Activity-Indices": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Current Conditions"
    },
    {
      "name": "Forecast"
    },
    {
      "name": "Air Quality"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "History"
    }
  ]
}